n8n-workflows/add_categorized_tag.json
{
  "updatedAt": "2025-11-28T11:44:11.000Z",
  "createdAt": "2025-11-28T07:46:15.118Z",
  "id": "vYPXcEiszJR2yd1o",
  "name": "Add Categorized Tag",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1360,
        480
      ],
      "id": "77951041-613a-4075-a1db-32dae388826b",
      "name": "Get many messages"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://graph.microsoft.com/v1.0/me/messages/{{$json.id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$input.first().json[\"access_token\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"categories\": {{ JSON.stringify($json.categories) }}\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5,
              "batchInterval": 1500
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -720,
        464
      ],
      "id": "448c9501-b8be-4417-92db-d81f6d576cea",
      "name": "AI Category",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "05a8fb07-b925-4c0c-a8af-21e1f8b26491",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1136,
        480
      ],
      "id": "3404bc4f-0664-4ae4-848c-88dc68323268",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "-3257168516",
        "text": "=Error in workflow {{ $workflow.name }}\n{{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -496,
        464
      ],
      "id": "74c609c8-abad-4ac3-b259-56def1c751b8",
      "name": "Error Message",
      "webhookId": "f47eba34-f626-4cc1-bf72-ebf3fbba3706",
      "credentials": {
        "telegramApi": {
          "id": "JG4HCYCvUBrFrjrG",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n    const json = item.json;\n    const existing = json.categories || [];\n    const toAdd = \"Categorized\";\n\n    // Kategorileri merge et\n    const merged = Array.from(new Set([...existing, toAdd]));\n\n    // Güncel kategoriyi geri yaz\n    json.categories = merged;\n\n    return { json };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        448
      ],
      "id": "63e3e496-781f-4052-bfce-647b595bec14",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        304
      ],
      "id": "0fed6612-21ee-4ae9-9743-842eff0e3919",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1504,
        320
      ],
      "id": "67c2f5c7-1239-4a1b-bdf0-e95f80b6d22e",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Get many messages": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Category": {
      "main": [
        [],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "access_token": "EwBYBMl6BAAUBKgm8k1UswUNwklmy2v7U/S+1fEAAZwHKMuQAcCwjFkgDvvMdm3D3qPhVyxoyG4LYw1NT9S8Yhv0tbRKPgDG7IAGzna+e7nM+8w7Txl7SWbHn7O0wjNhevd9wHTk0dPEQ6MdMzNjNkYsxuOwSoqlo7GDjzoH8ZZx4RBnTYjCdt2akkZ/VDSGHPzTCKTtDOnngfFPbpCl9uoIIVbihFfoR7Yb+OP0QyoTRdlRKMemj6pU7S0WUUDvOuOwJEMmcq9QYM0Urt49pEXr/9t+yvxeBQLqFzuoMyh6zClIcSMSZe0LUWz9vVrqV5XgVRduGRt8R4toOOAexWTU0Su4F6sa8CKIowzKtCiC2+dKmiwYShwvdl0dk58QZgAAEC7dXUy61grCHOv/Ao0GroEgAxVPvaRqMG9efIts54i2WWqXYvJPxhAUM3ThEGTktIvJgHBj0Q8PW5ELTvY0+CCuSCRoGSWNI4cQfxiSlEzpTa1OAocU0jTPDCo+IiXSvLHg7wxYLKFf+XFGjZAog6DXP7ceIVzWcnP6Lo2dno17Sc7wxoxoJmmwD10nbY8GSNnsPYZN9kbbgKwzH+Knfqe7Pr8PJHPcu2CSaoZvRHE940GE2KrF5pGhMqshZMyhc8HF3C8p6Pb31IaNK39ttwrO3yIzBF9p6oBYmt7ufvdtYVeqRQ+FfC3/X+TNx6kYjQ50MPOXvwoOJ2Z1s03ng2pnZ8OA5q9TTZz36HPuYsnrs6Rof5fzZsHe+CuaCYCaTWzikYpZlRSfc22opV/rPzw4WKo5tbsNlHguNS50aWU4nawvpTT9LsHeXZLMxH9b+vW7mwf9yNt6jdLUriBe8G50Nx0RSGyw9L6DfXqyD4v1EajVeKCktFpLBIJodJFb8ModKIsOw2JhLIAH62e6XcALQ9hvz7B8XQ8HiXlDkPzsCRYyAfj2TLPZplGDVEh7MSKSOuRj23YFZxO4c07/o8rQXkoQKWBUuor4DSsJyZe2BQKaDOKul3xPwLO8ohpqPEfuFwxnXv0zeTpYuabpq3ytruNYHYEYT4LwTzU/7nxO4tP2ww+NwJWmY0uG0CPl7h0WGXit3OcajCa98D45Vq5xUgHSgz8CUwajVjAlyxZdWdkxAeRgWHVDkdwsHkN1pxbwGozVWluPEkpj17f7Fpk2pTgat0KZZkW5FMr0T2fKN1MdQtBoyyp1ZKWbv1zLdRW6sqrJE64IsnUTqRjk6xUky0u66KkyJVj2eSXFMfInI2sEh+BPF44rsiEdFwKcToUIZP8Onn2rTc7Hm3x1npSuM6iLONeqxplzKtkB+Hw8jOylYbp1mbpP/9nnbxucXIybV/G+BC9yMLe4AupCHwLJ2gmBiMqfyjuzTtb1NJrZFHwhzIlHGx2zL7HWOnh0LoM7zYJCrc4ukhSomrwAzu8yRzr0xbf0MqNf1mM35zl4p+fBPFHRGxZxgOmkrl4sym0BZAM=",
          "telegram_chat_id": "-1003315838853",
          "user_id": "103d5077-eea1-47af-8d6f-3f4c63d87aba",
          "email": "berkayguzel06@outlook.com",
          "name": "Berkay",
          "last_name": "Güzel",
          "@odata.etag": "W/\"CQAAABYAAACmbAuzjNRkRJHPPR9ftVhgAAEuEXDC\"",
          "id": "AQMkADAwATM0MDAAMS03YjViLTdjNTUALTAwAi0wMAoARgAAA1U4W2Btfe5Ik7wnmiPAttwHAKZsC7OM1GREkc89H1_1WGAAAAIBDAAAAKZsC7OM1GREkc89H1_1WGAAAS4cfpMAAAA=",
          "categories": [
            "Calendar"
          ],
          "receivedDateTime": "2025-11-25T17:15:32Z",
          "hasAttachments": false,
          "subject": "Entegrasyon Sürecine İlişkin Onay Talebi",
          "bodyPreview": "Selam,\r\n\r\nAkinon tarafındaki entegrasyon için hazırlanan yeni yapılandırma dosyalarını test ortamına aktarmadan önce onayını talep ediyorum.\r\n\r\nKontrol etmeni istediğim noktalar:\r\n\r\n  *   Endpoint doğruluk testi\r\n\r\n  *   Timeout & retry politikaları\r\n\r\n  ",
          "from": {
            "emailAddress": {
              "name": "Berkay Güzel",
              "address": "berkayguzel43@gmail.com"
            }
          },
          "toRecipients": [
            {
              "emailAddress": {
                "name": "berkayguzel06@outlook.com",
                "address": "berkayguzel06@outlook.com"
              }
            }
          ]
        }
      },
      {
        "json": {
          "access_token": "EwBYBMl6BAAUBKgm8k1UswUNwklmy2v7U/S+1fEAAZwHKMuQAcCwjFkgDvvMdm3D3qPhVyxoyG4LYw1NT9S8Yhv0tbRKPgDG7IAGzna+e7nM+8w7Txl7SWbHn7O0wjNhevd9wHTk0dPEQ6MdMzNjNkYsxuOwSoqlo7GDjzoH8ZZx4RBnTYjCdt2akkZ/VDSGHPzTCKTtDOnngfFPbpCl9uoIIVbihFfoR7Yb+OP0QyoTRdlRKMemj6pU7S0WUUDvOuOwJEMmcq9QYM0Urt49pEXr/9t+yvxeBQLqFzuoMyh6zClIcSMSZe0LUWz9vVrqV5XgVRduGRt8R4toOOAexWTU0Su4F6sa8CKIowzKtCiC2+dKmiwYShwvdl0dk58QZgAAEC7dXUy61grCHOv/Ao0GroEgAxVPvaRqMG9efIts54i2WWqXYvJPxhAUM3ThEGTktIvJgHBj0Q8PW5ELTvY0+CCuSCRoGSWNI4cQfxiSlEzpTa1OAocU0jTPDCo+IiXSvLHg7wxYLKFf+XFGjZAog6DXP7ceIVzWcnP6Lo2dno17Sc7wxoxoJmmwD10nbY8GSNnsPYZN9kbbgKwzH+Knfqe7Pr8PJHPcu2CSaoZvRHE940GE2KrF5pGhMqshZMyhc8HF3C8p6Pb31IaNK39ttwrO3yIzBF9p6oBYmt7ufvdtYVeqRQ+FfC3/X+TNx6kYjQ50MPOXvwoOJ2Z1s03ng2pnZ8OA5q9TTZz36HPuYsnrs6Rof5fzZsHe+CuaCYCaTWzikYpZlRSfc22opV/rPzw4WKo5tbsNlHguNS50aWU4nawvpTT9LsHeXZLMxH9b+vW7mwf9yNt6jdLUriBe8G50Nx0RSGyw9L6DfXqyD4v1EajVeKCktFpLBIJodJFb8ModKIsOw2JhLIAH62e6XcALQ9hvz7B8XQ8HiXlDkPzsCRYyAfj2TLPZplGDVEh7MSKSOuRj23YFZxO4c07/o8rQXkoQKWBUuor4DSsJyZe2BQKaDOKul3xPwLO8ohpqPEfuFwxnXv0zeTpYuabpq3ytruNYHYEYT4LwTzU/7nxO4tP2ww+NwJWmY0uG0CPl7h0WGXit3OcajCa98D45Vq5xUgHSgz8CUwajVjAlyxZdWdkxAeRgWHVDkdwsHkN1pxbwGozVWluPEkpj17f7Fpk2pTgat0KZZkW5FMr0T2fKN1MdQtBoyyp1ZKWbv1zLdRW6sqrJE64IsnUTqRjk6xUky0u66KkyJVj2eSXFMfInI2sEh+BPF44rsiEdFwKcToUIZP8Onn2rTc7Hm3x1npSuM6iLONeqxplzKtkB+Hw8jOylYbp1mbpP/9nnbxucXIybV/G+BC9yMLe4AupCHwLJ2gmBiMqfyjuzTtb1NJrZFHwhzIlHGx2zL7HWOnh0LoM7zYJCrc4ukhSomrwAzu8yRzr0xbf0MqNf1mM35zl4p+fBPFHRGxZxgOmkrl4sym0BZAM=",
          "telegram_chat_id": "-1003315838853",
          "user_id": "103d5077-eea1-47af-8d6f-3f4c63d87aba",
          "email": "berkayguzel06@outlook.com",
          "name": "Berkay",
          "last_name": "Güzel",
          "@odata.etag": "W/\"CQAAABYAAACmbAuzjNRkRJHPPR9ftVhgAAEuEXDH\"",
          "id": "AQMkADAwATM0MDAAMS03YjViLTdjNTUALTAwAi0wMAoARgAAA1U4W2Btfe5Ik7wnmiPAttwHAKZsC7OM1GREkc89H1_1WGAAAAIBDAAAAKZsC7OM1GREkc89H1_1WGAAAS4cfpQAAAA=",
          "categories": [
            "Calendar"
          ],
          "receivedDateTime": "2025-11-25T17:14:52Z",
          "hasAttachments": true,
          "subject": "İnceleme İçin Gereken Dokümanlar (Ek Mevcut)",
          "bodyPreview": "Merhaba,\r\n\r\nBahsettiğimiz süreç analiziyle ilgili dokümanları ekte paylaşıyorum. (attachment sen ekleyeceksin)\r\n\r\nİnceledikten sonra:\r\n\r\n  *   Eksik gördüğün noktaları işaretleyebilir\r\n\r\n  *   Revizyon önerilerini yazabilir\r\n\r\n  *   Onayladığın versiyonu ",
          "from": {
            "emailAddress": {
              "name": "Berkay Güzel",
              "address": "berkayguzel43@gmail.com"
            }
          },
          "toRecipients": [
            {
              "emailAddress": {
                "name": "berkayguzel06@outlook.com",
                "address": "berkayguzel06@outlook.com"
              }
            }
          ]
        }
      },
      {
        "json": {
          "access_token": "EwBYBMl6BAAUBKgm8k1UswUNwklmy2v7U/S+1fEAAZwHKMuQAcCwjFkgDvvMdm3D3qPhVyxoyG4LYw1NT9S8Yhv0tbRKPgDG7IAGzna+e7nM+8w7Txl7SWbHn7O0wjNhevd9wHTk0dPEQ6MdMzNjNkYsxuOwSoqlo7GDjzoH8ZZx4RBnTYjCdt2akkZ/VDSGHPzTCKTtDOnngfFPbpCl9uoIIVbihFfoR7Yb+OP0QyoTRdlRKMemj6pU7S0WUUDvOuOwJEMmcq9QYM0Urt49pEXr/9t+yvxeBQLqFzuoMyh6zClIcSMSZe0LUWz9vVrqV5XgVRduGRt8R4toOOAexWTU0Su4F6sa8CKIowzKtCiC2+dKmiwYShwvdl0dk58QZgAAEC7dXUy61grCHOv/Ao0GroEgAxVPvaRqMG9efIts54i2WWqXYvJPxhAUM3ThEGTktIvJgHBj0Q8PW5ELTvY0+CCuSCRoGSWNI4cQfxiSlEzpTa1OAocU0jTPDCo+IiXSvLHg7wxYLKFf+XFGjZAog6DXP7ceIVzWcnP6Lo2dno17Sc7wxoxoJmmwD10nbY8GSNnsPYZN9kbbgKwzH+Knfqe7Pr8PJHPcu2CSaoZvRHE940GE2KrF5pGhMqshZMyhc8HF3C8p6Pb31IaNK39ttwrO3yIzBF9p6oBYmt7ufvdtYVeqRQ+FfC3/X+TNx6kYjQ50MPOXvwoOJ2Z1s03ng2pnZ8OA5q9TTZz36HPuYsnrs6Rof5fzZsHe+CuaCYCaTWzikYpZlRSfc22opV/rPzw4WKo5tbsNlHguNS50aWU4nawvpTT9LsHeXZLMxH9b+vW7mwf9yNt6jdLUriBe8G50Nx0RSGyw9L6DfXqyD4v1EajVeKCktFpLBIJodJFb8ModKIsOw2JhLIAH62e6XcALQ9hvz7B8XQ8HiXlDkPzsCRYyAfj2TLPZplGDVEh7MSKSOuRj23YFZxO4c07/o8rQXkoQKWBUuor4DSsJyZe2BQKaDOKul3xPwLO8ohpqPEfuFwxnXv0zeTpYuabpq3ytruNYHYEYT4LwTzU/7nxO4tP2ww+NwJWmY0uG0CPl7h0WGXit3OcajCa98D45Vq5xUgHSgz8CUwajVjAlyxZdWdkxAeRgWHVDkdwsHkN1pxbwGozVWluPEkpj17f7Fpk2pTgat0KZZkW5FMr0T2fKN1MdQtBoyyp1ZKWbv1zLdRW6sqrJE64IsnUTqRjk6xUky0u66KkyJVj2eSXFMfInI2sEh+BPF44rsiEdFwKcToUIZP8Onn2rTc7Hm3x1npSuM6iLONeqxplzKtkB+Hw8jOylYbp1mbpP/9nnbxucXIybV/G+BC9yMLe4AupCHwLJ2gmBiMqfyjuzTtb1NJrZFHwhzIlHGx2zL7HWOnh0LoM7zYJCrc4ukhSomrwAzu8yRzr0xbf0MqNf1mM35zl4p+fBPFHRGxZxgOmkrl4sym0BZAM=",
          "telegram_chat_id": "-1003315838853",
          "user_id": "103d5077-eea1-47af-8d6f-3f4c63d87aba",
          "email": "berkayguzel06@outlook.com",
          "name": "Berkay",
          "last_name": "Güzel",
          "@odata.etag": "W/\"CQAAABYAAACmbAuzjNRkRJHPPR9ftVhgAAEuEXDM\"",
          "id": "AQMkADAwATM0MDAAMS03YjViLTdjNTUALTAwAi0wMAoARgAAA1U4W2Btfe5Ik7wnmiPAttwHAKZsC7OM1GREkc89H1_1WGAAAAIBDAAAAKZsC7OM1GREkc89H1_1WGAAAS4cfpUAAAA=",
          "categories": [
            "Calendar"
          ],
          "receivedDateTime": "2025-11-13T13:20:28Z",
          "hasAttachments": true,
          "subject": "Evren Hayat Hediye 07.11.2025-13.11.2025 Tarihli Muhasebe Raporu hk",
          "bodyPreview": "Merhaba, Evren Hayat Hediye'ye ait 07.11.2025 - 13.11.2025 tarihli siparişlerin dökümü ekte bilgilerinize sunulmuştur. Hayat Hediye",
          "from": {
            "emailAddress": {
              "name": "Berkay Güzel",
              "address": "berkayguzel43@gmail.com"
            }
          },
          "toRecipients": [
            {
              "emailAddress": {
                "name": "berkayguzel06@outlook.com",
                "address": "berkayguzel06@outlook.com"
              }
            }
          ]
        }
      }
    ]
  },
  "versionId": "03e40695-ac36-4022-b890-b264fe210195",
  "versionCounter": 14,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-28T07:46:15.121Z",
      "createdAt": "2025-11-28T07:46:15.121Z",
      "role": "workflow:owner",
      "workflowId": "vYPXcEiszJR2yd1o",
      "projectId": "Ti3JL05CSVUvJj6A",
      "project": {
        "updatedAt": "2025-10-20T20:29:51.468Z",
        "createdAt": "2025-10-20T20:29:10.045Z",
        "id": "Ti3JL05CSVUvJj6A",
        "name": "Berkay Güzel <berkayguzel43@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-20T20:29:10.046Z",
            "createdAt": "2025-10-20T20:29:10.046Z",
            "userId": "63547d7a-5632-4caa-b82b-e1517f572f8f",
            "projectId": "Ti3JL05CSVUvJj6A",
            "user": {
              "updatedAt": "2025-12-01T05:39:44.000Z",
              "createdAt": "2025-10-20T20:29:09.823Z",
              "id": "63547d7a-5632-4caa-b82b-e1517f572f8f",
              "email": "berkayguzel43@gmail.com",
              "firstName": "Berkay",
              "lastName": "Güzel",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-20T20:29:56.564Z",
                "personalization_survey_n8n_version": "1.115.3"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "igqmQcqCfFbzi8Ws",
                "userActivatedAt": 1761636420034,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763316240404
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-01",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-28T07:47:36.846Z",
      "createdAt": "2025-11-28T07:47:36.846Z",
      "id": "rFb0OIp7gOe3RUr9",
      "name": "categorized"
    },
    {
      "updatedAt": "2025-11-25T07:28:56.435Z",
      "createdAt": "2025-11-25T07:28:56.435Z",
      "id": "uEPVpiLWGIcHIKbE",
      "name": "non-exectuable"
    }
  ]
}