n8n-workflows/add_draft_tag.json
{
  "updatedAt": "2025-12-05T16:33:59.000Z",
  "createdAt": "2025-12-05T16:20:06.454Z",
  "id": "3ySZih0p1cVAfrHX",
  "name": "Add Draft Tag",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1312,
        432
      ],
      "id": "28601622-d51a-497e-b1b6-03cc6725ceda",
      "name": "Get many messages"
    },
    {
      "parameters": {
        "chatId": "-3257168516",
        "text": "=Error in workflow {{ $workflow.name }}\n{{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -416,
        432
      ],
      "id": "86328642-5901-4736-b3eb-ea6a612f9326",
      "name": "Error Message",
      "webhookId": "0f50995f-5310-4475-a73b-dea3f071a077",
      "credentials": {
        "telegramApi": {
          "id": "JG4HCYCvUBrFrjrG",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://graph.microsoft.com/v1.0/me/messages/{{$json.id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$input.first().json[\"access_token\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"categories\": {{ JSON.stringify($json.categories) }}\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -640,
        432
      ],
      "id": "0c139748-7cd0-4530-8341-70f4183c4fc7",
      "name": "AI Calendar",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n    const json = item.json;\n    const existing = json.categories || [];\n    const toAdd = \"draft\";\n\n    // Kategorileri merge et\n    const merged = Array.from(new Set([...existing, toAdd]));\n\n    // Güncel kategoriyi geri yaz\n    json.categories = merged;\n\n    return { json };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        432
      ],
      "id": "619d07cd-10e6-4efa-97da-c5757672e190",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "05a8fb07-b925-4c0c-a8af-21e1f8b26491",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1088,
        432
      ],
      "id": "f77af2ae-8c44-49c1-81a3-31bf4dd47ef1",
      "name": "If1"
    }
  ],
  "connections": {
    "Get many messages": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Calendar": {
      "main": [
        [],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "0a5c51da-e07b-4757-b333-c171730042ce",
  "versionCounter": 2,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-05T16:20:06.458Z",
      "createdAt": "2025-12-05T16:20:06.458Z",
      "role": "workflow:owner",
      "workflowId": "3ySZih0p1cVAfrHX",
      "projectId": "Ti3JL05CSVUvJj6A",
      "project": {
        "updatedAt": "2025-10-20T20:29:51.468Z",
        "createdAt": "2025-10-20T20:29:10.045Z",
        "id": "Ti3JL05CSVUvJj6A",
        "name": "Berkay Güzel <berkayguzel43@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-20T20:29:10.046Z",
            "createdAt": "2025-10-20T20:29:10.046Z",
            "userId": "63547d7a-5632-4caa-b82b-e1517f572f8f",
            "projectId": "Ti3JL05CSVUvJj6A",
            "user": {
              "updatedAt": "2025-12-05T16:18:55.000Z",
              "createdAt": "2025-10-20T20:29:09.823Z",
              "id": "63547d7a-5632-4caa-b82b-e1517f572f8f",
              "email": "berkayguzel43@gmail.com",
              "firstName": "Berkay",
              "lastName": "Güzel",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-20T20:29:56.564Z",
                "personalization_survey_n8n_version": "1.115.3"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "igqmQcqCfFbzi8Ws",
                "userActivatedAt": 1761636420034,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763316240404
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-12-05T16:32:21.179Z",
      "createdAt": "2025-12-05T16:32:21.179Z",
      "id": "oaHPeL6BLsQowLef",
      "name": "draft"
    },
    {
      "updatedAt": "2025-11-25T07:28:56.435Z",
      "createdAt": "2025-11-25T07:28:56.435Z",
      "id": "uEPVpiLWGIcHIKbE",
      "name": "non-exectuable"
    }
  ]
}