n8n-workflows/add_prioritizing_tag.json
{
  "updatedAt": "2025-12-05T06:44:58.149Z",
  "createdAt": "2025-12-05T06:44:58.149Z",
  "id": "olll2zgvKdD719qH",
  "name": "Add Prioritizing Tag",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1312,
        432
      ],
      "id": "bdfabbdb-c472-45a5-b5ea-5d7f453b686e",
      "name": "Get many messages"
    },
    {
      "parameters": {
        "chatId": "-3257168516",
        "text": "=Error in workflow {{ $workflow.name }}\n{{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -416,
        432
      ],
      "id": "f1897ff3-55cb-4e8a-8f02-4ce2c436dcce",
      "name": "Error Message",
      "webhookId": "6ef1f641-e51b-4e60-a527-a36322e6df7a",
      "credentials": {
        "telegramApi": {
          "id": "xTSQ9buOorLMIRKW",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://graph.microsoft.com/v1.0/me/messages/{{$json.id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$input.first().json[\"access_token\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"categories\": {{ JSON.stringify($json.categories) }}\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -640,
        432
      ],
      "id": "b263c164-45a0-4e1a-ad0c-82195dca05f7",
      "name": "AI Calendar",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n    const json = item.json;\n    const existing = json.categories || [];\n    const toAdd = \"Prioritized\";\n\n    // Kategorileri merge et\n    const merged = Array.from(new Set([...existing, toAdd]));\n\n    // Güncel kategoriyi geri yaz\n    json.categories = merged;\n\n    return { json };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        432
      ],
      "id": "035d3e9a-70fa-4ad4-aa1c-2e835a6f05b2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "05a8fb07-b925-4c0c-a8af-21e1f8b26491",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1088,
        432
      ],
      "id": "d874c7af-55e7-45ce-89ee-7d5b8ba6db5f",
      "name": "If1"
    }
  ],
  "connections": {
    "Get many messages": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Calendar": {
      "main": [
        [],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "70d371bf-53ed-4c7e-9f7a-e124b5570805",
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-05T06:44:58.165Z",
      "createdAt": "2025-12-05T06:44:58.165Z",
      "role": "workflow:owner",
      "workflowId": "olll2zgvKdD719qH",
      "projectId": "Qz4EZoRaJoP60D6r",
      "project": {
        "updatedAt": "2025-03-05T09:02:20.383Z",
        "createdAt": "2025-03-05T08:58:50.174Z",
        "id": "Qz4EZoRaJoP60D6r",
        "name": "Berkay Güzel <berkayguzel43@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-03-05T08:58:50.174Z",
            "createdAt": "2025-03-05T08:58:50.174Z",
            "userId": "fd0dad10-3532-42d3-92d8-22a846fddec9",
            "projectId": "Qz4EZoRaJoP60D6r",
            "user": {
              "updatedAt": "2025-12-05T06:44:21.000Z",
              "createdAt": "2025-03-05T08:58:49.757Z",
              "id": "fd0dad10-3532-42d3-92d8-22a846fddec9",
              "email": "berkayguzel43@gmail.com",
              "firstName": "Berkay",
              "lastName": "Güzel",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-03-05T09:03:26.064Z",
                "personalization_survey_n8n_version": "1.81.4",
                "automationGoalDevops": [
                  "other",
                  "monitoring-alerting",
                  "reporting"
                ],
                "companySize": "personalUser",
                "companyType": "systems-integrator",
                "role": "engineering",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "l5177howJJ0DyiVM",
                "userActivatedAt": 1761210491841,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763717488235
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}