n8n-workflows/calendar_single_executable.json
{
  "updatedAt": "2025-12-05T16:46:34.000Z",
  "createdAt": "2025-12-05T16:20:06.591Z",
  "id": "mvT4c7bsEYpM1Rez",
  "name": "Calendar Single Executable",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.access_token,\n    input1.telegram_chat_id,\n    input1.email,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2512,
        -896
      ],
      "id": "dfc96370-1469-4f78-a1df-72fe580e8d3f",
      "name": "Merge2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.body.userId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2960,
        -968
      ],
      "id": "fffd4913-3e57-4f28-99ca-5be9613e34a6",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "eeGTexNNm3ZWrmrC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT * FROM input1 LEFT JOIN input2 ON input1.id = input2.user_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2736,
        -968
      ],
      "id": "bd73d7f2-1e7b-4228-9f7d-e75c6440b411",
      "name": "Merge4"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "user_credentials",
          "mode": "list",
          "cachedResultName": "user_credentials"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.body.userId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2960,
        -680
      ],
      "id": "6af705d1-d031-460a-82a7-5a4a36afb6e8",
      "name": "Select rows from a table1",
      "credentials": {
        "postgres": {
          "id": "eeGTexNNm3ZWrmrC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c947f581-e088-4492-a4aa-0a419f94df4a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3184,
        -824
      ],
      "id": "3256413c-7edc-40d5-bd85-4d0f01ca2082",
      "name": "Webhook1",
      "webhookId": "c947f581-e088-4492-a4aa-0a419f94df4a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Promt:{{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful Chat Assistant focused on Calendar Management.\n\n**TOOLS & CONTEXT:**\nYou have access to a tool designed to fetch the **Current Date and Time**.\n- **CRITICAL STEP:** Before processing ANY user input, you MUST use this tool to establish the current reference time (Now).\n- You must calculate relative time expressions (e.g., \"tomorrow\", \"next Friday\", \"in 2 hours\", \"yarın\", \"haftaya salı\") based strictly on this reference time.\n\n**TASK:**\nAnalyze the user's chat message. Detect if the user is stating an intent to schedule a meeting, reminder, or event.\n\n1.  **Extract Date/Time:** Identify explicit dates (e.g., \"25 Oct\") or relative dates (e.g., \"tomorrow afternoon\", \"yarın öğleden sonra\").\n    * *Note:* If the user says \"afternoon\" (öğleden sonra) without a specific hour, default to **14:00**.\n    * *Note:* If the user says \"morning\" (sabah) without a specific hour, default to **09:00**.\n    * *Note:* If the user says \"evening\" (akşam) without a specific hour, default to **19:00**.\n2.  **Extract Title:** Use the core intent of the message as the title (e.g., \"Meeting with Ali\", \"Dentist Appt\"). If no specific title is given, use \"Reminder\".\n3.  **Calculate Duration:**\n    * If a duration is specified (e.g., \"for 1 hour\", \"1 saatlik\"), use it.\n    * If `startdate` is found but NO `enddate` or duration is specified, add exactly **30 minutes** to the `startdate` to create the `enddate`.\n\n**FORMATTING RULES:**\n- **Format:** Dates must be strictly RFC3339 format: `YYYY-MM-DDTHH:mm:ss+03:00`.\n- **Strict Output:** NEVER return conversational text, comments, or Markdown blocks. Return ONLY the raw JSON structure.\n- **Ambiguity:** If date information is completely missing, return the \"No date found\" structure.\n\n**OUTPUT STRUCTURES:**\n\nIf a date/time intent is found:\n{\n  \"startdate\": \"YYYY-MM-DDTHH:mm:ss+03:00\",\n  \"enddate\": \"YYYY-MM-DDTHH:mm:ss+03:00\",\n  \"title\": \"Extracted Event Name\",\n  \"description\": \"Original chat message content\"\n}\n\nIf NO date information is found:\n{\n  \"startdate\": \"\",\n  \"enddate\": \"\",\n  \"title\": \"\"\n}",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1392,
        -752
      ],
      "id": "73e794b8-cc8a-43ac-8473-e5888db4cab6",
      "name": "Email Calendar Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  try {\n    const data = item.json.output;\n    const parsed = JSON.parse(data);\n    results.push({ json: parsed });\n  } catch (error) {\n    // Eğer parse edilemezse hata vermeden geç\n    results.push({ json: { error: 'Invalid JSON', original: item.json.output } });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        -656
      ],
      "id": "4cfab766-0553-4f03-85f8-a5fe4cf5d1af",
      "name": "Parse Date Data",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Each item in input is processed separately\nconst item = $input.item;\n\n// Copy the JSON content\nconst data = { ...item.json };\n\n// Parse the enddate\nconst date = new Date(data.enddate);\n\n// Add 10 minutes\ndate.setMinutes(date.getMinutes() + 10);\n\n// Format back to YYYY-MM-DDTHH:mm:ss\nconst year = date.getFullYear();\nconst month = String(date.getMonth() + 1).padStart(2, '0');\nconst day = String(date.getDate()).padStart(2, '0');\nconst hours = String(date.getHours()).padStart(2, '0');\nconst minutes = String(date.getMinutes()).padStart(2, '0');\nconst seconds = String(date.getSeconds()).padStart(2, '0');\n\n// Update the enddate\ndata.enddate = `${year}-${month}-${day}T${hours}:${minutes}:${seconds}`;\n\n// ✅ Return a single object for this item\nreturn {\n  json: data\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        -536
      ],
      "id": "2f5da3fe-5102-4600-ac02-a7690a9526c0",
      "name": "Adjust Date Data",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6bf1892c-da1e-46f4-b5da-8c4399e4d917",
              "leftValue": "={{ $json.startdate }}",
              "rightValue": "empty",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "71f15cdb-6f58-4b33-8bfd-4cd9fd5deeff",
              "leftValue": "={{ $json.enddate }}",
              "rightValue": "empty",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -816,
        -536
      ],
      "id": "9f85d5ca-de59-45fe-8a87-2e6456a9f304",
      "name": "Date Filter"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"startdate\":\"2025-09-01T10:00:00\",\n  \"enddate\":\"2025-09-01T11:00:00\",\n  \"title\":\"Fishing Time\",\n  \"description\":\"<ult,file_links,task_description>\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2976,
        -312
      ],
      "id": "ef10e457-4014-4282-b00c-2f5c48bf8043",
      "name": "Structured Output Parser1",
      "disabled": true
    },
    {
      "parameters": {
        "includeTime": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Include_Current_Time', ``, 'boolean') }}",
        "outputFieldName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Output_Field_Name', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -1256,
        -528
      ],
      "id": "de32a022-5b32-4525-9843-630e152acf85",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "chatId": "-1003257168516",
        "text": "=Error in workflow {{ $workflow.name }}\n{{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2096,
        -896
      ],
      "id": "975ba2eb-f078-4c85-90e1-c070b9535668",
      "name": "Send a text message",
      "webhookId": "334474c1-8a99-4c2e-a320-7e3683e4ea3b",
      "credentials": {
        "telegramApi": {
          "id": "JG4HCYCvUBrFrjrG",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.*,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        528,
        -1304
      ],
      "id": "101c579f-14c3-465d-b8e8-e0d876e934c3",
      "name": "Merge1"
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/me/calendars?$top=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$json.access_token}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        80,
        -1040
      ],
      "id": "d7b673ea-ee67-4adc-bd2e-65e1638462f6",
      "name": "Get Calendar Lists",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Tüm takvim listesini al\nconst items = $input.all();\n\n// Hangi takvimi istiyorsun\nconst targetName = \"Calendar\"; // İstersen burayı değiştir\n\n// Flatten edilmiş JSON'ların birleşmiş halini istiyoruz\nconst allCalendars = [];\nfor (const item of items) {\n  if (Array.isArray(item.json.value)) {\n    allCalendars.push(...item.json.value);\n  }\n}\n\n// İstenen takvimi bul\nconst found = allCalendars.find(c => c.name === targetName);\n\nif (!found) {\n  return []; // bulunamazsa boş dön\n}\n\n// Yeni bir JSON nesnesi oluştur ve ID'yi calendar_id olarak ata\nconst resultJson = {\n  calendar_id: found.id // 'id' alanını 'calendar_id' olarak yeniden adlandır\n};\n\n// n8n her zaman array bekler\nreturn [\n  {\n    json: resultJson // Yeniden adlandırılmış ID'yi içeren nesneyi döndür\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -1160
      ],
      "id": "30a16dbf-516a-4e14-add6-ee3a73a1d029",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/me/calendars/{{$json.calendar_id}}/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$input.first().json[\"input1.json->access_token\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subject\": \"{{$json.title}}\",\n  \"body\": {\n    \"contentType\": \"HTML\",\n    \"content\": \"Açıklama: {{$json.description}}\"\n  },\n  \"start\": {\n    \"dateTime\": \"{{$json.startdate}}\",\n    \"timeZone\": \"UTC\"\n  },\n  \"end\": {\n    \"dateTime\": \"{{$json.enddate}}\",\n    \"timeZone\": \"UTC\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1872,
        -1112
      ],
      "id": "dc463c0f-7bcb-4ce4-ad46-c16eeb0d9983",
      "name": "Calendar Event",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.json.access_token,\n    input1.json.telegram_chat_id,\n    input1.json.email,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -368,
        -1184
      ],
      "id": "dc2d2da5-eb48-42a8-9f84-d03a9f23cf0a",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Gelen verinin ilk öğesini (listeyi) al ve dizi olarak döndür.\n// Dizi içinde sadece tek bir liste (görevler listesi) olacak.\nreturn [\n  {\n    json: items[0]\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        -1184
      ],
      "id": "c25b37ba-312f-4451-8c38-528a5541b090",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json[\"input1.json->access_token\"];\n\nreturn [\n  {\n    json: {\n      access_token: token\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -1040
      ],
      "id": "b9fc5257-901b-4f97-8f74-a4361c304f90",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "numCtx": 131072
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -1384,
        -528
      ],
      "id": "6e7ee4f0-ee9d-4378-8a57-e2c47d8d57a2",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "HYP2LXmMoDsk2iKY",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "numCtx": 131072
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        -3184,
        -312
      ],
      "id": "65f65376-7075-4409-ae17-440b861fc0e3",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "HYP2LXmMoDsk2iKY",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ed15af07-85e1-405a-b773-94c66df29f04",
              "leftValue": "={{ $json.startdate }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "564e1d13-94a1-4989-9198-b10e4f101718",
              "leftValue": "={{ $json.enddate }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        752,
        -1304
      ],
      "id": "bc0274f8-4da9-4664-9776-3f0915609dc9",
      "name": "If1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2960,
        -104
      ],
      "id": "7f2e6ce1-e681-47a0-b741-c631872017cb",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3184,
        -104
      ],
      "id": "8c0b9b70-23d6-41fc-b5ea-a6209c39236e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Gelen tüm verileri al\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // Gelen JSON içindeki 'body' alanına erişim\n  const inputBody = item.json.body;\n  const fileData = inputBody.file;\n\n  // Dosya verisi var mı kontrol et\n  if (fileData && fileData.data) {\n    results.push({\n      // JSON: AI'a göndereceğin metin (prompt) ve metadata buraya gelir\n      json: {\n        chatInput: inputBody.chatInput, // Kullanıcının yazdığı mesaj\n        filename: fileData.filename,\n        userId: inputBody.userId,\n        timestamp: inputBody.timestamp\n      },\n      // BINARY: n8n'in dosyayı işlemesi için gereken standart format\n      binary: {\n        data: {\n          data: fileData.data, // Gelen veri zaten Base64, direkt atıyoruz\n          mimeType: fileData.mimetype,\n          fileName: fileData.filename,\n          fileExtension: fileData.filename.includes('.') ? fileData.filename.split('.').pop() : 'bin'\n        }\n      }\n    });\n  } else {\n    // Dosya yoksa sadece JSON verisini döndür (Hata almamak için)\n    results.push({\n      json: {\n        chatInput: inputBody.chatInput,\n        userId: inputBody.userId,\n        warning: \"No file detected\"\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2288,
        -680
      ],
      "id": "da4fee63-5684-470c-aa03-40c760c80bc0",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1840,
        -896
      ],
      "id": "9fbaf224-3744-4349-add7-f0a199630817",
      "name": "Extract from File1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.text,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1616,
        -752
      ],
      "id": "831563d5-46c7-4c37-ba32-1420b13e614c",
      "name": "Merge3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ed15af07-85e1-405a-b773-94c66df29f04",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2064,
        -752
      ],
      "id": "546625a2-cd8a-45d9-a0fb-62dd26b5f429",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{$input.first().json[\"input1.json->telegram_chat_id\"]}}",
        "text": "=A new activity added to calendar\nSubject: {{ $json.subject }}\nSummary: {{ $json.bodyPreview }}\nLink: {{ $json.webLink }}\nStart Date: {{ $json.start.dateTime }}\nEnd Date: {{ $json.end.dateTime }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2320,
        -1232
      ],
      "id": "ab511fed-4b98-4fa0-927f-246af3ec3226",
      "name": "Send a text message1",
      "webhookId": "334474c1-8a99-4c2e-a320-7e3683e4ea3b",
      "credentials": {
        "telegramApi": {
          "id": "JG4HCYCvUBrFrjrG",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.*,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2096,
        -1232
      ],
      "id": "fed93806-35d6-4a5c-9a2b-c8e0647060ba",
      "name": "Merge5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/me/calendar/getSchedule",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$input.first().json[\"input1.json->access_token\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"schedules\": [\"{{ $json['input1.json->email'] }}\"],\n  \"startTime\": {\n    \"dateTime\": \"{{$json.startdate}}\",\n    \"timeZone\": \"Europe/Istanbul\"\n  },\n  \"endTime\": {\n    \"dateTime\": \"{{$json.enddate}}\",\n    \"timeZone\": \"Europe/Istanbul\"\n  },\n  \"availabilityViewInterval\": 30\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        -1400
      ],
      "id": "5005dea4-1b73-4afb-9156-5646697c703e",
      "name": "Get Schedule",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const view = $json.value[0].availabilityView;\n\n// Eğer availabilityView tamamen 0 ise zaman boş\nif (/^0+$/.test(view)) {\n  return [{ canCreate: true }];\n}\n\nreturn [{ canCreate: false }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -1400
      ],
      "id": "858d0c7c-7b46-4296-b733-428e43cda5bd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a2e5e601-43c3-401f-b685-e8bff79217ca",
              "leftValue": "={{ $json.canCreate }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1648,
        -1304
      ],
      "id": "dac8c4a1-5b09-4f43-9097-c34976cfb6bc",
      "name": "If2"
    },
    {
      "parameters": {
        "chatId": "={{$input.first().json[\"input1.json->telegram_chat_id\"]}}",
        "text": "=We cannot add event to calendar interval\nTitle:{{ $json.title }}\nStart Date:{{ $json.startdate }}\nEnd Date:{{ $json.enddate }}\nDue to time collision",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1872,
        -1424
      ],
      "id": "357e7e03-0c8d-4929-8a8a-a43980fc3535",
      "name": "Send a text message2",
      "webhookId": "334474c1-8a99-4c2e-a320-7e3683e4ea3b",
      "credentials": {
        "telegramApi": {
          "id": "JG4HCYCvUBrFrjrG",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.*,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1424,
        -1304
      ],
      "id": "054debf2-9038-4fe5-8cf9-c7cea9bd037d",
      "name": "Merge6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3184,
        120
      ],
      "id": "771273e4-e44a-4bce-b1cf-4c63f8aeca48",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yohuzcpOTpBCKcFi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Email Calendar Agent": {
      "main": [
        [
          {
            "node": "Parse Date Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Date Data": {
      "main": [
        [
          {
            "node": "Date Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adjust Date Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Filter": {
      "main": [
        [
          {
            "node": "Adjust Date Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        []
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "Email Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar Lists": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Event": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Get Calendar Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Email Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Schedule": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "eb18a4eb-cd70-4c4d-bacb-73112ebf868f",
  "versionCounter": 5,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-05T16:20:06.594Z",
      "createdAt": "2025-12-05T16:20:06.594Z",
      "role": "workflow:owner",
      "workflowId": "mvT4c7bsEYpM1Rez",
      "projectId": "Ti3JL05CSVUvJj6A",
      "project": {
        "updatedAt": "2025-10-20T20:29:51.468Z",
        "createdAt": "2025-10-20T20:29:10.045Z",
        "id": "Ti3JL05CSVUvJj6A",
        "name": "Berkay Güzel <berkayguzel43@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-20T20:29:10.046Z",
            "createdAt": "2025-10-20T20:29:10.046Z",
            "userId": "63547d7a-5632-4caa-b82b-e1517f572f8f",
            "projectId": "Ti3JL05CSVUvJj6A",
            "user": {
              "updatedAt": "2025-12-05T16:18:55.000Z",
              "createdAt": "2025-10-20T20:29:09.823Z",
              "id": "63547d7a-5632-4caa-b82b-e1517f572f8f",
              "email": "berkayguzel43@gmail.com",
              "firstName": "Berkay",
              "lastName": "Güzel",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-20T20:29:56.564Z",
                "personalization_survey_n8n_version": "1.115.3"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "igqmQcqCfFbzi8Ws",
                "userActivatedAt": 1761636420034,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763316240404
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-24T12:37:07.615Z",
      "createdAt": "2025-11-24T12:37:07.615Z",
      "id": "JltU9W7VB1ZMp5s7",
      "name": "executable"
    }
  ]
}