n8n-workflows/delete_workflows.json
{
  "updatedAt": "2025-12-05T16:46:13.000Z",
  "createdAt": "2025-12-05T16:20:06.634Z",
  "id": "0ANDsO63DO1oE0jn",
  "name": "Delete Workflows",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "7cb82c63-9c3b-432c-a5a2-5f1cbbb57450",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "value2": "={{ $workflow.id }}"
            },
            {
              "value1": "={{ $json.id }}",
              "value2": "diFvMAUCZohar91V"
            },
            {
              "value1": "={{ $json.id }}",
              "value2": "81RqxYP6Lb5REVDL"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "da648dfc-9e63-4ec6-b1ff-a000bd256fb8",
      "name": "If this workflow",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -416,
        64
      ]
    },
    {
      "parameters": {},
      "id": "7ccdde3a-9e85-47dd-b973-4df9d106a95a",
      "name": "Do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -192,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "id": "604ff6c9-bc20-429a-b66f-669d243b5c36",
      "name": "Delete Workflows",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -192,
        208
      ],
      "credentials": {
        "n8nApi": {
          "id": "GqyMbBKQ5oN9Jd2o",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "e9680e56-3242-4443-b3d8-f44da75b6f91",
      "name": "Get All Workflows",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -640,
        64
      ],
      "credentials": {
        "n8nApi": {
          "id": "GqyMbBKQ5oN9Jd2o",
          "name": "n8n account"
        }
      }
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Get All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If this workflow": {
      "main": [
        [
          {
            "node": "Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Workflows": {
      "main": [
        [
          {
            "node": "If this workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4cb9e153-90f9-45e5-adb8-323aa7b69016",
  "versionCounter": 2,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-05T16:20:06.639Z",
      "createdAt": "2025-12-05T16:20:06.639Z",
      "role": "workflow:owner",
      "workflowId": "0ANDsO63DO1oE0jn",
      "projectId": "Ti3JL05CSVUvJj6A",
      "project": {
        "updatedAt": "2025-10-20T20:29:51.468Z",
        "createdAt": "2025-10-20T20:29:10.045Z",
        "id": "Ti3JL05CSVUvJj6A",
        "name": "Berkay Güzel <berkayguzel43@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-20T20:29:10.046Z",
            "createdAt": "2025-10-20T20:29:10.046Z",
            "userId": "63547d7a-5632-4caa-b82b-e1517f572f8f",
            "projectId": "Ti3JL05CSVUvJj6A",
            "user": {
              "updatedAt": "2025-12-05T16:18:55.000Z",
              "createdAt": "2025-10-20T20:29:09.823Z",
              "id": "63547d7a-5632-4caa-b82b-e1517f572f8f",
              "email": "berkayguzel43@gmail.com",
              "firstName": "Berkay",
              "lastName": "Güzel",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-20T20:29:56.564Z",
                "personalization_survey_n8n_version": "1.115.3"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "igqmQcqCfFbzi8Ws",
                "userActivatedAt": 1761636420034,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763316240404
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-12-05T16:44:31.509Z",
      "createdAt": "2025-12-05T16:44:31.509Z",
      "id": "wgMjaO52Q3OltjFG",
      "name": "database"
    }
  ]
}