n8n-workflows/mail_labeler.json
{
  "updatedAt": "2025-12-05T12:57:02.000Z",
  "createdAt": "2025-12-05T06:45:32.782Z",
  "id": "H67AazHPjBucJNYF",
  "name": "Mail-Labeler",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"mail_id\":\"<id>\",\n  \"label\":\"<label>\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3312,
        1104
      ],
      "id": "5594e54a-c1b1-4764-9ad2-0a0ede5239eb",
      "name": "Structured Output Parser2",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Body:{{ $json.bodyPreview }}\nSubject:{{ $json.subject }}\nId: {{ $json.id }}\nName:{{ $json.name }} {{ $json.last_name }} ",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a professional mail analysis assistant that categorizes emails according to a 4-quadrant urgency-importance matrix.\n\nYour single task:\n→ Assign exactly ONE label from the following set:\n\"Urgent_Important\", \"Important_NotUrgent\", \"Urgent_NotImportant\", \"NotUrgent_NotImportant\"\n\nYour analysis must follow the \"Relevance & Content\" logic defined below.\nDo not generate any explanations or extra text — output only the JSON object described in **Required Output Format**.\nDo NOT include code fences, language tags, or any surrounding characters (no `json, no ` , no leading or trailing characters). The assistant's response must be exactly the JSON object and nothing else.\n\n---\n\nUser Name Context:\nThe user's name is: [USER_NAME]\n(Check if this name appears in the email body or subject.)\n\n---\n\nLOGIC & SCORING RULES:\n\n1. **Content Analysis (Primary):** Determine the base category using the CATEGORY DEFINITIONS below.\n2. **Relevance Adjustment (Secondary):**\n\n   * **IF User Name IS present:** Keep the base category determined by content.\n   * **IF User Name IS NOT present:**\n\n     * **CRITICAL EXCEPTION:** If the content implies severe consequences (e.g., \"Server Down\", \"Legal Action\", \"Unpaid Debt\", \"Security Breach\"), DO NOT lower the category. Keep it as \"Urgent_Important\".\n     * **NON-CRITICAL:** If the content is generic (e.g., \"Weekly Update\", \"Team Announcement\", \"General Info\") and does not explicitly mention the user, **downgrade** the importance level (for example: \"Important_NotUrgent\" → \"NotUrgent_NotImportant\").\n\n---\n\nCATEGORY DEFINITIONS:\n\n1️⃣ **Urgent_Important**\n\n* Must be acted on immediately. High impact or time-sensitive.\n* Examples: customer complaint, invoice due, payment confirmation, legal notice, project deadline, system failure, commitment confirmation.\n* Keywords: \"urgent\", \"ASAP\", \"deadline\", \"payment\", \"invoice\", \"problem\", \"legal\", \"approval\".\n\n2️⃣ **Important_NotUrgent**\n\n* Strategic or long-term importance but not time-critical.\n* Examples: project planning, reporting, performance review, partnership proposal, meeting arrangement.\n* Keywords: \"proposal\", \"plan\", \"meeting\", \"strategy\", \"analysis\", \"schedule\".\n\n3️⃣ **Urgent_NotImportant**\n\n* Quick response needed but low impact; routine or minor tasks.\n* Examples: internal reminders, small update requests, routine follow-ups, operational notifications.\n* Keywords: \"reminder\", \"update\", \"FYI\", \"request\", \"status\", \"confirmation\", \"note\".\n\n4️⃣ **NotUrgent_NotImportant**\n\n* No immediate action required. Informational or low-priority.\n* Examples: newsletters, promotions, announcements, thank-you notes, social or HR updates (especially if user is not mentioned).\n* Keywords: \"newsletter\", \"promotion\", \"announcement\", \"info\", \"social\", \"thank you\".\n\n---\n\nRequired Output Format (the assistant MUST output exactly this JSON structure, filling in values):\n{\n\"mail_id\":\"<id>\",\n\"label\":\"<label>\"\n}\n\nNotes:\n\n* Replace `<id>` with the mail identifier you are given.\n* Replace `<label>` with exactly one of: \"Urgent_Important\", \"Important_NotUrgent\", \"Urgent_NotImportant\", \"NotUrgent_NotImportant\".\n* Do not output any additional fields, whitespace lines before/after, comments, or explanatory text.\n* Never include code fences or language tags.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -3408,
        880
      ],
      "id": "49e3ae0a-30fb-44fd-8dc5-a3e2e74b00a7",
      "name": "Email Labeler Agent",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -5008,
        528
      ],
      "id": "16fd1db4-a222-46fb-a13b-a61f475bf4f2",
      "name": "Get many messages"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3440,
        1104
      ],
      "id": "f04433c5-b0e4-417b-9adc-e227037c7af4",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "fxWHzuDbpxOZTwOR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/me/mailFolders?$top=999",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$input.first().json[\"json\"].access_token}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4336,
        144
      ],
      "id": "19ac7e8f-3d8b-4063-b1d7-bf88982951c2",
      "name": "Get Mail Folders",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Gelen verinin ilk öğesini (listeyi) al ve dizi olarak döndür.\n// Dizi içinde sadece tek bir liste (görevler listesi) olacak.\nreturn [\n  {\n    json: items[0]\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4560,
        144
      ],
      "id": "ea7ad3b4-92ed-4408-9859-eab0387247e4",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2496,
        -72
      ],
      "id": "aee74b81-c994-4402-9d70-eafacb5ea47b",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Tüm gelen verileri dizi olarak alıyoruz\nconst items = $input.all();\n\nif (items.length === 0) {\n    return [];\n}\n\n// 2. Verileri ayırıyoruz\n// İlk eleman klasör yapısını tutuyor\nconst foldersInput = items[0];\n// Geriye kalanlar işlenecek mailler\nconst emailsToProcess = items.slice(1);\n\n// 3. Klasör Haritasını (Map) Oluşturma\n// items[0].json üzerinden 'value' dizisine ulaşıyoruz\nconst foldersData = foldersInput.json.value || [];\nconst folderMap = {};\n\nfor (const folder of foldersData) {\n    // Klasör Adı: Klasör ID şeklinde haritalıyoruz\n    folderMap[folder.displayName] = folder.id;\n}\n\nconst results = [];\n\n// 4. Mailleri İşleme\nfor (const emailItem of emailsToProcess) {\n    const emailJson = emailItem.json;\n    \n    // HATA DÜZELTMESİ: .output kısmını kaldırdık çünkü veri doğrudan kökte.\n    // Eğer label yoksa bu adımı atla\n    if (!emailJson.label) {\n        continue;\n    }\n\n    const label = emailJson.label;\n    // Özel karakterli key'i köşeli parantez ile alıyoruz\n    const accessToken = emailJson[\"input1.json->access_token\"];\n    // HATA DÜZELTMESİ: .output kaldırıldı\n    const mailId = emailJson.mail_id;\n\n    let folderId = null;\n\n    // --- EŞLEŞTİRME MANTIĞI ---\n    \n    // 1. Tam Eşleşme (Label direkt klasör adıysa)\n    if (folderMap[label]) {\n        folderId = folderMap[label];\n    } \n    // 2. Urgent / Important Varyasyonları (AI bazen kelimelerin yerini değiştirebilir)\n    else if (label === \"Urgent_Important\" || label === \"Important_Urgent\") {\n        folderId = folderMap[\"Urgent_Important\"];\n    }\n    else if (label === \"Urgent_NotImportant\" || label === \"NotImportant_Urgent\") {\n        folderId = folderMap[\"Urgent_NotImportant\"];\n    }\n    else if (label === \"NotUrgent_Important\" || label === \"Important_NotUrgent\") {\n        folderId = folderMap[\"NotUrgent_Important\"];\n    }\n    else if (label === \"NotUrgent_NotImportant\" || label === \"NotImportant_NotUrgent\") {\n        folderId = folderMap[\"NotUrgent_NotImportant\"];\n    }\n\n    // 5. Sonuç Objesini Oluşturma\n    // Eğer folderId bulunamazsa boş string döner, hata vermez.\n    results.push({\n        json: {\n            access_token: accessToken,\n            mail_id: mailId,\n            label: label,\n            folder_id: folderId || \"KLASOR_BULUNAMADI\" \n        }\n    });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2272,
        -72
      ],
      "id": "a0697fc5-f0a0-4b8a-a6bc-be4b872c5223",
      "name": "Code in JavaScript1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/me/messages/{{$json.mail_id}}/move",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$input.first().json[\"access_token\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"destinationId\": \"{{$json.folder_id}}\"  \n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5,
              "batchInterval": 1500
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2048,
        -144
      ],
      "id": "18ab58df-f43b-408f-9596-563e0636502d",
      "name": "Change Folder",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "05a8fb07-b925-4c0c-a8af-21e1f8b26491",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4784,
        528
      ],
      "id": "a6d5de9a-2aae-4d9d-952e-2c22efa6baec",
      "name": "If"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "numCtx": 131072
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -5008,
        1744
      ],
      "id": "24d5c48e-4768-4106-8e33-b560b9438c03",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "HYP2LXmMoDsk2iKY",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "numCtx": 131072
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        -3232,
        1312
      ],
      "id": "9f0360fb-6d36-4740-b1ca-fd62e75ac66c",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "HYP2LXmMoDsk2iKY",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "numCtx": 131072
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -5008,
        1536
      ],
      "id": "9c5cac9a-8d33-46b8-b0b2-7d66668a5b63",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "HYP2LXmMoDsk2iKY",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4784,
        1312
      ],
      "id": "a2db4fd4-c2a8-4ebc-9e83-b7db866f6259",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -5008,
        1312
      ],
      "id": "04681a9f-8289-43a0-9203-35a19c23e152",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  try {\n    const data = item.json.output;\n    const parsed = JSON.parse(data);\n    results.push({ json: parsed });\n  } catch (error) {\n    // Eğer parse edilemezse hata vermeden geç\n    results.push({ json: { error: 'Invalid JSON', original: item.json.output } });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2944,
        952
      ],
      "id": "c9558593-f6ed-468d-96a5-49df6435e46b",
      "name": "Parse Date Data",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "-1003257168516",
        "text": "=Error in workflow {{ $workflow.name }}\n{{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1824,
        288
      ],
      "id": "0d95e995-ed75-443d-9d16-596b2ce7a242",
      "name": "Error Message",
      "webhookId": "334474c1-8a99-4c2e-a320-7e3683e4ea3b",
      "credentials": {
        "telegramApi": {
          "id": "xTSQ9buOorLMIRKW",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const folders = $input.first().json.value || [];\n\nconst requiredFolders = [\n  \"Urgent_Important\",\n  \"Urgent_NotImportant\",\n  \"NotUrgent_Important\",\n  \"NotUrgent_NotImportant\"\n];\n\nconst existingNames = folders.map(f => f.displayName);\n\nconst missing = requiredFolders.filter(f => !existingNames.includes(f));\n\n// Eksik klasör yoksa boş bir obje döndürmeliyiz\nif (missing.length === 0) {\n  return [{ json: {} }];\n}\n\n// Eksikler varsa listelerini döndür\nreturn missing.map(name => ({\n  json: { folderName: name }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4112,
        96
      ],
      "id": "058a2ea6-d19e-442b-8b72-72a299315a83",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/me/mailFolders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$input.first().json[\"json\"].access_token}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"displayName\": \"{{$json.folderName}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3304,
        144
      ],
      "id": "6f6e4bba-b945-4321-9287-0646c3175ad9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eebc5c74-0dbd-40f4-8cff-aeac47b57a02",
              "leftValue": "={{ $json.folderName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3888,
        96
      ],
      "id": "216c8c96-176c-4497-bbba-e2c887bd2eba",
      "name": "If1"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3664,
        -72
      ],
      "id": "ec2e1972-aea7-4762-bdf7-e5dcdbfe85fc",
      "name": "Merge3"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT * FROM input1 LEFT JOIN input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3664,
        144
      ],
      "id": "75216a67-e84d-4c17-b13f-5a8c1edb04c8",
      "name": "Merge4"
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/me/mailFolders?$top=999",
        "sendHeaders": true,
        "specifyHeaders": "=keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2720,
        -240
      ],
      "id": "a73e6e87-ab1e-435d-813f-fdc1f2ce3d72",
      "name": "Get Mail Folders1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2944,
        -240
      ],
      "id": "d2f86ed1-306c-446a-bb11-6533c345ce49",
      "name": "Merge5"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5008,
        -464
      ],
      "id": "87118352-cb96-4dbe-9767-0b052d4457c8",
      "name": "Merge6"
    },
    {
      "parameters": {
        "jsCode": "// Gelen verinin ilk öğesini (listeyi) al ve dizi olarak döndür.\n// Dizi içinde sadece tek bir liste (görevler listesi) olacak.\nreturn [\n  {\n    json: items[0]\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2944,
        528
      ],
      "id": "d1dfd585-bdd7-49dc-8a16-9f4e5bfc3a92",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.json.access_token,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2720,
        528
      ],
      "id": "aa18af97-eb34-4286-81be-06deca339dee",
      "name": "Merge"
    }
  ],
  "connections": {
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Email Labeler Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Email Labeler Agent": {
      "main": [
        [
          {
            "node": "Parse Date Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Email Labeler Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Get Mail Folders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Mail Folders": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Change Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Labeler Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change Folder": {
      "main": [
        [],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Parse Date Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Get Mail Folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Mail Folders1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        []
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "access_token": "EwBoBMl6BAAUBKgm8k1UswUNwklmy2v7U/S+1fEAAWizhPHp0EWih5luoZaV7QmX4Xvf7CPPnfP2ishEI8AF/K3ggi9xI+CwQ9HjOlHkc4GetrxJHlCAL7/Lq80BcmCkk3p+wybVhuGnm8fDroUfRGUmhiEKAIosjHwKFS/JTmDpRJoT7zK6EPCaKSqn4ZXZ4YIH+09UYPEOCGXFE3xlCQk24lsvck63Frl519fm5DYMeMhyl+f/08ZQlSNuT+vJKMqVO7ai+PcrvKjYsr/5nMhj/1rPsVlYEsb1pTDiXHrNResZ7A0FdSZ2YAPrq2C+kWOjFDhyhoBDWhSxEGjS8cQzzvvkc3dtmOCtcz5gVhI5y9rgfMrY6M9cfCjksgAQZgAAEI0kzpwni17aUT6fMrSl1E8wA66Lqi2BVOn07NEAQAXIeitBg/pZf/Fo7PRsOsour2V4g6Ad5p9ytD1i/tVZjfCHQXnwTYVijAw8HnFSNSY71O3gduq0GjnYLqmQXqF8h40pXgv9VzxKRfhgDS1RO5Cv7DeMGKy9sRNRCzakfbVgS8/0+kJxfqe4yVteFdhld/RaorWZNazwhGb8SF/oRys6bjxKp26jcQEnrJX7uD/0i6WNTZr8/0F33DLkPOowfBNs6ILsVfs2IRMYFrxz900uLwJkrCIvZ3aPTDZquWUUZA2DiX2AODJdysIQ/o3XSSczILKUgDMWs4sxtuTkD9pNy4UTcC+fLdBHqwjbTYpPLwFugud0aCv8Jp/U6o7ybqDTtywVAFN6RIxs6aUf6sniSaxy8lKVZoLa3RDok3JaaN09B9tNq+wb6btsmbXl1PjYtXTtJ6J4XlYY10lgdRJyZqUZBzCbkK2GNk56XYk1uOQoejNt9OkY1gfFSPHe2jjTXWOahSIT9Zmj3i+RFqQ34FeOarcCB2R7kcFq0vYSQcR4eE+eg6wN+yfhwtYI3GlWg1I+re+1ePDacDL++3fPxMmI0fTwR3n+jm5mjrbPRMc+2QW0vXxZOPFj0NtmQhZMQ3S5X2w6hfce/YdgsLbXyCMVCdpUxVSvdXaJtrCNgYbNvJWcQbiBa4glZ090t8j/4ewpA5efffVz8DRGc5UUVpBCwbgiM9GVcOWuiU0Rwgrq45H/dfRGWAd2dtFj/LEoJOYKvWA6DxLCz+sJUnrOxtM2toNJUmEIr8frmpMOF9S6kymqd1p3cO+tsAmxmDoW6fFq2vJPahFAwjpmcKSx3VlZ4HVrZ4wxnv/NghMSooIdpSBrZz7LbcHiI7RkQAhZb596eERyvlDMKsr0fNhn5DTBS91Na26tJr0CJNjv9Y/Gzw5taf9ZvmzAZDOjP4VE4lFmSuOWinasUmGeY3GQQ7lyRzzOieAWc1WBsYxrVz07IFXn9raBNssoWPT348hoTqG7D7seARhu8z+OyQUXf1AZpLtLAyBndGY9VTH0/X52CJw+sFZnf7G2aExy1f8PCo7hQO/BHP0FV9+hFpyk9ngD",
          "telegram_chat_id": "-1003315838853",
          "email": "berkayguzel06@outlook.com",
          "name": "Berkay",
          "last_name": "Güzel",
          "@odata.etag": "W/\"CQAAABYAAACmbAuzjNRkRJHPPR9ftVhgAAExj/gz\"",
          "id": "AQMkADAwATM0MDAAMS03YjViLTdjNTUALTAwAi0wMAoARgAAA1U4W2Btfe5Ik7wnmiPAttwHAKZsC7OM1GREkc89H1_1WGAAAAIBDAAAAKZsC7OM1GREkc89H1_1WGAAATGbqTEAAAA=",
          "categories": [
            "Categorized",
            "Calendar",
            "Prioritized",
            "todo"
          ],
          "receivedDateTime": "2025-12-03T08:42:08Z",
          "hasAttachments": false,
          "subject": "Makale",
          "bodyPreview": "Yarına kadar ai agent makalesi okuyup notlar çıkarman lazım",
          "body": {
            "contentType": "text",
            "content": "Yarına kadar ai agent makalesi okuyup notlar çıkarman lazım"
          },
          "from": {
            "emailAddress": {
              "name": "Berkay Güzel",
              "address": "berkayguzel43@gmail.com"
            }
          },
          "toRecipients": [
            {
              "emailAddress": {
                "name": "berkayguzel06@outlook.com",
                "address": "berkayguzel06@outlook.com"
              }
            }
          ]
        }
      }
    ]
  },
  "versionId": "760b8b9a-73db-42e8-bd59-2530fe1aac01",
  "versionCounter": 25,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-05T06:45:32.789Z",
      "createdAt": "2025-12-05T06:45:32.789Z",
      "role": "workflow:owner",
      "workflowId": "H67AazHPjBucJNYF",
      "projectId": "Qz4EZoRaJoP60D6r",
      "project": {
        "updatedAt": "2025-03-05T09:02:20.383Z",
        "createdAt": "2025-03-05T08:58:50.174Z",
        "id": "Qz4EZoRaJoP60D6r",
        "name": "Berkay Güzel <berkayguzel43@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-03-05T08:58:50.174Z",
            "createdAt": "2025-03-05T08:58:50.174Z",
            "userId": "fd0dad10-3532-42d3-92d8-22a846fddec9",
            "projectId": "Qz4EZoRaJoP60D6r",
            "user": {
              "updatedAt": "2025-12-05T06:44:21.000Z",
              "createdAt": "2025-03-05T08:58:49.757Z",
              "id": "fd0dad10-3532-42d3-92d8-22a846fddec9",
              "email": "berkayguzel43@gmail.com",
              "firstName": "Berkay",
              "lastName": "Güzel",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-03-05T09:03:26.064Z",
                "personalization_survey_n8n_version": "1.81.4",
                "automationGoalDevops": [
                  "other",
                  "monitoring-alerting",
                  "reporting"
                ],
                "companySize": "personalUser",
                "companyType": "systems-integrator",
                "role": "engineering",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "l5177howJJ0DyiVM",
                "userActivatedAt": 1761210491841,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763717488235
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}