n8n-workflows/mail_draft.json
{
  "updatedAt": "2025-12-05T16:33:53.000Z",
  "createdAt": "2025-12-05T16:20:06.841Z",
  "id": "XPZOxC7pGXOk7bVE",
  "name": "Mail-Draft",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -3792,
        -148
      ],
      "id": "c4f7a687-855f-4fef-a47f-a5764b24b4f5",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "05a8fb07-b925-4c0c-a8af-21e1f8b26491",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3568,
        -148
      ],
      "id": "a1295693-6554-4aa0-b1db-30f9c5ad5351",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Body:{{ $json.bodyPreview }}\nSubject:{{ $json.subject }}\nSender:{{ $json.from.emailAddress.address }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a highly professional email response assistant.\nYour single responsibility is to write a clear, concise, and formally structured reply to the email you receive.\n\nYour writing style must always follow these principles:\n\nUse a polished, business-grade tone suitable for corporate communication.\n\nEnsure the response is respectful, solution-oriented, and grammatically flawless.\n\nReflect understanding of the sender’s message and address all actionable points.\n\nProvide clarification, confirmation, or next steps when appropriate.\n\nAvoid emotional language, unnecessary details, or informal expressions.\n\nDo NOT include any analysis about the email — only produce the final reply message.\n\nKeep the output strictly as the email reply text, without additional formatting, JSON, or commentary.\n\nDo NOT include disclaimers, self-references, or explanations about how you generated the message.\n\nYour output should be a complete, ready-to-send professional email reply.\n\nYour output language should be the language of the received mail.\n\nOutput Format:\n{\n\t\"message\":\"<generated_respone>\",\n     \"subject\":\"<generated_subject>\",\n     \"to\":\"<who-to-send-mail-address>\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -3344,
        -400
      ],
      "id": "0722a8f1-0313-4e01-a50e-2c570b5bb5fa",
      "name": "Mail Draft",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3792,
        224
      ],
      "id": "4918379d-9f26-4d5e-9e39-a7757f8fc5d4",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "yohuzcpOTpBCKcFi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/me/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subject\": \"{{$json.subject}}\",\n  \"body\": {\n    \"contentType\": \"HTML\",\n    \"content\": \"{{$json.message.replace(/\\n/g, \"<br>\")}}\"\n  },\n  \"toRecipients\": [\n    {\n      \"emailAddress\": {\n        \"address\": \"{{$json.to}}\"\n      }\n    }\n  ],\n  \"isDraft\": true\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2544,
        -4
      ],
      "id": "15a236e2-c5ba-4e52-860c-8422603b3197",
      "name": "Create Draft",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.json.access_token,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2992,
        -76
      ],
      "id": "915ef4a8-73dd-4225-95ea-3d7f7647c149",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "// Gelen verinin ilk öğesini (listeyi) al ve dizi olarak döndür.\n// Dizi içinde sadece tek bir liste (görevler listesi) olacak.\nreturn [\n  {\n    json: items[0]\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3280,
        0
      ],
      "id": "01cadc96-b484-4153-8917-1c84c562463e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3792,
        432
      ],
      "id": "4ce0401c-6120-4766-91ce-943c7b008af8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3568,
        432
      ],
      "id": "1c3debf8-6813-41e8-bbf9-f7554dd8a6cd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Gelen tüm verileri al\nconst items = $input.all();\n\nreturn items.map(item => {\n    // 1. Orijinal verideki Access Token'ı al\n    // Not: Veri yapınızda key ismi \"input1.json->access_token\" olarak görünüyor.\n    const accessToken = item.json[\"input1.json->access_token\"];\n\n    // 2. 'output' alanındaki string veriyi al\n    const rawOutput = item.json.output;\n    \n    let parsedData = {};\n\n    if (rawOutput && typeof rawOutput === 'string') {\n        // Markdown kod bloğu işaretlerini temizle\n        const cleanString = rawOutput.replace(/```json|```/g, '').trim();\n\n        try {\n            // String'i JSON objesine çevir\n            parsedData = JSON.parse(cleanString);\n        } catch (error) {\n            parsedData = { error: \"JSON Parse Hatası\" };\n        }\n    }\n\n    // 3. Ayrıştırılmış veriyi ve Access Token'ı birleştirerek döndür\n    return {\n        json: {\n            // Parsed edilen verileri yay (message, subject, to)\n            ...parsedData,\n            \n            // Access token'ı temiz bir isimle ekle\n            accessToken: accessToken\n        }\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2768,
        -76
      ],
      "id": "e5ca2f2f-9ef4-4553-82d4-a7edd0ffd986",
      "name": "Code in JavaScript1",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "-3257168516",
        "text": "=Error in workflow {{ $workflow.name }}\n{{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2320,
        -224
      ],
      "id": "0be3bf75-05bd-4fa5-9c46-b3a3c47b9bd4",
      "name": "Error Message",
      "webhookId": "d0122a52-c00b-4e15-ab3e-5f14c712b6af",
      "credentials": {
        "telegramApi": {
          "id": "JG4HCYCvUBrFrjrG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "numCtx": 131072
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -3272,
        -176
      ],
      "id": "830925a3-5463-4a39-a31f-4cb88fd33589",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "HYP2LXmMoDsk2iKY",
          "name": "Ollama account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mail Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mail Draft": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Create Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Draft": {
      "main": [
        [],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Mail Draft",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f8c74102-ec0f-4740-9dec-e2fc1a39ab8c",
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-05T16:20:06.844Z",
      "createdAt": "2025-12-05T16:20:06.844Z",
      "role": "workflow:owner",
      "workflowId": "XPZOxC7pGXOk7bVE",
      "projectId": "Ti3JL05CSVUvJj6A",
      "project": {
        "updatedAt": "2025-10-20T20:29:51.468Z",
        "createdAt": "2025-10-20T20:29:10.045Z",
        "id": "Ti3JL05CSVUvJj6A",
        "name": "Berkay Güzel <berkayguzel43@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-20T20:29:10.046Z",
            "createdAt": "2025-10-20T20:29:10.046Z",
            "userId": "63547d7a-5632-4caa-b82b-e1517f572f8f",
            "projectId": "Ti3JL05CSVUvJj6A",
            "user": {
              "updatedAt": "2025-12-05T16:18:55.000Z",
              "createdAt": "2025-10-20T20:29:09.823Z",
              "id": "63547d7a-5632-4caa-b82b-e1517f572f8f",
              "email": "berkayguzel43@gmail.com",
              "firstName": "Berkay",
              "lastName": "Güzel",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-20T20:29:56.564Z",
                "personalization_survey_n8n_version": "1.115.3"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "igqmQcqCfFbzi8Ws",
                "userActivatedAt": 1761636420034,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763316240404
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-12-05T16:32:21.179Z",
      "createdAt": "2025-12-05T16:32:21.179Z",
      "id": "oaHPeL6BLsQowLef",
      "name": "draft"
    },
    {
      "updatedAt": "2025-11-25T07:28:56.435Z",
      "createdAt": "2025-11-25T07:28:56.435Z",
      "id": "uEPVpiLWGIcHIKbE",
      "name": "non-exectuable"
    }
  ]
}