n8n-workflows/mail_onedrive.json
{
  "updatedAt": "2025-12-01T08:57:48.000Z",
  "createdAt": "2025-11-21T12:35:25.086Z",
  "id": "Vxx0invazo8UfRuk",
  "name": "Mail-OneDrive",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "421313e6-40b9-41cd-81fc-fd2360f586df",
              "leftValue": "={{ $json.json.value[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3120,
        272
      ],
      "id": "9f04e487-89cd-48c7-8169-e10165ccd274",
      "name": "If1"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.json AS folder_id,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2448,
        -96
      ],
      "id": "25951f02-e620-4326-a54f-21c8fa2caf94",
      "name": "Merge Attahcment and Message Id1"
    },
    {
      "parameters": {
        "jsCode": "// Gelen tüm verileri al\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  \n  // 1. ADIM: Folder ID'yi ve Access Token'ı al\n  const rawFolderData = item.json.folder_id;\n  const realFolderId = rawFolderData?.value?.[0]?.id || null;\n  \n  // Token'ı burada değişkene alıyoruz\n  const accessToken = item.json.access_token; \n\n  // 2. ADIM: Dosya eklerini (Attachments) işle\n  const attachments = item.json.value || [];\n\n  for (const att of attachments) {\n    results.push({\n      json: {\n        // Access Token'ı buraya ekliyoruz ki sonraki node'a geçsin\n        access_token: accessToken,\n        \n        folder_id: realFolderId,\n        name: att.name,\n        original_subject: item.json.subject || \"No Subject\",\n        size: att.size\n      },\n      // 3. ADIM: Base64 string'i Binary formatına çevir\n      binary: {\n        data: {\n          data: att.contentBytes,\n          mimeType: att.contentType || 'application/octet-stream',\n          fileName: att.name,\n          fileExtension: att.name.includes('.') ? att.name.split('.').pop() : 'bin'\n        }\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2224,
        -96
      ],
      "id": "a4fb468b-5f9d-4288-9180-f4fa5e3c0902",
      "name": "Code in JavaScript",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/me/drive/root/search(q='AI_Process')?select=id,name,folder",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$input.first().json[\"access_token\"]}}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3568,
        496
      ],
      "id": "54f46e9e-45e8-458b-af7f-6c3f61fcefb4",
      "name": "Search OneDrive Folder",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -4240,
        496
      ],
      "id": "128a649d-985d-4264-bc39-2dd566b5c70a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/me/drive/root/children",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$input.first().json[\"access_token\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"name\": \"AI_Process\",\n  \"folder\": {},\n  \"@microsoft.graph.conflictBehavior\": \"rename\"\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2672,
        64
      ],
      "id": "65fc2438-a91a-4146-8612-f9581191a3f7",
      "name": "Create Drive Folder",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://graph.microsoft.com/v1.0/me/drive/items/{{ $json.folder_id }}:/{{ $json.name }}:/content",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$input.first().json[\"access_token\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2000,
        -160
      ],
      "id": "7e2a8194-5a7d-468b-8699-047db5115a45",
      "name": "Upload Folder",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.json AS folder_id,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2896,
        64
      ],
      "id": "036acdaf-4ac0-401b-9e8a-49bdef39f7b8",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4240,
        1104
      ],
      "id": "49b85382-f1f4-407c-a034-6b2f3c1c4a61",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4016,
        1104
      ],
      "id": "108a72c8-b43e-4068-93f7-bcc844094e49",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/me/messages/{{ $json.id }}/attachments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$input.first().json[\"access_token\"]}}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4016,
        880
      ],
      "id": "a1ef5ed4-3f2d-4cf7-813d-731f6e9ed5c4",
      "name": "Get Mail Extensions",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.json.access_token AS access_token,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3792,
        64
      ],
      "id": "19847dac-d548-4a61-bb82-3ce81e86ea54",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// Gelen verinin ilk öğesini (listeyi) al ve dizi olarak döndür.\n// Dizi içinde sadece tek bir liste (görevler listesi) olacak.\nreturn [\n  {\n    json: items[0]\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4016,
        400
      ],
      "id": "4d127841-ea73-4b6e-a97d-9d17e1d733c1",
      "name": "Code in JavaScript2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Gelen verinin ilk öğesini (listeyi) al ve dizi olarak döndür.\n// Dizi içinde sadece tek bir liste (görevler listesi) olacak.\nreturn [\n  {\n    json: items[0]\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3344,
        400
      ],
      "id": "317bbc6c-eace-4ce3-8a39-989d1b6a3753",
      "name": "Code in JavaScript3",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "-3257168516",
        "text": "=Error in workflow {{ $workflow.name }}\n{{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1776,
        512
      ],
      "id": "4c54b3ea-ed29-431c-b975-0bd90cb077f2",
      "name": "Error Message",
      "webhookId": "51982885-3445-4d7e-95e6-7441f71a21be",
      "credentials": {
        "telegramApi": {
          "id": "JG4HCYCvUBrFrjrG",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "If1": {
      "main": [
        [
          {
            "node": "Merge Attahcment and Message Id1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Attahcment and Message Id1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Upload Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search OneDrive Folder": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Mail Extensions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Drive Folder": {
      "main": [
        [
          {
            "node": "Merge Attahcment and Message Id1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Get Mail Extensions": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Search OneDrive Folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge Attahcment and Message Id1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Folder": {
      "main": [
        [],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "access_token": "EwBoBMl6BAAUBKgm8k1UswUNwklmy2v7U/S+1fEAAdFdkDcbJynxbmNbgAqohyf50LbeLSA3MhvvaJyIugKcZobrehAgNAZPelCr/YM2Y8/BivElbSCr7DsG8yQ4ZLy3EVXZJ0bKG/uyPuF7NSAwpkpfyYOzUOzzBEYVDvSSjOrEQJW4VxYpfOovzCJgr2lLefhSDuM+kCn6t3AxHlCF9za/ht8TvtJ+UoB+YxO5Bs1PxEQPBXdoDTsd5unjWRPI4pCqIiHem1+BJvqVd7D6BVxUMpMYM6bPVdjJGy0WZa6edcycGSqK1e48d2yM38E/QEyQFOQCBDHjupqG6QF39yvbNoX0OJONDzzjUFhHC5ATapj1cAedVyMEpM6JgT0QZgAAEFoAk0vWtTyxug7EJnmig8UwA5wFS2XTSVUBp5RlKLHJ+ngld5VxA7VoZnuUbTqLqkNgUccwKYGvh/w/lMCNfEThJ0IvxuMBeqPKL7FIH0b6Fev5ZMr4kfbo5gQO9DDtTkYHTyOHAvpDekyNOkP7pK+5bBraHL+UFUr7bzofM5A36n9atDE3iSuZFwgEEBn8HqeF+r77F8tuNQC8PsqZU3NGpyHNzzDJA8TtLMCocGiDhlrze0yHbdwoiURo0F57qlxyWIiqiSeqsBQaGtukf6cwT+lSJcwfDTwQpsvwAZyZlB+z53hlgvwbcCaBM2mpQYCVd9wHCts81qfTHji6aOs2Go7M62hsB6Gmvo/3mU+/jlCYWfs6HJmqCsSMpGUIZjJcpfxri8cwrZaLT1yy1+q5UalLMqSN6bavKBkxhFik0rlAM+dnfroXZT6fyFG0iX9LvKTg7Qs8VNjPdEKCct3ipYptbc+G1ApwkvLCFORUVs9ek8du39zRp3vRaJjFTZ1Z9IuY2qSHlwlFLopACF5r46qVKrwpY5hNHxRSQl0YL03NP85xeoiBF5sJUfxdJRIRQSc0U4EHhdLSZk02DQ8t8N4mjcWQrvCwFiw1AlZ9/KHjLngQefZm3sSMdNnHjzw/jEk0EAyVVf+6orj1pZcriG5pJ2qNYoU0KovF9hbh05vlaXPo2/s3g+xGTNSx3SqWaHst4UOK69g7KTJFoeraW7EcLMv8vx9uXoqvQGJINRHwfcpzen+ig0Z2nnqYv00zXqJs0LoI1uV0RC0imzm2Zu+kTe8hxkpMW05um4XVvYzBMbGbnfMFFwyTPwDLFzF4UGkEUAsFIgdTJmOCNUAl0VezVFsrPGDxsqb9QEy2e0t1AalkD/T/6Z1o6VQnAcD/MQeYFeiniJ7D5R69RXVrlcdKsJ53nS54RyFr4jgFL8FoxFGkY512HAELf/c7gipr2pPIXrQ1VGB8U6zGN8HhGr8Ff3uhMESMmYJTtGyGI3CmpHvznFUEAb7gW5Th0Z2ArO1+hZUQxRH+/VOaOCTMZ177jUySi2nuJrU3dqSxatTbHU6tFMWIY6ERn3Yyl/4d3YxcizIPExw9JPMXvT/DQHgD",
          "@odata.etag": "W/\"CQAAABYAAACmbAuzjNRkRJHPPR9ftVhgAAErsVlZ\"",
          "id": "AQMkADAwATM0MDAAMS03YjViLTdjNTUALTAwAi0wMAoARgAAA1U4W2Btfe5Ik7wnmiPAttwHAKZsC7OM1GREkc89H1_1WGAAAAIBDAAAAKZsC7OM1GREkc89H1_1WGAAASu7AjAAAAA=",
          "categories": [],
          "receivedDateTime": "2025-11-13T13:20:28Z",
          "hasAttachments": true,
          "subject": "Evren Hayat Hediye 07.11.2025-13.11.2025 Tarihli Muhasebe Raporu hk",
          "bodyPreview": "Merhaba, Evren Hayat Hediye'ye ait 07.11.2025 - 13.11.2025 tarihli siparişlerin dökümü ekte bilgilerinize sunulmuştur. Hayat Hediye",
          "from": {
            "emailAddress": {
              "name": "Berkay Güzel",
              "address": "berkayguzel43@gmail.com"
            }
          },
          "toRecipients": [
            {
              "emailAddress": {
                "name": "berkayguzel06@outlook.com",
                "address": "berkayguzel06@outlook.com"
              }
            }
          ]
        }
      },
      {
        "json": {
          "access_token": "EwBoBMl6BAAUBKgm8k1UswUNwklmy2v7U/S+1fEAAUQAUyMyBNbW/JTmxtLg5RQ4hLYVAyVxQrW9Bgn5LvwjqUR7wjRjYvvA1d2rXwBH0bfJL7fsxxg2ZsbBXVMqNZwH8wHLU5LltmLpja+9iFn+LTjlykkzns49bn0IjlRTFNJg5xy15Z39871+a7JdBiY7o6rDRadKRlxhXySjq3zmSwZChhRKqcMG8KfrGcSsMp7bb5OFqnexpnCirFXkdiySPNHnoCZ85qcXEAwKqecQAhk0l4t4jI7hbj1eMYGJt3dmZW4aH2dQ2ota/HnGqCs8lcqjGEDipDGhlELbjI1p+7u8hQcL1EOGbL5AKtx5kGH6y9ywmXsi3TlsAFLjkCcQZgAAECEQmTeh5UCDiypnfjn5JfUwAwnmuDCIZzvY4EmlxZzq8qfNYyXJgDAs7ayXYE1n2MFN8tXXQNVjX1C1HAkF4rSuDyc7aORHYWUaa8Y38foEX7wmWn4wNtzAP7bHhEns/0p5vd9el6jhjUYiynCxUv3FT7ejB5CaXLmBPVsR5Ye+sLN3U2YDudp0z3JD88tIOXze+MTwwqSDbDbr785W+N4KvbNeC8dis8TkFlbVs+0fEHOKQbY+cZ17FbqCMUO0/dkvF7UIxSCNXvBiIYx0JZLB1NCdd/qD574CZwuGyYYIr0MBkvc0QWe+15cIucQv1DjabQXG9xb2klKNtwudLeUclro9a7i8gtF0RjrmSnOmfBIGM9d9nxva7u3902gJkVPth0BtGsBsAl14rNNjj/F1KU9h15rqiGkby+2l7dDWYpe7kg9q9DqGIuG+kaQY8yVHzkQ1nk78HBLyCCZgA6b9p4SBJpqNcXLhrPT1T3yECwefNoNGL/YQxNTFoTSvNGPp04eKlOjx/ifCG1ndFC9UcPCPfMJny6qBwqD76it2fbFJDcqNZDtz+J8VnOkDs8p8J052+ZjT2yJNCQ8sF+zeLe+jXAbsDK6rgQe4fS3smm0d/3mRngo8WR1/Ugwo87GqdSBlKXHnv4zqE9oA1YMvlp73zf7i+jhCPkDxHTdzvTVGt6DlFwB3wJDGgBh1bbkTE5dWP9oHEb0XddQhfZbzfkp5BjSmNMwSmxtCeCjhoryrNnWuuhZ3m4vZ5oyZK2PVAoXfnHZHNjr2COyYWotBE1x4vZqUel08VTJipQV0i57zWp33STOW65y/LZcz+EouBCPoSerI7v9FHTmZT/HZDv/0r+ZpIZIWsygtNEC2vGs/7vL6b197MdRIUOzLQQy3gxmhlqfsX1LJRJU6gr1bM1bKBnH2KFpYmOkoYzM1CkflJvIhVY3sFbWHrGmNeukjJmsL3OhJ+ypsd/mKrw6K1eKVfbCrZH3g0TlxcJuwiOV06huG0BoNqEGoNj3cYgDvgtFRv6ySYs7fSF2HtPzAja3ajfL/1rv250F4QmOJ03Y9Cumpevf59Xc2eV/4u2i8q7EZqNYr8IC24CnDeDbll3gD",
          "@odata.etag": "W/\"CQAAABYAAACmbAuzjNRkRJHPPR9ftVhgAAErsVlZ\"",
          "id": "AQMkADAwATM0MDAAMS03YjViLTdjNTUALTAwAi0wMAoARgAAA1U4W2Btfe5Ik7wnmiPAttwHAKZsC7OM1GREkc89H1_1WGAAAAIBDAAAAKZsC7OM1GREkc89H1_1WGAAASu7AjAAAAA=",
          "categories": [],
          "receivedDateTime": "2025-11-13T13:20:28Z",
          "hasAttachments": true,
          "subject": "Evren Hayat Hediye 07.11.2025-13.11.2025 Tarihli Muhasebe Raporu hk",
          "bodyPreview": "Merhaba, Evren Hayat Hediye'ye ait 07.11.2025 - 13.11.2025 tarihli siparişlerin dökümü ekte bilgilerinize sunulmuştur. Hayat Hediye",
          "from": {
            "emailAddress": {
              "name": "Berkay Güzel",
              "address": "berkayguzel43@gmail.com"
            }
          },
          "toRecipients": [
            {
              "emailAddress": {
                "name": "berkayguzel06@outlook.com",
                "address": "berkayguzel06@outlook.com"
              }
            }
          ]
        }
      }
    ]
  },
  "versionId": "d05f3391-fef4-4cd7-97f0-9315aca35f72",
  "versionCounter": 40,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-25T07:28:14.728Z",
      "createdAt": "2025-11-25T07:28:14.728Z",
      "role": "workflow:owner",
      "workflowId": "Vxx0invazo8UfRuk",
      "projectId": "Ti3JL05CSVUvJj6A",
      "project": {
        "updatedAt": "2025-10-20T20:29:51.468Z",
        "createdAt": "2025-10-20T20:29:10.045Z",
        "id": "Ti3JL05CSVUvJj6A",
        "name": "Berkay Güzel <berkayguzel43@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-20T20:29:10.046Z",
            "createdAt": "2025-10-20T20:29:10.046Z",
            "userId": "63547d7a-5632-4caa-b82b-e1517f572f8f",
            "projectId": "Ti3JL05CSVUvJj6A",
            "user": {
              "updatedAt": "2025-12-03T05:43:07.000Z",
              "createdAt": "2025-10-20T20:29:09.823Z",
              "id": "63547d7a-5632-4caa-b82b-e1517f572f8f",
              "email": "berkayguzel43@gmail.com",
              "firstName": "Berkay",
              "lastName": "Güzel",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-20T20:29:56.564Z",
                "personalization_survey_n8n_version": "1.115.3"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "igqmQcqCfFbzi8Ws",
                "userActivatedAt": 1761636420034,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763316240404
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-03",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-12-01T08:00:58.410Z",
      "createdAt": "2025-12-01T08:00:58.410Z",
      "id": "fTIAo3WUvkbJgslo",
      "name": "drive"
    },
    {
      "updatedAt": "2025-11-25T07:28:56.435Z",
      "createdAt": "2025-11-25T07:28:56.435Z",
      "id": "uEPVpiLWGIcHIKbE",
      "name": "non-exectuable"
    }
  ]
}