n8n-workflows/mail_prioritizing.json
{
  "updatedAt": "2025-12-05T06:48:48.000Z",
  "createdAt": "2025-12-05T06:45:33.302Z",
  "id": "opnFB1EEWCvqUyPN",
  "name": "Mail-Prioritizing",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Body:{{ $json.bodyPreview }}\nSubject:{{ $json.subject }}\nLink:{{ $json.webLink }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an intelligent email analysis assistant specialized in prioritizing and risk-assessing emails.\n\nYour main task: Analyze the email content and assign an AI Priority Score based on the presence and significance of specific elements.\n\nAnalysis Criteria\n\nCarefully read the email and look for the following categories:\n\nDate / Deadline\n\nMentions of specific dates, deadlines, or urgency indicators (e.g., “tomorrow,” “ASAP,” “by Friday”).\n\nThe closer or more urgent the date, the higher the priority.\n\nMoney / Invoice / Payment\n\nReferences to invoices, payments, refunds, pricing, or financial terms.\n\nThe higher the monetary involvement, the higher the importance.\n\nCommitment / Agreement\n\nMentions of obligations, approvals, deliverables, contracts, or promises.\n\nIf a response or action is required, increase priority.\n\nLegal / Compliance Risk\n\nMentions of contracts, terms, liability, regulation, privacy, or legal consequences.\n\nLegal implications significantly increase the score.\n\nCustomer Satisfaction / Relationship\n\nMentions of complaints, feedback, dissatisfaction, or key customer interactions.\n\nHigh-impact clients or sensitive tone increase the priority.\n\nOutput Format:\n{\n  \"priority_score\": \"<0-100>\",\n  \"subject\":\"<email subject>\",\n  \"overall_summary\": \"<brief explanation of why this email deserves its score>\",\n  \"link\":\"<web_link>\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -672,
        480
      ],
      "id": "8d70f195-d3a7-4bf8-855a-d26504adec20",
      "name": "Mail Prioritizing Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"priority_score\": \"<0-100>\",\n  \"subject\":\"<email subject>\",\n  \"overall_summary\": \"<brief explanation of why this email deserves its score>\",\n  \"link\":\"<web_link>\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -576,
        704
      ],
      "id": "ff6148c6-fc1c-4baf-996e-bc547f312b91",
      "name": "Structured Output Parser",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "80a0e84d-4258-44f5-873c-35bf3f7800c3",
              "leftValue": "={{ $json.priority_score }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        112
      ],
      "id": "9ceee52e-a557-4b05-99e9-91859026c660",
      "name": "If"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1152,
        288
      ],
      "id": "b528ae38-99b1-43a6-aa88-57a51c5f3928",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1152,
        912
      ],
      "id": "dadf94f9-61fc-47e6-9d3d-07e5c9c5ed4d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fxWHzuDbpxOZTwOR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1152,
        1120
      ],
      "id": "f1298c4b-c450-41bc-b2b8-daa8086be188",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "fxWHzuDbpxOZTwOR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "05a8fb07-b925-4c0c-a8af-21e1f8b26491",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "eee03595-62d2-4a93-a8d3-f818db9f095f",
              "leftValue": "={{ $json.telegram_chat_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -928,
        288
      ],
      "id": "4ccc47d7-6ff2-4b25-a966-b5d13169afca",
      "name": "If1"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "numCtx": 131072
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -704,
        704
      ],
      "id": "d73fd065-fd4d-4bb9-85a1-09bb3f3b4d28",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "HYP2LXmMoDsk2iKY",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "numCtx": 131072
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        -496,
        912
      ],
      "id": "1708e4a0-aad9-490d-82f8-98c01c09b936",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "HYP2LXmMoDsk2iKY",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.telegram_chat_id,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        16,
        112
      ],
      "id": "3b762cbf-3203-41ad-b599-83ea45f6c7af",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        -160
      ],
      "id": "892add47-c6a4-4157-97a6-ef34abad0ba8",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1152,
        -160
      ],
      "id": "360fa467-1f53-426b-bf87-80f398a6e697",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  try {\n    let rawData = item.json.output;\n\n    // EĞER VERİ BİR STRING İSE TEMİZLİK YAPALIM\n    if (typeof rawData === 'string') {\n        // 1. Regex kullanarak baştaki ```json veya ``` ifadesini ve yeni satırları siler\n        rawData = rawData.replace(/^```json\\s*/i, \"\").replace(/^```\\s*/, \"\");\n        \n        // 2. Regex kullanarak sondaki ``` ifadesini siler\n        rawData = rawData.replace(/```\\s*$/, \"\");\n    }\n\n    // Temizlenmiş veriyi parse et\n    const parsed = JSON.parse(rawData);\n    results.push({ json: parsed });\n\n  } catch (error) {\n    // Hata durumunda loglayarak devam et\n    results.push({ \n        json: { \n            error: 'Invalid JSON', \n            message: error.message,\n            original: item.json.output \n        } \n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        384
      ],
      "id": "9eb6558c-6fb4-4113-bca2-413a92dc1cb2",
      "name": "Parse Date Data",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Gelen verinin ilk öğesini (listeyi) al ve dizi olarak döndür.\n// Dizi içinde sadece tek bir liste (görevler listesi) olacak.\nreturn [\n  {\n    json: items[0]\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        64
      ],
      "id": "3d0c6f35-b1ad-40ce-b847-1270dfc0cf61",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "jsCode": "let item = $input.first().json.json;\n\nreturn item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        64
      ],
      "id": "6845ba54-60a7-4c7c-9e93-f7ac20536390",
      "name": "Parse Date Data1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "-1003257168516",
        "text": "=Error in workflow {{ $workflow.name }}\n{{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        464
      ],
      "id": "e529429e-f308-479a-b870-4e41f8275c45",
      "name": "Error Message",
      "webhookId": "334474c1-8a99-4c2e-a320-7e3683e4ea3b",
      "credentials": {
        "telegramApi": {
          "id": "xTSQ9buOorLMIRKW",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id }}",
        "text": "=High Priority Mail !!!\nScore: {{ $json.priority_score }}\nSummary: {{ $json.overall_summary }}\nLink: {{ $json.link }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        112
      ],
      "id": "ce497b9b-42dc-40f2-83a7-054b854a304d",
      "name": "Send Priority",
      "webhookId": "a4527952-ea1d-4be2-8a84-8639c89c2952",
      "credentials": {
        "telegramApi": {
          "id": "xTSQ9buOorLMIRKW",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Mail Prioritizing Agent": {
      "main": [
        [
          {
            "node": "Parse Date Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Mail Prioritizing Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Mail Prioritizing Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Mail Prioritizing Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Date Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Parse Date Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Date Data1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4558458c-a29e-4dbe-acab-0b5e4637ac62",
  "versionCounter": 2,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-05T06:45:33.306Z",
      "createdAt": "2025-12-05T06:45:33.306Z",
      "role": "workflow:owner",
      "workflowId": "opnFB1EEWCvqUyPN",
      "projectId": "Qz4EZoRaJoP60D6r",
      "project": {
        "updatedAt": "2025-03-05T09:02:20.383Z",
        "createdAt": "2025-03-05T08:58:50.174Z",
        "id": "Qz4EZoRaJoP60D6r",
        "name": "Berkay Güzel <berkayguzel43@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-03-05T08:58:50.174Z",
            "createdAt": "2025-03-05T08:58:50.174Z",
            "userId": "fd0dad10-3532-42d3-92d8-22a846fddec9",
            "projectId": "Qz4EZoRaJoP60D6r",
            "user": {
              "updatedAt": "2025-12-05T06:44:21.000Z",
              "createdAt": "2025-03-05T08:58:49.757Z",
              "id": "fd0dad10-3532-42d3-92d8-22a846fddec9",
              "email": "berkayguzel43@gmail.com",
              "firstName": "Berkay",
              "lastName": "Güzel",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-03-05T09:03:26.064Z",
                "personalization_survey_n8n_version": "1.81.4",
                "automationGoalDevops": [
                  "other",
                  "monitoring-alerting",
                  "reporting"
                ],
                "companySize": "personalUser",
                "companyType": "systems-integrator",
                "role": "engineering",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "l5177howJJ0DyiVM",
                "userActivatedAt": 1761210491841,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763717488235
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}