n8n-workflows/mail_calendar.json
{
  "updatedAt": "2025-12-05T16:36:03.000Z",
  "createdAt": "2025-12-05T16:20:06.673Z",
  "id": "0U7iChW0qv21cCCE",
  "name": "Mail-Calendar",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Body:{{ $json.bodyPreview }}\nSubject:{{ $json.subject }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful mail assistant focused on Calendar Management.\n\n**TOOLS & CONTEXT:**\nYou have access to a tool designed to fetch the **Current Date and Time**.\n- BEFORE processing relative dates (e.g., \"tomorrow\", \"next Friday\", \"this afternoon\"), you MUST use this tool to establish the current reference time.\n- Use this reference to accurately calculate the `startdate` and `enddate`.\n\n**TASK:**\nAnalyze the email’s subject and body. If specific date or time information related to meetings, events, or important deadlines is found:\n\n1. **Extract Date/Time:** Use the content from the email (not the mail’s sent metadata) to determine the event time.\n2. **Extract Title:** Use the subject or main context as the event title.\n3. **Calculate Duration:** If `startdate` is found but no `enddate` is specified, add exactly 30 minutes to the `startdate` for the `enddate`.\n\n**FORMATTING RULES:**\n- **Format:** Dates must be strictly RFC3339 format: `YYYY-MM-DDTHH:mm:ss+03:00`.\n- **Strict Output:** NEVER return conversational text, comments, or Markdown (like ```json). Return ONLY the raw JSON structure.\n- **No Guessing:** If date information is ambiguous or missing, do not fabricate a date.\n\n**OUTPUT STRUCTURES:**\n\nIf a date is found:\n{\n  \"startdate\": \"YYYY-MM-DDTHH:mm:ss+03:00\",\n  \"enddate\": \"YYYY-MM-DDTHH:mm:ss+03:00\",\n  \"title\": \"Extracted Event Name\",\n  \"description\": \"<ult,file_links,task_description>\"\n}\n\nIf NO date information is found:\n{\n  \"startdate\": \"\",\n  \"enddate\": \"\",\n  \"title\": \"\"\n}",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -3216,
        -16
      ],
      "id": "3f35deb7-2336-422a-90ec-a9ebefa78bda",
      "name": "Email Calendar Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  try {\n    const data = item.json.output;\n    const parsed = JSON.parse(data);\n    results.push({ json: parsed });\n  } catch (error) {\n    // Eğer parse edilemezse hata vermeden geç\n    results.push({ json: { error: 'Invalid JSON', original: item.json.output } });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2864,
        56
      ],
      "id": "3e8d3b30-07af-4a2d-bad3-e3c56ca36169",
      "name": "Parse Date Data",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Each item in input is processed separately\nconst item = $input.item;\n\n// Copy the JSON content\nconst data = { ...item.json };\n\n// Parse the enddate\nconst date = new Date(data.enddate);\n\n// Add 10 minutes\ndate.setMinutes(date.getMinutes() + 10);\n\n// Format back to YYYY-MM-DDTHH:mm:ss\nconst year = date.getFullYear();\nconst month = String(date.getMonth() + 1).padStart(2, '0');\nconst day = String(date.getDate()).padStart(2, '0');\nconst hours = String(date.getHours()).padStart(2, '0');\nconst minutes = String(date.getMinutes()).padStart(2, '0');\nconst seconds = String(date.getSeconds()).padStart(2, '0');\n\n// Update the enddate\ndata.enddate = `${year}-${month}-${day}T${hours}:${minutes}:${seconds}`;\n\n// ✅ Return a single object for this item\nreturn {\n  json: data\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2416,
        128
      ],
      "id": "158fffbd-8be0-4c11-a403-7afda0b0a432",
      "name": "Adjust Date Data",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6bf1892c-da1e-46f4-b5da-8c4399e4d917",
              "leftValue": "={{ $json.startdate }}",
              "rightValue": "empty",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "71f15cdb-6f58-4b33-8bfd-4cd9fd5deeff",
              "leftValue": "={{ $json.enddate }}",
              "rightValue": "empty",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2640,
        128
      ],
      "id": "4f6fa076-3028-4735-bc4c-eb9e6c9f9e49",
      "name": "Date Filter"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"startdate\":\"2025-09-01T10:00:00\",\n  \"enddate\":\"2025-09-01T11:00:00\",\n  \"title\":\"Fishing Time\",\n  \"description\":\"<ult,file_links,task_description>\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3456,
        576
      ],
      "id": "c5032a5f-ee3e-4d5e-a72b-e2027bf8a5f0",
      "name": "Structured Output Parser1",
      "disabled": true
    },
    {
      "parameters": {
        "includeTime": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Include_Current_Time', ``, 'boolean') }}",
        "outputFieldName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Output_Field_Name', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -3080,
        208
      ],
      "id": "9daab5f2-e809-4ea7-a41a-21ab28ba1b3e",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -3664,
        -256
      ],
      "id": "d98b2222-be9e-4cd8-8ba1-37d38fb6c93c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "chatId": "-1003257168516",
        "text": "=Error in workflow {{ $workflow.name }}\n{{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        -160
      ],
      "id": "26cc4ebb-5a28-4b95-93bc-5d3bef06f298",
      "name": "Send a text message",
      "webhookId": "334474c1-8a99-4c2e-a320-7e3683e4ea3b",
      "credentials": {
        "telegramApi": {
          "id": "JG4HCYCvUBrFrjrG",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3664,
        784
      ],
      "id": "3f1cf16c-c603-4103-b164-1b67cdd49262",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yohuzcpOTpBCKcFi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.*,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1296,
        -640
      ],
      "id": "8f255d9e-078b-4601-b42e-f40f9ee64fda",
      "name": "Merge1"
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/me/calendars?$top=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$json.access_token}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1744,
        -352
      ],
      "id": "cf5c8367-00e6-49b7-bd02-63f3b1c4c5b1",
      "name": "Get Calendar Lists",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Tüm takvim listesini al\nconst items = $input.all();\n\n// Hangi takvimi istiyorsun\nconst targetName = \"Calendar\"; // İstersen burayı değiştir\n\n// Flatten edilmiş JSON'ların birleşmiş halini istiyoruz\nconst allCalendars = [];\nfor (const item of items) {\n  if (Array.isArray(item.json.value)) {\n    allCalendars.push(...item.json.value);\n  }\n}\n\n// İstenen takvimi bul\nconst found = allCalendars.find(c => c.name === targetName);\n\nif (!found) {\n  return []; // bulunamazsa boş dön\n}\n\n// Yeni bir JSON nesnesi oluştur ve ID'yi calendar_id olarak ata\nconst resultJson = {\n  calendar_id: found.id // 'id' alanını 'calendar_id' olarak yeniden adlandır\n};\n\n// n8n her zaman array bekler\nreturn [\n  {\n    json: resultJson // Yeniden adlandırılmış ID'yi içeren nesneyi döndür\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        -448
      ],
      "id": "e94a2552-7692-4733-874a-80fbe2a5988c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/me/calendars/{{$json.calendar_id}}/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$input.first().json[\"input1.json->access_token\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subject\": \"{{$json.title}}\",\n  \"body\": {\n    \"contentType\": \"HTML\",\n    \"content\": \"Açıklama: {{$json.description}}\"\n  },\n  \"start\": {\n    \"dateTime\": \"{{$json.startdate}}\",\n    \"timeZone\": \"UTC\"\n  },\n  \"end\": {\n    \"dateTime\": \"{{$json.enddate}}\",\n    \"timeZone\": \"UTC\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        -448
      ],
      "id": "e7d78914-23f7-44c3-acc3-6802d358c473",
      "name": "Calendar Event",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.json.access_token,\n    input1.json.telegram_chat_id,\n    input1.json.email,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2192,
        -472
      ],
      "id": "ad6da840-c2dd-4e15-8d5f-a48be1800d43",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Gelen verinin ilk öğesini (listeyi) al ve dizi olarak döndür.\n// Dizi içinde sadece tek bir liste (görevler listesi) olacak.\nreturn [\n  {\n    json: items[0]\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2416,
        -472
      ],
      "id": "fa24bc3d-d6ba-4f26-a272-938a27eafa7c",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json[\"input1.json->access_token\"];\n\nreturn [\n  {\n    json: {\n      access_token: token\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        -352
      ],
      "id": "418aaf44-15af-4ff3-bddf-47c7a59639e3",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "05a8fb07-b925-4c0c-a8af-21e1f8b26491",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3440,
        -256
      ],
      "id": "7cda8f6e-f918-4c54-9361-116cf253acdb",
      "name": "If"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "numCtx": 131072
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -3208,
        208
      ],
      "id": "40253a14-eb59-4ee3-81aa-aa0fb3c4f578",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "HYP2LXmMoDsk2iKY",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "numCtx": 131072
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        -3664,
        576
      ],
      "id": "9ec1750c-fbd6-4eaf-82cf-9ed507909b0b",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "HYP2LXmMoDsk2iKY",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3440,
        352
      ],
      "id": "4ea41324-f371-4713-8ecd-e78c50836ac7",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3664,
        352
      ],
      "id": "f4234f60-0b5d-4050-b49a-8ffd92aaaec1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ed15af07-85e1-405a-b773-94c66df29f04",
              "leftValue": "={{ $json.startdate }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "564e1d13-94a1-4989-9198-b10e4f101718",
              "leftValue": "={{ $json.enddate }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1072,
        -640
      ],
      "id": "97c86911-30b7-413c-8de0-6872df1697b8",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "={{$input.first().json[\"input1.json->telegram_chat_id\"]}}",
        "text": "=A new activity added to calendar\nSubject: {{ $json.subject }}\nSummary: {{ $json.bodyPreview }}\nLink: {{ $json.webLink }}\nStart Date: {{ $json.start.dateTime }}\nEnd Date: {{ $json.end.dateTime }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        -736
      ],
      "id": "e436e3c6-27ac-4250-ade7-074ff1aacb92",
      "name": "Send a text message1",
      "webhookId": "334474c1-8a99-4c2e-a320-7e3683e4ea3b",
      "credentials": {
        "telegramApi": {
          "id": "JG4HCYCvUBrFrjrG",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.*,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        272,
        -736
      ],
      "id": "6acd4713-62d7-4cbe-b6f5-9b757950a7fe",
      "name": "Merge5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/me/calendar/getSchedule",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$input.first().json[\"input1.json->access_token\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"schedules\": [\"{{ $json['input1.json->email'] }}\"],\n  \"startTime\": {\n    \"dateTime\": \"{{$json.startdate}}\",\n    \"timeZone\": \"Europe/Istanbul\"\n  },\n  \"endTime\": {\n    \"dateTime\": \"{{$json.enddate}}\",\n    \"timeZone\": \"Europe/Istanbul\"\n  },\n  \"availabilityViewInterval\": 30\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -848,
        -712
      ],
      "id": "c873c6ac-474c-4f46-aec4-17ba76a6aa56",
      "name": "Get Schedule",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const view = $json.value[0].availabilityView;\n\n// Eğer availabilityView tamamen 0 ise zaman boş\nif (/^0+$/.test(view)) {\n  return [{ canCreate: true }];\n}\n\nreturn [{ canCreate: false }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        -712
      ],
      "id": "bfbeaf85-dc55-4082-b834-8932c65a4ec9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a2e5e601-43c3-401f-b685-e8bff79217ca",
              "leftValue": "={{ $json.canCreate }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        -640
      ],
      "id": "9e8175d8-4720-47f1-b2dc-037452e6dc38",
      "name": "If2"
    },
    {
      "parameters": {
        "chatId": "={{$input.first().json[\"input1.json->telegram_chat_id\"]}}",
        "text": "=We cannot add event to calendar interval\nTitle:{{ $json.title }}\nStart Date:{{ $json.startdate }}\nEnd Date:{{ $json.enddate }}\nDue to time collision",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        -640
      ],
      "id": "8fc747a6-54df-4a4a-b750-7d7f189aae88",
      "name": "Send a text message2",
      "webhookId": "334474c1-8a99-4c2e-a320-7e3683e4ea3b",
      "credentials": {
        "telegramApi": {
          "id": "JG4HCYCvUBrFrjrG",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.*,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -400,
        -640
      ],
      "id": "1f0b371e-89c2-4834-b613-5c410254a294",
      "name": "Merge6"
    }
  ],
  "connections": {
    "Email Calendar Agent": {
      "main": [
        [
          {
            "node": "Parse Date Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Date Data": {
      "main": [
        [
          {
            "node": "Date Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adjust Date Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Filter": {
      "main": [
        [
          {
            "node": "Adjust Date Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        []
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "Email Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Get Calendar Lists": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Get Calendar Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Event": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get Schedule",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ],
        []
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Schedule": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Calendar Event",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4044fda2-eb78-4dbf-907a-eac40c22521f",
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-05T16:20:06.677Z",
      "createdAt": "2025-12-05T16:20:06.677Z",
      "role": "workflow:owner",
      "workflowId": "0U7iChW0qv21cCCE",
      "projectId": "Ti3JL05CSVUvJj6A",
      "project": {
        "updatedAt": "2025-10-20T20:29:51.468Z",
        "createdAt": "2025-10-20T20:29:10.045Z",
        "id": "Ti3JL05CSVUvJj6A",
        "name": "Berkay Güzel <berkayguzel43@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-20T20:29:10.046Z",
            "createdAt": "2025-10-20T20:29:10.046Z",
            "userId": "63547d7a-5632-4caa-b82b-e1517f572f8f",
            "projectId": "Ti3JL05CSVUvJj6A",
            "user": {
              "updatedAt": "2025-12-05T16:18:55.000Z",
              "createdAt": "2025-10-20T20:29:09.823Z",
              "id": "63547d7a-5632-4caa-b82b-e1517f572f8f",
              "email": "berkayguzel43@gmail.com",
              "firstName": "Berkay",
              "lastName": "Güzel",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-20T20:29:56.564Z",
                "personalization_survey_n8n_version": "1.115.3"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "igqmQcqCfFbzi8Ws",
                "userActivatedAt": 1761636420034,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763316240404
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-28T07:54:31.025Z",
      "createdAt": "2025-11-28T07:54:31.025Z",
      "id": "PdONDcNhiGyYrDss",
      "name": "calendar"
    },
    {
      "updatedAt": "2025-11-25T07:28:56.435Z",
      "createdAt": "2025-11-25T07:28:56.435Z",
      "id": "uEPVpiLWGIcHIKbE",
      "name": "non-exectuable"
    }
  ]
}