n8n-workflows/mail_draft_fetch.json
{
  "updatedAt": "2025-12-05T12:58:21.000Z",
  "createdAt": "2025-12-05T12:27:34.629Z",
  "id": "fIb8BKRNac792wnA",
  "name": "Mail Draft Fetch",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const mails = $input.all();\nconst user_mail = $input.first().json.email;\nlet emailList = []\n\nfor (const mail of mails) {\n  for (const recipient of mail.json.toRecipients) {\n    if(recipient.emailAddress.address===user_mail){\n       emailList.push(mail)\n       break;\n    }\n  }\n}\n\nreturn emailList;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1856,
        -88
      ],
      "id": "33898545-9c0b-431a-b55d-f7060c2e5865",
      "name": "Recipient Filter",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/me/messages?$top=20\n&$filter=\n(\n parentFolderId eq '{{ $json.folderIds.Urgent_Important }}'\n or\n parentFolderId eq '{{ $json.folderIds.Urgent_NotImportant }}'\n)\nand categories/any(a:a eq 'Categorized')\nand not(categories/any(a:a eq 'draft'))\nand receivedDateTime ge 2025-11-12T00:00:00Z\n&$select=id,subject,from,receivedDateTime,categories,hasAttachments,toRecipients,bodyPreview,body",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2528,
        32
      ],
      "id": "025ec447-07bb-4e7a-aa7f-625b47939a0f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Gelen JSON verisini $input.json'dan alın.\nconst inputData = $input.first().json;\n\n// HTML temizleme fonksiyonu\nfunction cleanHtmlContent(html) {\n    if (!html) return \"\";\n    \n    let text = html;\n    \n    // 1. Blok bitiş etiketlerini (p, div, br, li) yeni satıra çevir\n    text = text.replace(/<\\/p>|<\\/div>|<br>|<\\/br>|<\\/li>/gi, '\\n');\n\n    // 2. Geriye kalan tüm HTML etiketlerini sil\n    text = text.replace(/<[^>]+>/g, '');\n\n    // 3. HTML entity'lerini (örneğin &nbsp;) boşluk ile değiştir\n    text = text.replace(/&nbsp;/g, ' ');\n\n    // 4. Fazla boş satırları ve baştaki/sondaki boşlukları temizle\n    text = text.replace(/\\n\\s*\\n/g, '\\n').trim();\n\n    return text;\n}\n\n// 'value' özelliğinin var olup olmadığını kontrol edin\nif (inputData && Array.isArray(inputData.value)) {\n    // Dizideki her bir öğeyi dön\n    return inputData.value.map(item => {\n        if (item.body && item.body.content) {\n            // Önce HTML içeriği temizle\n            const cleanedText = cleanHtmlContent(item.body.content);\n\n            // Temizlenen metni 'bodyPreview' alanına ata\n            item.bodyPreview = cleanedText;\n\n            // (Opsiyonel) Body'nin kendisini de temizlenmiş haliyle güncellemek istersen:\n            item.body.content = cleanedText;\n            item.body.contentType = \"text\";\n        }\n        return item;\n    });\n}\n\n// Veri yoksa boş dizi döndür\nreturn [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2304,
        32
      ],
      "id": "6af9fb60-a7f6-4a26-a9a8-b5b217349eac",
      "name": "Code in JavaScript",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.access_token,\n    input1.telegram_chat_id,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1632,
        -160
      ],
      "id": "e1a0686d-216a-4e06-9579-8bb8a2ae0ebc",
      "name": "Merge"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -4096,
        -88
      ],
      "id": "baf24394-f1b6-48c0-8a77-03c269bd5743",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e1e1e18-52ed-470a-81cb-500e5ea87363",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1408,
        -160
      ],
      "id": "df0e7092-1c14-45f7-859e-bb60b877a9ec",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.user_id,\n    input1.email,\n    input1.name,\n    input1.last_name,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2080,
        -88
      ],
      "id": "ae57fc60-c751-4316-8464-5ce2b7eccef1",
      "name": "Merge1"
    },
    {
      "parameters": {
        "chatId": "-3257168516",
        "text": "=Error in workflow {{ $workflow.name }}\n{{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2080,
        152
      ],
      "id": "39aba09f-c9ec-477f-89bf-2db9474a929b",
      "name": "Error Message",
      "webhookId": "d0122a52-c00b-4e15-ab3e-5f14c712b6af",
      "credentials": {
        "telegramApi": {
          "id": "xTSQ9buOorLMIRKW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/me/mailFolders('deleteditems')?$select=id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3872,
        248
      ],
      "id": "496360bd-b64c-493f-8d8a-e3e863265f1a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT * FROM input1 LEFT JOIN input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3424,
        176
      ],
      "id": "da3f096c-670a-4bf7-9371-dbfed9d58a2b",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "// Gelen verinin ilk öğesini (listeyi) al ve dizi olarak döndür.\n// Dizi içinde sadece tek bir liste (görevler listesi) olacak.\nreturn [\n  {\n    json: items[0]\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3648,
        248
      ],
      "id": "0ff6486b-1218-4243-840e-cc5eeef05006",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/me/mailFolders?$top=999",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$input.first().json[\"access_token\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3200,
        272
      ],
      "id": "647b758e-f89f-4cd7-98ae-f8bb74b63302",
      "name": "Get Mail Folders",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT * FROM input1 LEFT JOIN input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2752,
        32
      ],
      "id": "2904ff7e-cfa5-4723-9168-b5d7c5add129",
      "name": "Merge3"
    },
    {
      "parameters": {
        "jsCode": "const folders = $input.first().json.value || [];\n\nconst targetFolders = [\n  \"Urgent_Important\",\n  \"Urgent_NotImportant\"\n];\n\nconst out = {};\n\nfor (const f of folders) {\n  if (targetFolders.includes(f.displayName)) {\n    out[f.displayName] = f.id;\n  }\n}\n\nreturn [{\n  json: {\n    folderIds: out\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2976,
        344
      ],
      "id": "c6d1d3c6-e249-4e17-a45b-aa62e374262d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qcnTNff2HhOfWLKL",
          "mode": "list",
          "cachedResultUrl": "/workflow/qcnTNff2HhOfWLKL",
          "cachedResultName": "Mail-Draft"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1184,
        -64
      ],
      "id": "4fe0d54e-1401-482a-b4f6-83a6f5f5e6bf",
      "name": "Call 'Mail-Draft'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mIqZLZEI5r2Xjt9r",
          "mode": "list",
          "cachedResultUrl": "/workflow/mIqZLZEI5r2Xjt9r",
          "cachedResultName": "Add Draft Tag"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1184,
        -256
      ],
      "id": "3663d6de-80c7-4d23-b0a2-2de6f261c862",
      "name": "Call 'Add Draft Tag'"
    }
  ],
  "connections": {
    "Recipient Filter": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Call 'Mail-Draft'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Add Draft Tag'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Recipient Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Get Mail Folders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Mail Folders": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f22bc304-d4a6-48d2-92b5-adb424ac0abf",
  "versionCounter": 11,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-05T12:27:34.631Z",
      "createdAt": "2025-12-05T12:27:34.631Z",
      "role": "workflow:owner",
      "workflowId": "fIb8BKRNac792wnA",
      "projectId": "Qz4EZoRaJoP60D6r",
      "project": {
        "updatedAt": "2025-03-05T09:02:20.383Z",
        "createdAt": "2025-03-05T08:58:50.174Z",
        "id": "Qz4EZoRaJoP60D6r",
        "name": "Berkay Güzel <berkayguzel43@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-03-05T08:58:50.174Z",
            "createdAt": "2025-03-05T08:58:50.174Z",
            "userId": "fd0dad10-3532-42d3-92d8-22a846fddec9",
            "projectId": "Qz4EZoRaJoP60D6r",
            "user": {
              "updatedAt": "2025-12-05T06:44:21.000Z",
              "createdAt": "2025-03-05T08:58:49.757Z",
              "id": "fd0dad10-3532-42d3-92d8-22a846fddec9",
              "email": "berkayguzel43@gmail.com",
              "firstName": "Berkay",
              "lastName": "Güzel",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-03-05T09:03:26.064Z",
                "personalization_survey_n8n_version": "1.81.4",
                "automationGoalDevops": [
                  "other",
                  "monitoring-alerting",
                  "reporting"
                ],
                "companySize": "personalUser",
                "companyType": "systems-integrator",
                "role": "engineering",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "l5177howJJ0DyiVM",
                "userActivatedAt": 1761210491841,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763717488235
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}