n8n-workflows/mail_agent.json
{
  "updatedAt": "2025-11-26T10:25:35.000Z",
  "createdAt": "2025-11-24T08:10:37.211Z",
  "id": "bT2dZGPQfQmYcuTZ",
  "name": "Mail-Agent",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Body:{{ $json.bodyPreview }}\nSubject:{{ $json.subject }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful mail assistant that performs one main task using the available tools:\n\nCalendar Management Task\n\nIf the email’s subject or body contains specific date or time information related to meetings, events, or important deadlines,\n\nWhen adding to the calendar:\n\nUse the detected date/time from the email content (not the mail’s sent date).\n\nUse the subject or main context of the email as the event title.\n\nRules:\n\nNEVER RETURN RATHER THAT STRUCTURE OUTPUT\nDO NOT ADD YOUR COMMENT\nDO NOT ADD ANYTHING RATHER THAT OUTPUT STRUCTURE\n\nIf there is no date information return output structure empty\n{\n  \"startdate\":\"\",\n  \"enddate\":\"\",\n  \"title\":\"\"\n}\n\nstartdate and enddate only will be RFC3339 structure this format YYYY-MM-DDTHH:mm:ss+03:00\n\nNever guess or fabricate dates — only use explicit or clearly stated date/time information.\n\nYou do not add anything to the calendar unless there is a concrete date/time reference in the content.\n\nIf enddate not given add 30 minutes to startdate and send it in the output\n\nThe Output Structure like this:\n{\n  \"startdate\":\"2025-09-01T10:00:00\",\n  \"enddate\":\"2025-09-01T11:00:00\",\n  \"title\":\"Fishing Time\",\n  \"description\":\"<ult,file_links,task_description>\",\n}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -944,
        -128
      ],
      "id": "e21ab99e-aa5f-4d1a-a57d-eddaaebbafd4",
      "name": "Email Calendar Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  try {\n    const data = item.json.output;\n    const parsed = JSON.parse(data);\n    results.push({ json: parsed });\n  } catch (error) {\n    // Eğer parse edilemezse hata vermeden geç\n    results.push({ json: { error: 'Invalid JSON', original: item.json.output } });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        -192
      ],
      "id": "e115f40c-283b-42db-be0c-0b6f9968bb30",
      "name": "Parse Date Data",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Each item in input is processed separately\nconst item = $input.item;\n\n// Copy the JSON content\nconst data = { ...item.json };\n\n// Parse the enddate\nconst date = new Date(data.enddate);\n\n// Add 10 minutes\ndate.setMinutes(date.getMinutes() + 10);\n\n// Format back to YYYY-MM-DDTHH:mm:ss\nconst year = date.getFullYear();\nconst month = String(date.getMonth() + 1).padStart(2, '0');\nconst day = String(date.getDate()).padStart(2, '0');\nconst hours = String(date.getHours()).padStart(2, '0');\nconst minutes = String(date.getMinutes()).padStart(2, '0');\nconst seconds = String(date.getSeconds()).padStart(2, '0');\n\n// Update the enddate\ndata.enddate = `${year}-${month}-${day}T${hours}:${minutes}:${seconds}`;\n\n// ✅ Return a single object for this item\nreturn {\n  json: data\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -272
      ],
      "id": "3e595b8e-0154-4945-95f5-1e35ffe134d3",
      "name": "Adjust Date Data",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6bf1892c-da1e-46f4-b5da-8c4399e4d917",
              "leftValue": "={{ $json.original.startdate }}",
              "rightValue": "empty",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "71f15cdb-6f58-4b33-8bfd-4cd9fd5deeff",
              "leftValue": "={{ $json.original.enddate }}",
              "rightValue": "empty",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -304,
        -272
      ],
      "id": "52a39833-841a-4b96-ac2c-79f0f07445dc",
      "name": "Date Filter"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"startdate\":\"2025-09-01T10:00:00\",\n  \"enddate\":\"2025-09-01T11:00:00\",\n  \"title\":\"Fishing Time\",\n  \"description\":\"<ult,file_links,task_description>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -736,
        112
      ],
      "id": "eedf96ba-391e-499a-ab60-c023550d4dd1",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "includeTime": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Include_Current_Time', ``, 'boolean') }}",
        "outputFieldName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Output_Field_Name', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -864,
        112
      ],
      "id": "27449440-a1e4-4955-8d2f-17e0740052ec",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1440,
        -256
      ],
      "id": "5be9b644-8957-4b26-8038-9549fb1222a8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "chatId": "7073997232",
        "text": "=Error in workflow {{ $workflow.name }}\n{{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1488,
        -224
      ],
      "id": "99726c16-a0c2-4e1c-9b94-42bc9ba16068",
      "name": "Send a text message",
      "webhookId": "c0810fa9-ab69-41cf-bfd9-996278fdd876",
      "credentials": {
        "telegramApi": {
          "id": "JG4HCYCvUBrFrjrG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -992,
        112
      ],
      "id": "b9f596c6-ed3d-41bc-90eb-56177c8d84e1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yohuzcpOTpBCKcFi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.*,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1040,
        -608
      ],
      "id": "ca1f43d1-31cc-4463-a449-f2c7c73f4e82",
      "name": "Merge1"
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/me/calendars?$top=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$json.access_token}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        -544
      ],
      "id": "7f8c8a6a-0005-4bfd-83f8-cdc4e704b980",
      "name": "Get Calendar Lists",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Tüm takvim listesini al\nconst items = $input.all();\n\n// Hangi takvimi istiyorsun\nconst targetName = \"Calendar\"; // İstersen burayı değiştir\n\n// Flatten edilmiş JSON'ların birleşmiş halini istiyoruz\nconst allCalendars = [];\nfor (const item of items) {\n  if (Array.isArray(item.json.value)) {\n    allCalendars.push(...item.json.value);\n  }\n}\n\n// İstenen takvimi bul\nconst found = allCalendars.find(c => c.name === targetName);\n\nif (!found) {\n  return []; // bulunamazsa boş dön\n}\n\n// Yeni bir JSON nesnesi oluştur ve ID'yi calendar_id olarak ata\nconst resultJson = {\n  calendar_id: found.id // 'id' alanını 'calendar_id' olarak yeniden adlandır\n};\n\n// n8n her zaman array bekler\nreturn [\n  {\n    json: resultJson // Yeniden adlandırılmış ID'yi içeren nesneyi döndür\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -608
      ],
      "id": "0b186e92-6bb1-498d-9a6b-7fbd34b09b0e",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/me/calendars/{{$json.calendar_id}}/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$input.first().json[\"input1.json->access_token\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subject\": \"{{$json.original.title}}\",\n  \"body\": {\n    \"contentType\": \"HTML\",\n    \"content\": \"Açıklama: {{$json.original.description}}\"\n  },\n  \"start\": {\n    \"dateTime\": \"{{$json.original.startdate}}\",\n    \"timeZone\": \"UTC\"\n  },\n  \"end\": {\n    \"dateTime\": \"{{$json.original.enddate}}\",\n    \"timeZone\": \"UTC\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1264,
        -608
      ],
      "id": "f2c9134e-b9a6-4491-aa9c-5b2da61f6bf5",
      "name": "Calendar Event",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.json.access_token,\n    input2.original\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        144,
        -464
      ],
      "id": "22a0bdb2-73c0-4ce3-bfdf-bc885ce9c422",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Gelen verinin ilk öğesini (listeyi) al ve dizi olarak döndür.\n// Dizi içinde sadece tek bir liste (görevler listesi) olacak.\nreturn [\n  {\n    json: items[0]\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -512
      ],
      "id": "f39acd82-494e-491c-8cdb-6d04e5ce43c1",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json[\"input1.json->access_token\"];\n\nreturn [\n  {\n    json: {\n      access_token: token\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -544
      ],
      "id": "4a4aaebf-3326-49c8-a704-d279ee931bc2",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "05a8fb07-b925-4c0c-a8af-21e1f8b26491",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1216,
        -256
      ],
      "id": "7d5d780c-9efa-4c75-862d-700e25435e41",
      "name": "If"
    }
  ],
  "connections": {
    "Email Calendar Agent": {
      "main": [
        [
          {
            "node": "Parse Date Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Date Data": {
      "main": [
        [
          {
            "node": "Date Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adjust Date Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Filter": {
      "main": [
        [
          {
            "node": "Adjust Date Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Email Calendar Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "Email Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar Lists": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Get Calendar Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Event": {
      "main": [
        [],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c8497ee4-7d6b-40af-aca1-876aadb43d93",
  "versionCounter": 21,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-25T07:28:14.735Z",
      "createdAt": "2025-11-25T07:28:14.735Z",
      "role": "workflow:owner",
      "workflowId": "bT2dZGPQfQmYcuTZ",
      "projectId": "Ti3JL05CSVUvJj6A",
      "project": {
        "updatedAt": "2025-10-20T20:29:51.468Z",
        "createdAt": "2025-10-20T20:29:10.045Z",
        "id": "Ti3JL05CSVUvJj6A",
        "name": "Berkay Güzel <berkayguzel43@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-20T20:29:10.046Z",
            "createdAt": "2025-10-20T20:29:10.046Z",
            "userId": "63547d7a-5632-4caa-b82b-e1517f572f8f",
            "projectId": "Ti3JL05CSVUvJj6A",
            "user": {
              "updatedAt": "2025-12-01T05:39:44.000Z",
              "createdAt": "2025-10-20T20:29:09.823Z",
              "id": "63547d7a-5632-4caa-b82b-e1517f572f8f",
              "email": "berkayguzel43@gmail.com",
              "firstName": "Berkay",
              "lastName": "Güzel",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-20T20:29:56.564Z",
                "personalization_survey_n8n_version": "1.115.3"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "igqmQcqCfFbzi8Ws",
                "userActivatedAt": 1761636420034,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763316240404
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-01",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-26T10:25:30.433Z",
      "createdAt": "2025-11-26T10:25:30.433Z",
      "id": "hLME5dmndvoxHS66",
      "name": "not-finished-executable"
    }
  ]
}