n8n-workflows/mail_categorization_fetch.json
{
  "updatedAt": "2025-12-05T09:01:19.000Z",
  "createdAt": "2025-12-05T06:45:32.660Z",
  "id": "ZvAoMT0NyqWxUSfF",
  "name": "Mail Categorization Fetch",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const mails = $input.all();\nconst user_mail = $input.first().json.email;\nlet emailList = [];\n\nfor (const mail of mails) {\n  // Check if toRecipients exists and is iterable\n  const toRecipients = mail.json.toRecipients;\n  \n  if (toRecipients && Array.isArray(toRecipients)) {\n    for (const recipient of toRecipients) {\n      if (recipient.emailAddress && recipient.emailAddress.address === user_mail) {\n        emailList.push(mail);\n        break;\n      }\n    }\n  }\n}\n\nreturn emailList;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2176,
        112
      ],
      "id": "9eeceb50-5a1f-451a-994a-f11fed38f357",
      "name": "Recipient Filter",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/me/mailFolders('inbox')/messages?$top=20&$categories/any(a:a eq 'Categorized') and receivedDateTime ge 2025-11-12T00:00:00Z&$select=id,subject,from,receivedDateTime,categories,hasAttachments,toRecipients,bodyPreview,body",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2848,
        256
      ],
      "id": "803df440-bae2-4407-8be0-183b9f8b0b54",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Gelen JSON verisini $input.json'dan alın.\nconst inputData = $input.first().json;\n\n// HTML temizleme fonksiyonu\nfunction cleanHtmlContent(html) {\n    if (!html) return \"\";\n    \n    let text = html;\n    \n    // 1. Blok bitiş etiketlerini (p, div, br, li) yeni satıra çevir\n    text = text.replace(/<\\/p>|<\\/div>|<br>|<\\/br>|<\\/li>/gi, '\\n');\n\n    // 2. Geriye kalan tüm HTML etiketlerini sil\n    text = text.replace(/<[^>]+>/g, '');\n\n    // 3. HTML entity'lerini (örneğin &nbsp;) boşluk ile değiştir\n    text = text.replace(/&nbsp;/g, ' ');\n\n    // 4. Fazla boş satırları ve baştaki/sondaki boşlukları temizle\n    text = text.replace(/\\n\\s*\\n/g, '\\n').trim();\n\n    return text;\n}\n\n// 'value' özelliğinin var olup olmadığını kontrol edin\nif (inputData && Array.isArray(inputData.value)) {\n    // Dizideki her bir öğeyi dön\n    return inputData.value.map(item => {\n        if (item.body && item.body.content) {\n            // Önce HTML içeriği temizle\n            const cleanedText = cleanHtmlContent(item.body.content);\n\n            // Temizlenen metni 'bodyPreview' alanına ata\n            item.bodyPreview = cleanedText;\n\n            // (Opsiyonel) Body'nin kendisini de temizlenmiş haliyle güncellemek istersen:\n            item.body.content = cleanedText;\n            item.body.contentType = \"text\";\n        }\n        return item;\n    });\n}\n\n// Veri yoksa boş dizi döndür\nreturn [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2624,
        256
      ],
      "id": "33976f95-4f6a-4636-a3e7-1d032f2a0bec",
      "name": "Code in JavaScript",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.access_token,\n    input1.telegram_chat_id,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1952,
        -16
      ],
      "id": "182d2c1a-3417-4abe-9e05-f81596ddfd6d",
      "name": "Merge"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -3072,
        64
      ],
      "id": "6e6241a3-dc3a-4091-b7e6-f7faa24c360a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e1e1e18-52ed-470a-81cb-500e5ea87363",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1728,
        -16
      ],
      "id": "500c61b4-cd94-4026-bac6-0db2cf5c191b",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.user_id,\n    input1.email,\n    input1.name,\n    input1.last_name,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2400,
        112
      ],
      "id": "17bde116-a427-4842-a573-638bea87cd12",
      "name": "Merge1"
    },
    {
      "parameters": {
        "chatId": "-1003257168516",
        "text": "=Error in workflow {{ $workflow.name }}\n{{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1952,
        256
      ],
      "id": "b77dbb6a-24c4-4b97-bf47-d37e7e9f5937",
      "name": "Error Message",
      "webhookId": "04a2a8f3-d52f-4f68-8209-9d6f0d110af1",
      "credentials": {
        "telegramApi": {
          "id": "xTSQ9buOorLMIRKW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1I6fApboY7fsM5tb",
          "mode": "list",
          "cachedResultUrl": "/workflow/1I6fApboY7fsM5tb",
          "cachedResultName": "Add Categorized Tag"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1440,
        -256
      ],
      "id": "b9afeda3-b057-468f-a791-ccb4e056d4cf",
      "name": "Call 'Add Categorized Tag'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "H67AazHPjBucJNYF",
          "mode": "list",
          "cachedResultUrl": "/workflow/H67AazHPjBucJNYF",
          "cachedResultName": "Mail-Labeler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1360,
        176
      ],
      "id": "fa51d8f4-53f2-4e29-9e63-9b753602a033",
      "name": "Call 'Mail-Labeler'"
    }
  ],
  "connections": {
    "Recipient Filter": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Call 'Add Categorized Tag'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Mail-Labeler'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Recipient Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7b2f4042-041e-4955-b3d5-0043c4c251cb",
  "versionCounter": 4,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-05T06:45:32.665Z",
      "createdAt": "2025-12-05T06:45:32.665Z",
      "role": "workflow:owner",
      "workflowId": "ZvAoMT0NyqWxUSfF",
      "projectId": "Qz4EZoRaJoP60D6r",
      "project": {
        "updatedAt": "2025-03-05T09:02:20.383Z",
        "createdAt": "2025-03-05T08:58:50.174Z",
        "id": "Qz4EZoRaJoP60D6r",
        "name": "Berkay Güzel <berkayguzel43@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-03-05T08:58:50.174Z",
            "createdAt": "2025-03-05T08:58:50.174Z",
            "userId": "fd0dad10-3532-42d3-92d8-22a846fddec9",
            "projectId": "Qz4EZoRaJoP60D6r",
            "user": {
              "updatedAt": "2025-12-05T06:44:21.000Z",
              "createdAt": "2025-03-05T08:58:49.757Z",
              "id": "fd0dad10-3532-42d3-92d8-22a846fddec9",
              "email": "berkayguzel43@gmail.com",
              "firstName": "Berkay",
              "lastName": "Güzel",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-03-05T09:03:26.064Z",
                "personalization_survey_n8n_version": "1.81.4",
                "automationGoalDevops": [
                  "other",
                  "monitoring-alerting",
                  "reporting"
                ],
                "companySize": "personalUser",
                "companyType": "systems-integrator",
                "role": "engineering",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "l5177howJJ0DyiVM",
                "userActivatedAt": 1761210491841,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763717488235
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}