n8n-workflows/mail_todo.json
{
  "updatedAt": "2025-12-05T06:48:44.000Z",
  "createdAt": "2025-12-05T06:45:33.420Z",
  "id": "YzljVGkC5GTkE6lz",
  "name": "Mail-ToDo",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  try {\n    const data = item.json.output;\n    const parsed = JSON.parse(data);\n    results.push({ json: parsed });\n  } catch (error) {\n    // Eğer parse edilemezse hata vermeden geç\n    results.push({ json: { error: 'Invalid JSON', original: item.json.output } });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        352
      ],
      "id": "a8e4a852-0a26-45d8-a73f-796d80a64b62",
      "name": "Parse ToDo Data",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "80a0e84d-4258-44f5-873c-35bf3f7800c3",
              "leftValue": "={{ $json }}",
              "rightValue": 70,
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -576,
        368
      ],
      "id": "b7c8bcf4-e1ff-4c9b-8c7a-6972224f1ac1",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "80a0e84d-4258-44f5-873c-35bf3f7800c3",
              "leftValue": "={{ $json.due_date }}",
              "rightValue": 70,
              "operator": {
                "type": "dateTime",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        -528
      ],
      "id": "c292c774-1698-496a-b0c5-657689dbcbc8",
      "name": "If4"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"priority_score\": \"<0-100>\",\n  \"subject\": \"<email subject>\",\n  \"overall_summary\": \"<brief explanation of why this email deserves its score>\",\n  \"task\": {\n     \"title\": \"<short actionable task title>\",\n     \"description\": \"<optional longer task description>\",\n     \"due_date\": \"<ISO format if detected, otherwise null>\"\n  }\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1168,
        496
      ],
      "id": "771c7051-ceeb-4205-b629-a9026f7627b8",
      "name": "Structured Output Parser4",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Body:{{ $json.bodyPreview }}\nSubject:{{ $json.subject }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an intelligent email analysis assistant specialized in prioritizing, extracting tasks, and risk-assessing emails.\n\nYour primary goals:\n\nAnalyze the email content using the defined priority criteria.\n\nDetect if the email implies any action, deadline, follow-up, approval, or task.\n\nOutput a structured JSON including both priority scoring and actionable task extraction for Microsoft To Do.\n\nAnalysis Criteria\n\nCarefully analyze the email and identify the following:\n\n1. Date / Deadline\nDetect any time-bound expression (e.g., \"tomorrow\", “ASAP”, “before Friday”).\nCloser deadlines → higher priority.\n\n2. Money / Invoice / Payment\nReferences to invoices, payments, pricing, refunds, financial commitments.\nHigher monetary stakes → higher importance.\n\n3. Commitment / Agreement\nAnything requiring approval, delivering something, confirming, sending a file, or fulfilling an obligation.\n\n4. Legal / Compliance Risk\nMentions of contracts, terms, liability, compliance, regulations, privacy, penalties.\nLegal implications drastically raise priority.\n\n5. Customer Satisfaction / Relationships\nComplaints, dissatisfaction, VIP clients, escalations, sensitive tone.\n\nTask Extraction Rules\n\nExtract a task IF AND ONLY IF the email includes one of the following:\n\nThe sender requests an action.\n\nA deadline that implies work.\n\nA follow-up is required.\n\nA document must be sent or reviewed.\n\nSomething must be approved, fixed, confirmed, or delivered.\n\nPayment or invoice must be processed.\n\nThe extracted task must always be:\n\nActionable\n\nClear\n\nShort but informative\n\nFree of unnecessary email text\n\nIf no task is required, return \"task\": null.\n\nOutput Format\n\nReturn your final answer in the following JSON structure:\n\n{\n  \"priority_score\": \"<0-100>\",\n  \"subject\": \"<email subject>\",\n  \"overall_summary\": \"<brief explanation of why this email deserves its score>\",\n  \"task\": {\n     \"title\": \"<short actionable task title>\",\n     \"description\": \"<optional longer task description>\",\n     \"due_date\": \"<ISO format if detected, otherwise null>\"\n  }\n}\n\n\nIf there is no task, output:\n\n\"task\": null\n\n\nDo NOT add text outside the JSON output."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1376,
        272
      ],
      "id": "4ccb18a2-2379-434c-93d2-fb58d3f3e622",
      "name": "Mail Task App",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1872,
        -192
      ],
      "id": "dea0c881-b399-41b7-ac0a-1aa6a74d2550",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1872,
        1136
      ],
      "id": "53942051-4944-44c0-9504-114b4b94c63e",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "fxWHzuDbpxOZTwOR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/me/todo/lists/{{$input.first().json[\"id\"]}}/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.title }}\",\n  \"body\": {\n    \"content\": \"{{ $json.description }}\",\n    \"contentType\": \"text\"\n  },\n  \"dueDateTime\": {\n    \"dateTime\": \"{{ $json.due_date }}\",\n    \"timeZone\": \"Europe/Istanbul\"\n  }\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1440,
        -624
      ],
      "id": "b841253e-372a-4624-b29b-6a8219b57960",
      "name": "Create Tasks",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/me/todo/lists?$filter=displayName eq 'Görevler'&$top=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$json.access_token}}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        96,
        -192
      ],
      "id": "e800813d-ab8d-4d7c-8d01-d00640774c79",
      "name": "Get ToDo Lists",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/me/todo/lists/{{$input.first().json[\"id\"]}}/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.title }}\",\n  \"body\": {\n    \"content\": \"{{ $json.description }}\",\n    \"contentType\": \"text\"\n  }\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1440,
        -432
      ],
      "id": "eb87f89d-7c87-4b22-8c14-c4dd573a70cb",
      "name": "Create Tasks1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.json.access_token,\n    input1.json.telegram_chat_id,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -352,
        -384
      ],
      "id": "9eee5456-8a6e-420e-a444-a2c57f1884fc",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.id,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        544,
        -592
      ],
      "id": "daf38516-227c-47f0-89dd-f6fe3eca3b80",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// Gelen verinin ilk öğesini (listeyi) al ve dizi olarak döndür.\n// Dizi içinde sadece tek bir liste (görevler listesi) olacak.\nreturn [\n  {\n    json: items[0].json.value[0]\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -304
      ],
      "id": "37eb39ce-83f3-4625-8707-ff2ae337ed14",
      "name": "Code in JavaScript",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Gelen verinin ilk öğesini (listeyi) al ve dizi olarak döndür.\n// Dizi içinde sadece tek bir liste (görevler listesi) olacak.\nreturn [\n  {\n    json: items[0]\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        -384
      ],
      "id": "4b889c79-6641-4ecd-9024-9836e8099f71",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json[\"input1.json->access_token\"];\n\nreturn [\n  {\n    json: {\n      access_token: token\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -112
      ],
      "id": "b07f1bd8-5a80-4ba7-a5ed-197d6b4d084f",
      "name": "Code in JavaScript3",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfor (const item of items) {\n  // 1. Task verisini al\n  const task = item.task || (item.json && item.json.task);\n  \n  // 2. Access Token verisini al\n  const accessToken = item[\"input1.json->access_token\"] || (item.json && item.json[\"input1.json->access_token\"]);\n\n  // 3. ID verisini al (Genellikle email message ID'sidir)\n  const listId = item.id || (item.json && item.json.id);\n\n  // 4. SADECE Task VARSA işlem yap (Filtreleme)\n  if (task) {\n\n    // --- Tarih Formatlama Mantığı (Aynen korundu) ---\n    if (task.due_date) {\n      let originalDateValue = task.due_date;\n      \n      if (String(originalDateValue).toLowerCase() !== \"null\" && originalDateValue !== \"\") {\n        try {\n          const dateObject = new Date(originalDateValue);\n          if (!isNaN(dateObject.getTime())) {\n            task.due_date = dateObject.toISOString();\n          } else {\n            task.due_date = null;\n          }\n        } catch (e) {\n          task.due_date = null;\n        }\n      } else {\n        task.due_date = null;\n      }\n    }\n    // ------------------------------------------------\n\n    // 5. ÇIKTI OLUŞTURMA\n    // Task verilerini yay (...task), token'ı ve id'yi ekle.\n    output.push({\n      ...task,               // title, description, due_date\n      access_token: accessToken,\n      id: listId             // İsteğiniz üzerine ID de eklendi\n    });\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        -672
      ],
      "id": "e48aa816-65e3-4b3c-a1b4-7d07f3f8ce91",
      "name": "Code in JavaScript1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get Current Time",
        "outputFieldName": "time",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -1296,
        496
      ],
      "id": "7922b7e7-ee1c-440d-ba9f-3217d23762b7",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "05a8fb07-b925-4c0c-a8af-21e1f8b26491",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1648,
        -192
      ],
      "id": "ef174850-2c95-4e55-b92d-7308076fd6e6",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1872,
        928
      ],
      "id": "613c8085-d2e3-47f2-86c0-8a845a9b79b1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fxWHzuDbpxOZTwOR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "numCtx": 131072
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -1424,
        496
      ],
      "id": "5c077558-e164-4115-a3e2-ac605fa7405d",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "HYP2LXmMoDsk2iKY",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "numCtx": 131072
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        -1088,
        704
      ],
      "id": "3f1ee953-9e3e-47f3-9024-d42d4be4b413",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "HYP2LXmMoDsk2iKY",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1872,
        704
      ],
      "id": "b478320f-9d5e-4297-917a-09f0c140da95",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1648,
        704
      ],
      "id": "9406b1d8-31f0-4552-996d-b680bf39c792",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "-1003257168516",
        "text": "=Error in workflow {{ $workflow.name }}\n{{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1664,
        -144
      ],
      "id": "4c0333ac-f5f7-41c4-8ec8-0c10f02ea963",
      "name": "Error Message",
      "webhookId": "334474c1-8a99-4c2e-a320-7e3683e4ea3b",
      "credentials": {
        "telegramApi": {
          "id": "xTSQ9buOorLMIRKW",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{$input.first().json[\"telegram_chat_id\"]}}",
        "text": "New Tasks Added - You can check from your outlook",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2336,
        -640
      ],
      "id": "4ab9f391-5a68-4d9a-80de-af2e27ce8f3d",
      "name": "Send a text message1",
      "webhookId": "334474c1-8a99-4c2e-a320-7e3683e4ea3b",
      "credentials": {
        "telegramApi": {
          "id": "xTSQ9buOorLMIRKW",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.*,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2112,
        -640
      ],
      "id": "8c10f3ed-f52a-40f4-a203-230e1a8d08c9",
      "name": "Merge5"
    },
    {
      "parameters": {
        "jsCode": "// Gelen verinin ilk öğesini (listeyi) al ve dizi olarak döndür.\n// Dizi içinde sadece tek bir liste (görevler listesi) olacak.\nreturn [\n  {\n    json: items[0]\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        -576
      ],
      "id": "94941bfd-6048-4e79-b64d-7d8f47e43b63",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1664,
        -576
      ],
      "id": "3796eba6-2231-4693-bf57-932017ea29a9",
      "name": "Merge6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO error_logs (user_id, error_message, workflow_name, workflow_id, execution_id, status, metadata)\nVALUES (\n  NULLIF('{{ $json.user_id || $json.id || \"\" }}', '')::uuid,\n  '{{ ($json.error?.message || \"Unknown error\").replace(/'/g, \"''\") }}',\n  '{{ $workflow.name.replace(/'/g, \"''\") }}',\n  '{{ $workflow.id }}',\n  '{{ $execution.id }}',\n  'error',\n  '{{ JSON.stringify($json).replace(/'/g, \"''\") }}'::jsonb\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1888,
        -144
      ],
      "id": "7bdb2f51-72d9-4326-a247-eb573aeb7db0",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "lSf8LsoQGg0drmfO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Gelen veriyi al\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // 1. Ana verideki ID'yi ve Token'ı al\n  const originalId = item.json.id;\n  const accessToken = item.json[\"input1.json->access_token\"];\n  \n  // 2. Task listesini al\n  const tasks = item.json.tasks || [];\n  \n  // 3. Her bir task'i işle\n  for (const task of tasks) {\n    \n    // Temel objeyi oluştur (Due Date HARİÇ)\n    const taskObject = {\n        todoListId: originalId,\n        title: task.title,\n        description: task.description,\n        access_token: accessToken,\n        parent_subject: item.json.subject\n    };\n\n    // KONTROL: \n    // 1. task.due_date var mı?\n    // 2. \"null\" yazısı (string) DEĞİL mi?\n    // 3. Boş tırnak \"\" DEĞİL mi?\n    if (task.due_date && task.due_date !== \"null\" && task.due_date !== \"\") {\n        taskObject.due_date = task.due_date;\n    }\n\n    results.push({\n      json: taskObject\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -784
      ],
      "id": "f5745c12-980c-4598-beb3-0977c1f0c0b1",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "jsCode": "// Gelen veriyi al\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // 1. Ana verideki ID, Token ve Telegram Chat ID'yi al\n  const originalId = item.json.id;\n  const accessToken = item.json[\"input1.json->access_token\"];\n  \n  // EKLENEN KISIM: Telegram ID'yi alıyoruz\n  const telegramChatId = item.json[\"input1.json->telegram_chat_id\"];\n  \n  // 2. Task verisini al\n  const task = item.json.task;\n\n  // Eğer task verisi yoksa atla\n  if (!task) {\n    continue; \n  }\n\n  // 3. Task objesini oluştur\n  const taskObject = {\n      id: originalId,                    // Sonraki node için gerekli ID\n      telegram_chat_id: telegramChatId,  // EKLENDİ: Telegram ID artık çıktıya dahil\n      title: task.title,\n      description: task.description,\n      access_token: accessToken,\n      parent_subject: item.json.subject\n  };\n\n  // --- TARİH İŞLEME MANTIĞI ---\n  let processedDueDate = null;\n  const originalDateValue = task.due_date;\n\n  if (originalDateValue && String(originalDateValue).toLowerCase() !== \"null\" && originalDateValue !== \"\") {\n    try {\n      const dateObject = new Date(originalDateValue);\n      if (!isNaN(dateObject.getTime())) {\n        processedDueDate = dateObject.toISOString();\n      } \n    } catch (e) {\n      console.error(\"Tarih dönüşüm hatası:\", e);\n    }\n  }\n\n  if (processedDueDate) {\n      taskObject.due_date = processedDueDate;\n  }\n  // ----------------------------\n\n  results.push({\n    json: taskObject\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -592
      ],
      "id": "1f919d2e-6600-4a5b-bc62-6268d68d0723",
      "name": "Code in JavaScript4",
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Parse ToDo Data": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Create Tasks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Tasks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mail Task App": {
      "main": [
        [
          {
            "node": "Parse ToDo Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "Mail Task App",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ToDo Lists": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Get ToDo Lists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [],
        []
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "Mail Task App",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mail Task App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tasks1": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tasks": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Mail Task App",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Message": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4c1145a0-6390-430f-bef8-ea180298201a",
  "versionCounter": 2,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-05T06:45:33.425Z",
      "createdAt": "2025-12-05T06:45:33.425Z",
      "role": "workflow:owner",
      "workflowId": "YzljVGkC5GTkE6lz",
      "projectId": "Qz4EZoRaJoP60D6r",
      "project": {
        "updatedAt": "2025-03-05T09:02:20.383Z",
        "createdAt": "2025-03-05T08:58:50.174Z",
        "id": "Qz4EZoRaJoP60D6r",
        "name": "Berkay Güzel <berkayguzel43@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-03-05T08:58:50.174Z",
            "createdAt": "2025-03-05T08:58:50.174Z",
            "userId": "fd0dad10-3532-42d3-92d8-22a846fddec9",
            "projectId": "Qz4EZoRaJoP60D6r",
            "user": {
              "updatedAt": "2025-12-05T06:44:21.000Z",
              "createdAt": "2025-03-05T08:58:49.757Z",
              "id": "fd0dad10-3532-42d3-92d8-22a846fddec9",
              "email": "berkayguzel43@gmail.com",
              "firstName": "Berkay",
              "lastName": "Güzel",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-03-05T09:03:26.064Z",
                "personalization_survey_n8n_version": "1.81.4",
                "automationGoalDevops": [
                  "other",
                  "monitoring-alerting",
                  "reporting"
                ],
                "companySize": "personalUser",
                "companyType": "systems-integrator",
                "role": "engineering",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "l5177howJJ0DyiVM",
                "userActivatedAt": 1761210491841,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763717488235
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}