n8n-workflows/mail_labeler.json
{
  "updatedAt": "2025-11-28T10:39:06.000Z",
  "createdAt": "2025-11-20T07:17:40.839Z",
  "id": "rpTj6NRiVVAvLDLt",
  "name": "Mail-Labeler",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "label_id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2464,
        464
      ],
      "id": "fcfe0fe8-f397-40d7-8c45-dca51141f456",
      "name": "Merge Mail and Id"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Body:{{ $json.bodyPreview }}\nSubject:{{ $json.subject }}\nSender:{{ $json.from.emailAddress.address }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a highly professional email response assistant.\nYour single responsibility is to write a clear, concise, and formally structured reply to the email you receive.\n\nYour writing style must always follow these principles:\n\nUse a polished, business-grade tone suitable for corporate communication.\n\nEnsure the response is respectful, solution-oriented, and grammatically flawless.\n\nReflect understanding of the sender’s message and address all actionable points.\n\nProvide clarification, confirmation, or next steps when appropriate.\n\nAvoid emotional language, unnecessary details, or informal expressions.\n\nDo NOT include any analysis about the email — only produce the final reply message.\n\nKeep the output strictly as the email reply text, without additional formatting, JSON, or commentary.\n\nDo NOT include disclaimers, self-references, or explanations about how you generated the message.\n\nYour output should be a complete, ready-to-send professional email reply.\n\nYour output language should be the language of the received mail.\n\nOutput Format:\n{\n\t\"message\":\"<generated_respone>\",\n     \"subject\":\"<generated_subject>\",\n     \"to\":\"<who-to-send-mail-address>\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2240,
        208
      ],
      "id": "97e6b222-a7d6-4c76-8d96-793ff17ee5e5",
      "name": "Mail Draft"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"message\":\"<generated_respone>\",\n     \"subject\":\"<generated_subject>\",\n     \"to\":\"<who-to-send-mail-address>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2112,
        432
      ],
      "id": "1e74172c-d100-49ee-b7a0-90abaa7cd16d",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3cfd1cfe-a2fc-4e4a-8e70-3f432fb895a2",
              "leftValue": "={{ $json.label }}",
              "rightValue": "Urgent_Important",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b6fb9e3c-43dc-4775-bddd-9f3a8363786c",
              "leftValue": "={{ $json.label }}",
              "rightValue": "Important_NotUrgent",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -3136,
        336
      ],
      "id": "df4e719f-934d-400b-a42f-b0f0d2f80d1c",
      "name": "Filter1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"mail_id\":\"<id>\",\n  \"label\":\"<label>\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3952,
        1120
      ],
      "id": "5594e54a-c1b1-4764-9ad2-0a0ede5239eb",
      "name": "Structured Output Parser2",
      "disabled": true
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output.mail_id",
              "renameField": true,
              "outputFieldName": "label_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2912,
        336
      ],
      "id": "774ee4fd-d8d5-4cc0-98af-2d10edb1d147",
      "name": "Collect Urgen and Important Mails"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Body:{{ $json.bodyPreview }}\nSubject:{{ $json.subject }}\nId: {{ $json.id }}\nName:{{ $json.name }} {{ $json.last_name }} ",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a professional mail analysis assistant that categorizes emails according to a 4-quadrant urgency-importance matrix.\n\nYour single task:\n→ Assign exactly ONE label from the following set:\n\"Urgent_Important\", \"Important_NotUrgent\", \"Urgent_NotImportant\", \"NotUrgent_NotImportant\"\n\nYour analysis must follow the \"Relevance & Content\" logic defined below.\nDo not generate any explanations or text — output only the JSON.\n\n---\n\nUser Name Context:\nThe user's name is: [USER_NAME] \n(Check if this name appears in the email body or subject).\n\n---\n\nLOGIC & SCORING RULES:\n\n1. **Content Analysis (Primary):** Determine the base category using the definitions below.\n2. **Relevance Adjustment (Secondary):** - **IF User Name IS present:** Keep the base category determined by content.\n   - **IF User Name IS NOT present:** - *CRITICAL EXCEPTION:* If the content implies severe consequences (e.g., \"Server Down\", \"Legal Action\", \"Unpaid Debt\", \"Security Breach\"), DO NOT lower the category. Keep it as \"Urgent_Important\".\n     - *NON-CRITICAL:* If the content is generic (e.g., \"Weekly Update\", \"Team Announcement\", \"General Info\") and does not explicitly mention the user, **downgrade** the importance level (e.g., move from \"Important_NotUrgent\" to \"NotUrgent_NotImportant\").\n\n---\n\nCATEGORY DEFINITIONS:\n\n1️⃣ **Urgent_Important**\n- Must be acted on immediately. High impact or time-sensitive.\n- Examples: customer complaint, invoice due, payment confirmation, legal notice, project deadline, system failure, commitment confirmation.\n- Keywords: \"urgent\", \"ASAP\", \"deadline\", \"payment\", \"invoice\", \"problem\", \"legal\", \"approval\".\n\n2️⃣ **Important_NotUrgent**\n- Strategic or long-term importance but not time-critical.\n- Examples: project planning, reporting, performance review, partnership proposal, meeting arrangement.\n- Keywords: \"proposal\", \"plan\", \"meeting\", \"strategy\", \"analysis\", \"schedule\".\n\n3️⃣ **Urgent_NotImportant**\n- Quick response needed but low impact; routine or minor tasks.\n- Examples: internal reminders, small update requests, routine follow-ups, operational notifications.\n- Keywords: \"reminder\", \"update\", \"FYI\", \"request\", \"status\", \"confirmation\", \"note\".\n\n4️⃣ **NotUrgent_NotImportant**\n- No immediate action required. Informational or low-priority.\n- Examples: newsletters, promotions, announcements, thank-you notes, social or HR updates (especially if user is not mentioned).\n- Keywords: \"newsletter\", \"promotion\", \"announcement\", \"info\", \"social\", \"thank you\".\n\n---\n\nRequired Output Format:\n{\n  \"mail_id\":\"<id>\",\n  \"label\":\"<label>\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -4048,
        896
      ],
      "id": "49e3ae0a-30fb-44fd-8dc5-a3e2e74b00a7",
      "name": "Email Labeler Agent",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "label_id",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2688,
        336
      ],
      "id": "b84d1a07-ccb4-4523-a063-557ae1c31fab",
      "name": "Split Urgen and Important Mails"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -4528,
        400
      ],
      "id": "16fd1db4-a222-46fb-a13b-a61f475bf4f2",
      "name": "Get many messages"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -4528,
        1760
      ],
      "id": "953e678b-2636-4429-947d-7ce2561a5b94",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "yohuzcpOTpBCKcFi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -4528,
        1552
      ],
      "id": "f04433c5-b0e4-417b-9adc-e227037c7af4",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "yohuzcpOTpBCKcFi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.json.access_token,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3360,
        272
      ],
      "id": "aa18af97-eb34-4286-81be-06deca339dee",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Gelen verinin ilk öğesini (listeyi) al ve dizi olarak döndür.\n// Dizi içinde sadece tek bir liste (görevler listesi) olacak.\nreturn [\n  {\n    json: items[0]\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3584,
        272
      ],
      "id": "d1dfd585-bdd7-49dc-8a16-9f4e5bfc3a92",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/me/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$input.first().json[\"folder_id\"].access_token}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subject\": \"{{$json.output.subject}}\",\n  \"body\": {\n    \"contentType\": \"HTML\",\n    \"content\": \"{{$json.output.message.replace(/\\n/g, \"<br>\")}}\"\n  },\n  \"toRecipients\": [\n    {\n      \"emailAddress\": {\n        \"address\": \"{{$json.output.to}}\"\n      }\n    }\n  ],\n  \"isDraft\": true\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1664,
        464
      ],
      "id": "683e2b80-d8ca-485a-983d-fc50f2a99f1a",
      "name": "Create Draft",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/me/mailFolders?$top=999",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$input.first().json[\"json\"].access_token}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2464,
        -16
      ],
      "id": "19ac7e8f-3d8b-4063-b1d7-bf88982951c2",
      "name": "Get Mail Folders",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Gelen verinin ilk öğesini (listeyi) al ve dizi olarak döndür.\n// Dizi içinde sadece tek bir liste (görevler listesi) olacak.\nreturn [\n  {\n    json: items[0]\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2688,
        -16
      ],
      "id": "ea7ad3b4-92ed-4408-9859-eab0387247e4",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2176,
        -80
      ],
      "id": "aee74b81-c994-4402-9d70-eafacb5ea47b",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Tüm gelen verileri dizi olarak alıyoruz\nconst items = $input.all();\n\nif (items.length === 0) {\n    return [];\n}\n\n// 2. Verileri ayırıyoruz\n// İlk eleman klasör yapısını tutuyor\nconst foldersInput = items[0];\n// Geriye kalanlar işlenecek mailler\nconst emailsToProcess = items.slice(1);\n\n// 3. Klasör Haritasını (Map) Oluşturma\n// items[0].json üzerinden 'value' dizisine ulaşıyoruz\nconst foldersData = foldersInput.json.value || [];\nconst folderMap = {};\n\nfor (const folder of foldersData) {\n    // Klasör Adı: Klasör ID şeklinde haritalıyoruz\n    folderMap[folder.displayName] = folder.id;\n}\n\nconst results = [];\n\n// 4. Mailleri İşleme\nfor (const emailItem of emailsToProcess) {\n    const emailJson = emailItem.json;\n    \n    // HATA DÜZELTMESİ: .output kısmını kaldırdık çünkü veri doğrudan kökte.\n    // Eğer label yoksa bu adımı atla\n    if (!emailJson.label) {\n        continue;\n    }\n\n    const label = emailJson.label;\n    // Özel karakterli key'i köşeli parantez ile alıyoruz\n    const accessToken = emailJson[\"input1.json->access_token\"];\n    // HATA DÜZELTMESİ: .output kaldırıldı\n    const mailId = emailJson.mail_id;\n\n    let folderId = null;\n\n    // --- EŞLEŞTİRME MANTIĞI ---\n    \n    // 1. Tam Eşleşme (Label direkt klasör adıysa)\n    if (folderMap[label]) {\n        folderId = folderMap[label];\n    } \n    // 2. Urgent / Important Varyasyonları (AI bazen kelimelerin yerini değiştirebilir)\n    else if (label === \"Urgent_Important\" || label === \"Important_Urgent\") {\n        folderId = folderMap[\"Urgent_Important\"];\n    }\n    else if (label === \"Urgent_NotImportant\" || label === \"NotImportant_Urgent\") {\n        folderId = folderMap[\"Urgent_NotImportant\"];\n    }\n    else if (label === \"NotUrgent_Important\" || label === \"Important_NotUrgent\") {\n        folderId = folderMap[\"NotUrgent_Important\"];\n    }\n    else if (label === \"NotUrgent_NotImportant\" || label === \"NotImportant_NotUrgent\") {\n        folderId = folderMap[\"NotUrgent_NotImportant\"];\n    }\n\n    // 5. Sonuç Objesini Oluşturma\n    // Eğer folderId bulunamazsa boş string döner, hata vermez.\n    results.push({\n        json: {\n            access_token: accessToken,\n            mail_id: mailId,\n            label: label,\n            folder_id: folderId || \"KLASOR_BULUNAMADI\" \n        }\n    });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1888,
        -80
      ],
      "id": "a0697fc5-f0a0-4b8a-a6bc-be4b872c5223",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.json AS folder_id,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1888,
        464
      ],
      "id": "1f0dedd2-2cfa-4710-9e9f-9f770aeda34d",
      "name": "Merge2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/me/messages/{{$json.mail_id}}/move",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$input.first().json[\"access_token\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"destinationId\": \"{{$json.folder_id}}\"  \n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5,
              "batchInterval": 1500
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1664,
        -80
      ],
      "id": "18ab58df-f43b-408f-9596-563e0636502d",
      "name": "Change Folder",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "05a8fb07-b925-4c0c-a8af-21e1f8b26491",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4304,
        400
      ],
      "id": "a6d5de9a-2aae-4d9d-952e-2c22efa6baec",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Gelen verinin ilk öğesini (listeyi) al ve dizi olarak döndür.\n// Dizi içinde sadece tek bir liste (görevler listesi) olacak.\nreturn [\n  {\n    json: items[0]\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2176,
        640
      ],
      "id": "867f4bd3-66c2-433f-92c3-4e43d2e4480e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "numCtx": 131072
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -4080,
        1120
      ],
      "id": "24d5c48e-4768-4106-8e33-b560b9438c03",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "HYP2LXmMoDsk2iKY",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "numCtx": 131072
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        -3872,
        1328
      ],
      "id": "9f0360fb-6d36-4740-b1ca-fd62e75ac66c",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "HYP2LXmMoDsk2iKY",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "numCtx": 131072
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -2240,
        432
      ],
      "id": "9c5cac9a-8d33-46b8-b0b2-7d66668a5b63",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "HYP2LXmMoDsk2iKY",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4304,
        1328
      ],
      "id": "a2db4fd4-c2a8-4ebc-9e83-b7db866f6259",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4528,
        1328
      ],
      "id": "04681a9f-8289-43a0-9203-35a19c23e152",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  try {\n    const data = item.json.output;\n    const parsed = JSON.parse(data);\n    results.push({ json: parsed });\n  } catch (error) {\n    // Eğer parse edilemezse hata vermeden geç\n    results.push({ json: { error: 'Invalid JSON', original: item.json.output } });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3584,
        960
      ],
      "id": "c9558593-f6ed-468d-96a5-49df6435e46b",
      "name": "Parse Date Data",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "-3257168516",
        "text": "=Error in workflow {{ $workflow.name }}\n{{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1440,
        336
      ],
      "id": "0d95e995-ed75-443d-9d16-596b2ce7a242",
      "name": "Error Message",
      "webhookId": "334474c1-8a99-4c2e-a320-7e3683e4ea3b",
      "credentials": {
        "telegramApi": {
          "id": "JG4HCYCvUBrFrjrG",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Merge Mail and Id": {
      "main": [
        [
          {
            "node": "Mail Draft",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mail Draft": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Mail Draft",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Collect Urgen and Important Mails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Email Labeler Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Collect Urgen and Important Mails": {
      "main": [
        [
          {
            "node": "Split Urgen and Important Mails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Labeler Agent": {
      "main": [
        [
          {
            "node": "Parse Date Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Urgen and Important Mails": {
      "main": [
        [
          {
            "node": "Merge Mail and Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        []
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Get Mail Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Mail Folders": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Change Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Create Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Mail and Id",
            "type": "main",
            "index": 1
          },
          {
            "node": "Email Labeler Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Draft": {
      "main": [
        [],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change Folder": {
      "main": [
        [],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Labeler Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Mail Draft",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Parse Date Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "access_token": "EwCIBMl6BAAUBKgm8k1UswUNwklmy2v7U/S+1fEAAcLMa/zSJzx9OYPQWMXmokFkDvnc4WVjfDNZDX7rbDuNuhnQIKW8zekVHHnbLoL4kqCVl3+t6Rdmh0pKB3/t7c8P9mbJ3fu1uW4hHg9d7ggAvw5lXR9tW1E3rAYc/Vr1lQ4wDj3nS32+19Gz2GAtX6AOWM5CgM2DCZXvr9Yo1xRMq4ZxmSLAWdTT0uawOCahvRLoSZWYTxPHaU+GDWvawejCF6ajuCZQSnAfDk6TDO2RDs+ALzPD8xfB6SKyPUS2wPy5dPulHGAG9Ib+1miCq7crmWfe6u8zXKh4Cjwf6ygLP/5R903l2pw5cqVv5WiUERuK1044W0lP+4p7O88IfT0QZgAAEHVYWJOIMbvQfoJ6V3zi9zBQA2q7dwXV4sR3rRFSnHh+xLFfstANSWmUsUTXySEbwNaZ/NLlEsGMSCXpXU/L7dnpZEyz22DeYQRrcMh+ZZWGk1N0ZiqWCMbxlFgRkNVHDINW69jFiPgpq7/EzFEh6E53KRUSI9V4d9ZtV4V1GhVEFm/L2JeUnrHqa/OF+03tK4h/YPVIMSNOkugZrhorVJ0QV8Skrkeqk2c0Y4P4JBaz+hFbCzCqlGTXQ5RrfXDpnHJ1ugl98X0itgmILU4eNhnzD4jMVAqYCSDj+AzOJAj/HOEI99MUiBEijJsDjRKq1zPRLWLVoHEI25k8+1kVrl0G7ti2fH87odxfbpX6KOeq/c/M7PsmHUr09y6I7+vzYRPBA8A1XGEPghTPH/+9ijMvJqZseIrshODMYowG46Ro1BDC5MUPd++GjrRtEfCTqUNYRXa42iO+4UiBiVvjMT4y8uGUVsY52ac++yZ9IW2SnpFC7khqC7pm2Iif4B5WTv7j0R8spIQBH3wsuYi9HwDkwoHo+XIm/vPImcRq7sPHnzEHvlTjWSUMnmSGqVSiBwGSu5cOmJvW/fMXj2DCGf9/535EKWfh8he7y4HqUWkXhTjzygGlwysSexzC60q5+I5g1c+g9OYnvBDKTkvR77m6Q6eJswFjKGS1GdYEDdoq79oxWYcYADNC84wX51s1Dqf/SCVwJUUB8z6HyiiuQWF3BPCAcigv6c6vga4IAKWbUb6IMdm9OfH5gHFsxp3zVeg/wXdANO8rnSo2AHMBlQO5PVkfJWnEAdlQRHna9//VS6cXWxrWaVm8GGNa2RR+Otq1DnTSN29tZDVB8b13zLno8y6TiovNDN0CpwFMaJwJ4Eig4w5HB57bUhVHlI3qxnGw417i9clDsfrdTfiXGhZ0LoAPkkf3/7IG/gfd/9O30YhuPHJNHyRmBbvQ+7cMs6mMEbSpP/129mAL99DybXRzExrq505rHZPnc4CiaC84+0pnXd+Xbi7Xmxzsba2QE6HZLl/q186az1am2Y/TFqCHn0fWaMWQiAju5oxBD/0FeChe4PIIGerZdf4C1Q34vBpyLs1PqDp0ZEsUmYjMT1iCHza6YBtsuh7Kfv+f2/hsQLQnCCBUTmmgy0UCVVDR+zySjAM=",
          "email": "berkayguzel06@outlook.com",
          "name": "Berkay",
          "last_name": "Güzel",
          "@odata.etag": "W/\"CQAAABYAAACmbAuzjNRkRJHPPR9ftVhgAAEtKXNj\"",
          "id": "AQMkADAwATM0MDAAMS03YjViLTdjNTUALTAwAi0wMAoARgAAA1U4W2Btfe5Ik7wnmiPAttwHAKZsC7OM1GREkc89H1_1WGAAAAIBDAAAAKZsC7OM1GREkc89H1_1WGAAAS0zWOcAAAA=",
          "categories": [],
          "receivedDateTime": "2025-11-25T14:25:50Z",
          "hasAttachments": false,
          "subject": "You're officially Superhuman 🤖",
          "bodyPreview": "Welcome to the Superhuman tribe! Get your list of The Ultimate 100 AI Tools  ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ",
          "from": {
            "emailAddress": {
              "name": "Superhuman – Zain Kahn",
              "address": "superhuman@mail.joinsuperhuman.ai"
            }
          },
          "toRecipients": [
            {
              "emailAddress": {
                "name": "berkayguzel06@outlook.com",
                "address": "berkayguzel06@outlook.com"
              }
            }
          ]
        }
      },
      {
        "json": {
          "access_token": "EwCIBMl6BAAUBKgm8k1UswUNwklmy2v7U/S+1fEAAZW5upOmt3qYUwN+Q8+M2/ebOWDCKUXx4A+cNUb2Vo5+lkau01hnRpbWMPtjAg/2KuuEkTv983mKZpYcgJXUxtqYS+sJGjDRjeFoNs1eQ7zMbzM/0rYOiN9CDZJHHzm/R/Yvx5mCNITAOQ4sv5yoV/bMyLd38D3Srw+d+1yfVQhRGxLFog4Ogmhe10BUIVHw668eElRgFXWejY0QgdWGXtFwrXljpI9Ax0jTgfoUgbjj0riMtnxm7r7tEHUPNPoY+XHxXHkXjCU4ybDhEcZMjflPhHl81iO7E6pVq5FewGhg85LzHIXwocL7QA51vE8j2K8Z/cBp1G1874TxK9XozZcQZgAAEIbqX4dpFNQVu1+OZlB0B5lQA1MPwK5Bfxh7KX/YI+dT+qStLt/Y7XGJXL/oqg8oCs0wOaGG7XX9TXdZ12DbkkWq6RQt/yV66Ebzk3mPFLRJ507pu5UoFFOQkjo6gMGq9FIef/XAZlnQ8EjIQ6gG9wTEza+7oVoi2b+9Lre/vKfNOKhdy/hy9uuVvgrs8xlffHE+v6/gwE2/mFXigI22CLSHIpZW0LCWAd/PAsC03x6Z5HkQNHtPcBSo8UCz+ViMz6n3XTlr1a2kTFfU9oXeY0YnMtgQlF4VfRfl1Gq+D9UYBvM8ldnppcTvSeUMjqpPH9xw5Dot/hRe7ukTKiRzaHIsGiV+DWIuEq6zedkDgKbJIGYhQBHTks6LXILk3/1Saj7m2sn7CYMWkvHj6O3sWW1u1S2P73/1vm2zBmF5BzFlZoMP1THranLY6BPwAkdkDZtv2bRJMcMsjSkkVQKUWRR03lVk8gGvyWquTBkWJADGEBivCR08+TzJK7jI6K7Rt5iIca2OC4vf8VgRuSOPPVRzudIjoqljt8uCm+9g9NOi/B/aq+tsz2hE7O1oIm0wZwtBvhMADwURyP4YW3cgAJLJR5KvYZxxh8AhqHgBY6d2+ce5L2M5w5S0mxqCQd0F3jKZGjDvfqKFZn3wQx1nEszPpPiDyGUffGo1cQ6NUb53zAen5psYO4mzkcyE1mBWPKWYfvuWCxPzVRBMkQHoGKyL6+cuPxLeD/NnB+HUmUzMn9rvbg/EliwPI188LB4yJpUrT45Qrivd8C9vi1Mb4ebmfhLIGPrIb2hUAaNIi0CxrTxmJXSRQckTtQNqu1dO6IpQWBWXhzyQm7rqN/29PqfvV7/hn9sRfGSoRY3HtTFPQj97r1A9ZxRjj0Tphg969qGZzPmq0+30XeMH7G/d9cEBQAPnapFqZN06CjC0M0jKEKboU+5aK19eL8yUYvTGXkdImchYCjkkPD2CZLp4YGhsVNPhAgdYKOWoJfsLGWRr7JfSZdKajQVCvLlreukgWDzRDSnj8zZ7vXETeGmdtLZMfDTFiTV4mW/3oMIySK/olUP99GZF7yCKRO+PSfgnMOqAMgfLbiZzSx+5s4aWGSq9teEgUaLlMI3ykWa9vHD67jN9yBfHzouu/cnD+MDdm/c1jAM=",
          "user_id": "103d5077-eea1-47af-8d6f-3f4c63d87aba",
          "email": "berkayguzel06@outlook.com",
          "name": "Berkay",
          "last_name": "Güzel",
          "@odata.etag": "W/\"CQAAABYAAACmbAuzjNRkRJHPPR9ftVhgAAEtKXQU\"",
          "id": "AQMkADAwATM0MDAAMS03YjViLTdjNTUALTAwAi0wMAoARgAAA1U4W2Btfe5Ik7wnmiPAttwHAKZsC7OM1GREkc89H1_1WGAAAAIBDAAAAKZsC7OM1GREkc89H1_1WGAAAS0zWOUAAAA=",
          "categories": [],
          "receivedDateTime": "2025-11-25T14:29:42Z",
          "hasAttachments": false,
          "subject": "Welcome to Barchart Brief newsletter",
          "bodyPreview": "Thank you for signing up to receive the Barchart Brief.\r\n\r\nThis free midday newsletter delivers market-moving news straight to your inbox, featuring exclusive charts, data, and insights you won’t find anywhere else.\r\n\r\nJust 5 minutes each day with the Bri",
          "from": {
            "emailAddress": {
              "name": "Barchart.com",
              "address": "newsletters@barchart.com"
            }
          },
          "toRecipients": [
            {
              "emailAddress": {
                "name": "berkayguzel06@outlook.com",
                "address": "berkayguzel06@outlook.com"
              }
            }
          ]
        }
      },
      {
        "json": {
          "access_token": "EwCIBMl6BAAUBKgm8k1UswUNwklmy2v7U/S+1fEAAZW5upOmt3qYUwN+Q8+M2/ebOWDCKUXx4A+cNUb2Vo5+lkau01hnRpbWMPtjAg/2KuuEkTv983mKZpYcgJXUxtqYS+sJGjDRjeFoNs1eQ7zMbzM/0rYOiN9CDZJHHzm/R/Yvx5mCNITAOQ4sv5yoV/bMyLd38D3Srw+d+1yfVQhRGxLFog4Ogmhe10BUIVHw668eElRgFXWejY0QgdWGXtFwrXljpI9Ax0jTgfoUgbjj0riMtnxm7r7tEHUPNPoY+XHxXHkXjCU4ybDhEcZMjflPhHl81iO7E6pVq5FewGhg85LzHIXwocL7QA51vE8j2K8Z/cBp1G1874TxK9XozZcQZgAAEIbqX4dpFNQVu1+OZlB0B5lQA1MPwK5Bfxh7KX/YI+dT+qStLt/Y7XGJXL/oqg8oCs0wOaGG7XX9TXdZ12DbkkWq6RQt/yV66Ebzk3mPFLRJ507pu5UoFFOQkjo6gMGq9FIef/XAZlnQ8EjIQ6gG9wTEza+7oVoi2b+9Lre/vKfNOKhdy/hy9uuVvgrs8xlffHE+v6/gwE2/mFXigI22CLSHIpZW0LCWAd/PAsC03x6Z5HkQNHtPcBSo8UCz+ViMz6n3XTlr1a2kTFfU9oXeY0YnMtgQlF4VfRfl1Gq+D9UYBvM8ldnppcTvSeUMjqpPH9xw5Dot/hRe7ukTKiRzaHIsGiV+DWIuEq6zedkDgKbJIGYhQBHTks6LXILk3/1Saj7m2sn7CYMWkvHj6O3sWW1u1S2P73/1vm2zBmF5BzFlZoMP1THranLY6BPwAkdkDZtv2bRJMcMsjSkkVQKUWRR03lVk8gGvyWquTBkWJADGEBivCR08+TzJK7jI6K7Rt5iIca2OC4vf8VgRuSOPPVRzudIjoqljt8uCm+9g9NOi/B/aq+tsz2hE7O1oIm0wZwtBvhMADwURyP4YW3cgAJLJR5KvYZxxh8AhqHgBY6d2+ce5L2M5w5S0mxqCQd0F3jKZGjDvfqKFZn3wQx1nEszPpPiDyGUffGo1cQ6NUb53zAen5psYO4mzkcyE1mBWPKWYfvuWCxPzVRBMkQHoGKyL6+cuPxLeD/NnB+HUmUzMn9rvbg/EliwPI188LB4yJpUrT45Qrivd8C9vi1Mb4ebmfhLIGPrIb2hUAaNIi0CxrTxmJXSRQckTtQNqu1dO6IpQWBWXhzyQm7rqN/29PqfvV7/hn9sRfGSoRY3HtTFPQj97r1A9ZxRjj0Tphg969qGZzPmq0+30XeMH7G/d9cEBQAPnapFqZN06CjC0M0jKEKboU+5aK19eL8yUYvTGXkdImchYCjkkPD2CZLp4YGhsVNPhAgdYKOWoJfsLGWRr7JfSZdKajQVCvLlreukgWDzRDSnj8zZ7vXETeGmdtLZMfDTFiTV4mW/3oMIySK/olUP99GZF7yCKRO+PSfgnMOqAMgfLbiZzSx+5s4aWGSq9teEgUaLlMI3ykWa9vHD67jN9yBfHzouu/cnD+MDdm/c1jAM=",
          "user_id": "103d5077-eea1-47af-8d6f-3f4c63d87aba",
          "email": "berkayguzel06@outlook.com",
          "name": "Berkay",
          "last_name": "Güzel",
          "@odata.etag": "W/\"CQAAABYAAACmbAuzjNRkRJHPPR9ftVhgAAEtKXQM\"",
          "id": "AQMkADAwATM0MDAAMS03YjViLTdjNTUALTAwAi0wMAoARgAAA1U4W2Btfe5Ik7wnmiPAttwHAKZsC7OM1GREkc89H1_1WGAAAAIBDAAAAKZsC7OM1GREkc89H1_1WGAAAS0zWO8AAAA=",
          "categories": [],
          "receivedDateTime": "2025-11-25T14:29:52Z",
          "hasAttachments": false,
          "subject": "Welcome to Barchart Brief newsletter",
          "bodyPreview": "Thank you for signing up to receive the Barchart Brief.\r\n\r\nThis free midday newsletter delivers market-moving news straight to your inbox, featuring exclusive charts, data, and insights you won’t find anywhere else.\r\n\r\nJust 5 minutes each day with the Bri",
          "from": {
            "emailAddress": {
              "name": "Barchart.com",
              "address": "newsletters@barchart.com"
            }
          },
          "toRecipients": [
            {
              "emailAddress": {
                "name": "berkayguzel06@outlook.com",
                "address": "berkayguzel06@outlook.com"
              }
            }
          ]
        }
      },
      {
        "json": {
          "access_token": "EwCIBMl6BAAUBKgm8k1UswUNwklmy2v7U/S+1fEAAZW5upOmt3qYUwN+Q8+M2/ebOWDCKUXx4A+cNUb2Vo5+lkau01hnRpbWMPtjAg/2KuuEkTv983mKZpYcgJXUxtqYS+sJGjDRjeFoNs1eQ7zMbzM/0rYOiN9CDZJHHzm/R/Yvx5mCNITAOQ4sv5yoV/bMyLd38D3Srw+d+1yfVQhRGxLFog4Ogmhe10BUIVHw668eElRgFXWejY0QgdWGXtFwrXljpI9Ax0jTgfoUgbjj0riMtnxm7r7tEHUPNPoY+XHxXHkXjCU4ybDhEcZMjflPhHl81iO7E6pVq5FewGhg85LzHIXwocL7QA51vE8j2K8Z/cBp1G1874TxK9XozZcQZgAAEIbqX4dpFNQVu1+OZlB0B5lQA1MPwK5Bfxh7KX/YI+dT+qStLt/Y7XGJXL/oqg8oCs0wOaGG7XX9TXdZ12DbkkWq6RQt/yV66Ebzk3mPFLRJ507pu5UoFFOQkjo6gMGq9FIef/XAZlnQ8EjIQ6gG9wTEza+7oVoi2b+9Lre/vKfNOKhdy/hy9uuVvgrs8xlffHE+v6/gwE2/mFXigI22CLSHIpZW0LCWAd/PAsC03x6Z5HkQNHtPcBSo8UCz+ViMz6n3XTlr1a2kTFfU9oXeY0YnMtgQlF4VfRfl1Gq+D9UYBvM8ldnppcTvSeUMjqpPH9xw5Dot/hRe7ukTKiRzaHIsGiV+DWIuEq6zedkDgKbJIGYhQBHTks6LXILk3/1Saj7m2sn7CYMWkvHj6O3sWW1u1S2P73/1vm2zBmF5BzFlZoMP1THranLY6BPwAkdkDZtv2bRJMcMsjSkkVQKUWRR03lVk8gGvyWquTBkWJADGEBivCR08+TzJK7jI6K7Rt5iIca2OC4vf8VgRuSOPPVRzudIjoqljt8uCm+9g9NOi/B/aq+tsz2hE7O1oIm0wZwtBvhMADwURyP4YW3cgAJLJR5KvYZxxh8AhqHgBY6d2+ce5L2M5w5S0mxqCQd0F3jKZGjDvfqKFZn3wQx1nEszPpPiDyGUffGo1cQ6NUb53zAen5psYO4mzkcyE1mBWPKWYfvuWCxPzVRBMkQHoGKyL6+cuPxLeD/NnB+HUmUzMn9rvbg/EliwPI188LB4yJpUrT45Qrivd8C9vi1Mb4ebmfhLIGPrIb2hUAaNIi0CxrTxmJXSRQckTtQNqu1dO6IpQWBWXhzyQm7rqN/29PqfvV7/hn9sRfGSoRY3HtTFPQj97r1A9ZxRjj0Tphg969qGZzPmq0+30XeMH7G/d9cEBQAPnapFqZN06CjC0M0jKEKboU+5aK19eL8yUYvTGXkdImchYCjkkPD2CZLp4YGhsVNPhAgdYKOWoJfsLGWRr7JfSZdKajQVCvLlreukgWDzRDSnj8zZ7vXETeGmdtLZMfDTFiTV4mW/3oMIySK/olUP99GZF7yCKRO+PSfgnMOqAMgfLbiZzSx+5s4aWGSq9teEgUaLlMI3ykWa9vHD67jN9yBfHzouu/cnD+MDdm/c1jAM=",
          "user_id": "103d5077-eea1-47af-8d6f-3f4c63d87aba",
          "email": "berkayguzel06@outlook.com",
          "name": "Berkay",
          "last_name": "Güzel",
          "@odata.etag": "W/\"CQAAABYAAACmbAuzjNRkRJHPPR9ftVhgAAEtKXQF\"",
          "id": "AQMkADAwATM0MDAAMS03YjViLTdjNTUALTAwAi0wMAoARgAAA1U4W2Btfe5Ik7wnmiPAttwHAKZsC7OM1GREkc89H1_1WGAAAAIBDAAAAKZsC7OM1GREkc89H1_1WGAAAS0zWO4AAAA=",
          "categories": [],
          "receivedDateTime": "2025-11-25T14:30:09Z",
          "hasAttachments": false,
          "subject": "New Active Investor Subscription",
          "bodyPreview": "Thank you for signing up to receive our Active Investor Newsletter\r\n\r\nOur records show that you have just opted in to receive email from us. If this is correct, do nothing... you will receive your first newsletter on the next scheduled send. If you did no",
          "from": {
            "emailAddress": {
              "name": "Barchart",
              "address": "newsletters@barchart.com"
            }
          },
          "toRecipients": [
            {
              "emailAddress": {
                "name": "berkayguzel06@outlook.com",
                "address": "berkayguzel06@outlook.com"
              }
            }
          ]
        }
      },
      {
        "json": {
          "access_token": "EwCIBMl6BAAUBKgm8k1UswUNwklmy2v7U/S+1fEAAZW5upOmt3qYUwN+Q8+M2/ebOWDCKUXx4A+cNUb2Vo5+lkau01hnRpbWMPtjAg/2KuuEkTv983mKZpYcgJXUxtqYS+sJGjDRjeFoNs1eQ7zMbzM/0rYOiN9CDZJHHzm/R/Yvx5mCNITAOQ4sv5yoV/bMyLd38D3Srw+d+1yfVQhRGxLFog4Ogmhe10BUIVHw668eElRgFXWejY0QgdWGXtFwrXljpI9Ax0jTgfoUgbjj0riMtnxm7r7tEHUPNPoY+XHxXHkXjCU4ybDhEcZMjflPhHl81iO7E6pVq5FewGhg85LzHIXwocL7QA51vE8j2K8Z/cBp1G1874TxK9XozZcQZgAAEIbqX4dpFNQVu1+OZlB0B5lQA1MPwK5Bfxh7KX/YI+dT+qStLt/Y7XGJXL/oqg8oCs0wOaGG7XX9TXdZ12DbkkWq6RQt/yV66Ebzk3mPFLRJ507pu5UoFFOQkjo6gMGq9FIef/XAZlnQ8EjIQ6gG9wTEza+7oVoi2b+9Lre/vKfNOKhdy/hy9uuVvgrs8xlffHE+v6/gwE2/mFXigI22CLSHIpZW0LCWAd/PAsC03x6Z5HkQNHtPcBSo8UCz+ViMz6n3XTlr1a2kTFfU9oXeY0YnMtgQlF4VfRfl1Gq+D9UYBvM8ldnppcTvSeUMjqpPH9xw5Dot/hRe7ukTKiRzaHIsGiV+DWIuEq6zedkDgKbJIGYhQBHTks6LXILk3/1Saj7m2sn7CYMWkvHj6O3sWW1u1S2P73/1vm2zBmF5BzFlZoMP1THranLY6BPwAkdkDZtv2bRJMcMsjSkkVQKUWRR03lVk8gGvyWquTBkWJADGEBivCR08+TzJK7jI6K7Rt5iIca2OC4vf8VgRuSOPPVRzudIjoqljt8uCm+9g9NOi/B/aq+tsz2hE7O1oIm0wZwtBvhMADwURyP4YW3cgAJLJR5KvYZxxh8AhqHgBY6d2+ce5L2M5w5S0mxqCQd0F3jKZGjDvfqKFZn3wQx1nEszPpPiDyGUffGo1cQ6NUb53zAen5psYO4mzkcyE1mBWPKWYfvuWCxPzVRBMkQHoGKyL6+cuPxLeD/NnB+HUmUzMn9rvbg/EliwPI188LB4yJpUrT45Qrivd8C9vi1Mb4ebmfhLIGPrIb2hUAaNIi0CxrTxmJXSRQckTtQNqu1dO6IpQWBWXhzyQm7rqN/29PqfvV7/hn9sRfGSoRY3HtTFPQj97r1A9ZxRjj0Tphg969qGZzPmq0+30XeMH7G/d9cEBQAPnapFqZN06CjC0M0jKEKboU+5aK19eL8yUYvTGXkdImchYCjkkPD2CZLp4YGhsVNPhAgdYKOWoJfsLGWRr7JfSZdKajQVCvLlreukgWDzRDSnj8zZ7vXETeGmdtLZMfDTFiTV4mW/3oMIySK/olUP99GZF7yCKRO+PSfgnMOqAMgfLbiZzSx+5s4aWGSq9teEgUaLlMI3ykWa9vHD67jN9yBfHzouu/cnD+MDdm/c1jAM=",
          "user_id": "103d5077-eea1-47af-8d6f-3f4c63d87aba",
          "email": "berkayguzel06@outlook.com",
          "name": "Berkay",
          "last_name": "Güzel",
          "@odata.etag": "W/\"CQAAABYAAACmbAuzjNRkRJHPPR9ftVhgAAEtKXP9\"",
          "id": "AQMkADAwATM0MDAAMS03YjViLTdjNTUALTAwAi0wMAoARgAAA1U4W2Btfe5Ik7wnmiPAttwHAKZsC7OM1GREkc89H1_1WGAAAAIBDAAAAKZsC7OM1GREkc89H1_1WGAAAS0zWO0AAAA=",
          "categories": [],
          "receivedDateTime": "2025-11-25T14:30:11Z",
          "hasAttachments": false,
          "subject": "New Unusual Option Activity Subscription",
          "bodyPreview": "Thank you for signing up to receive Barchart’s Unusual Options Activity Report!\r\n\r\nThis free daily e-newsletter is delivered by our expert analysts, who combine their own industry knowledge with our rich, real-time data flows to bring you exclusive - and ",
          "from": {
            "emailAddress": {
              "name": "Barchart",
              "address": "newsletters@barchart.com"
            }
          },
          "toRecipients": [
            {
              "emailAddress": {
                "name": "berkayguzel06@outlook.com",
                "address": "berkayguzel06@outlook.com"
              }
            }
          ]
        }
      },
      {
        "json": {
          "access_token": "EwCIBMl6BAAUBKgm8k1UswUNwklmy2v7U/S+1fEAAZW5upOmt3qYUwN+Q8+M2/ebOWDCKUXx4A+cNUb2Vo5+lkau01hnRpbWMPtjAg/2KuuEkTv983mKZpYcgJXUxtqYS+sJGjDRjeFoNs1eQ7zMbzM/0rYOiN9CDZJHHzm/R/Yvx5mCNITAOQ4sv5yoV/bMyLd38D3Srw+d+1yfVQhRGxLFog4Ogmhe10BUIVHw668eElRgFXWejY0QgdWGXtFwrXljpI9Ax0jTgfoUgbjj0riMtnxm7r7tEHUPNPoY+XHxXHkXjCU4ybDhEcZMjflPhHl81iO7E6pVq5FewGhg85LzHIXwocL7QA51vE8j2K8Z/cBp1G1874TxK9XozZcQZgAAEIbqX4dpFNQVu1+OZlB0B5lQA1MPwK5Bfxh7KX/YI+dT+qStLt/Y7XGJXL/oqg8oCs0wOaGG7XX9TXdZ12DbkkWq6RQt/yV66Ebzk3mPFLRJ507pu5UoFFOQkjo6gMGq9FIef/XAZlnQ8EjIQ6gG9wTEza+7oVoi2b+9Lre/vKfNOKhdy/hy9uuVvgrs8xlffHE+v6/gwE2/mFXigI22CLSHIpZW0LCWAd/PAsC03x6Z5HkQNHtPcBSo8UCz+ViMz6n3XTlr1a2kTFfU9oXeY0YnMtgQlF4VfRfl1Gq+D9UYBvM8ldnppcTvSeUMjqpPH9xw5Dot/hRe7ukTKiRzaHIsGiV+DWIuEq6zedkDgKbJIGYhQBHTks6LXILk3/1Saj7m2sn7CYMWkvHj6O3sWW1u1S2P73/1vm2zBmF5BzFlZoMP1THranLY6BPwAkdkDZtv2bRJMcMsjSkkVQKUWRR03lVk8gGvyWquTBkWJADGEBivCR08+TzJK7jI6K7Rt5iIca2OC4vf8VgRuSOPPVRzudIjoqljt8uCm+9g9NOi/B/aq+tsz2hE7O1oIm0wZwtBvhMADwURyP4YW3cgAJLJR5KvYZxxh8AhqHgBY6d2+ce5L2M5w5S0mxqCQd0F3jKZGjDvfqKFZn3wQx1nEszPpPiDyGUffGo1cQ6NUb53zAen5psYO4mzkcyE1mBWPKWYfvuWCxPzVRBMkQHoGKyL6+cuPxLeD/NnB+HUmUzMn9rvbg/EliwPI188LB4yJpUrT45Qrivd8C9vi1Mb4ebmfhLIGPrIb2hUAaNIi0CxrTxmJXSRQckTtQNqu1dO6IpQWBWXhzyQm7rqN/29PqfvV7/hn9sRfGSoRY3HtTFPQj97r1A9ZxRjj0Tphg969qGZzPmq0+30XeMH7G/d9cEBQAPnapFqZN06CjC0M0jKEKboU+5aK19eL8yUYvTGXkdImchYCjkkPD2CZLp4YGhsVNPhAgdYKOWoJfsLGWRr7JfSZdKajQVCvLlreukgWDzRDSnj8zZ7vXETeGmdtLZMfDTFiTV4mW/3oMIySK/olUP99GZF7yCKRO+PSfgnMOqAMgfLbiZzSx+5s4aWGSq9teEgUaLlMI3ykWa9vHD67jN9yBfHzouu/cnD+MDdm/c1jAM=",
          "user_id": "103d5077-eea1-47af-8d6f-3f4c63d87aba",
          "email": "berkayguzel06@outlook.com",
          "name": "Berkay",
          "last_name": "Güzel",
          "@odata.etag": "W/\"CQAAABYAAACmbAuzjNRkRJHPPR9ftVhgAAEtKXP1\"",
          "id": "AQMkADAwATM0MDAAMS03YjViLTdjNTUALTAwAi0wMAoARgAAA1U4W2Btfe5Ik7wnmiPAttwHAKZsC7OM1GREkc89H1_1WGAAAAIBDAAAAKZsC7OM1GREkc89H1_1WGAAAS0zWNQAAAA=",
          "categories": [],
          "receivedDateTime": "2025-11-25T14:30:20Z",
          "hasAttachments": false,
          "subject": "Artık oturum açmak için uygulama bildirimlerini kullanabilirsiniz",
          "bodyPreview": "Microsoft hesabı\r\nMicrosoft hesabınızda oturum açmak artık daha kolay\r\nbe**6@outlook.com hesabınız için oturum açma bildirimlerini hızlı ve kolay bir şekilde onaylayın. Vivo V2247 cihazınızdaki Outlook uygulamasını kullanarak bir bildirim alacaksınız ve t",
          "from": {
            "emailAddress": {
              "name": "Microsoft hesap ekibi",
              "address": "account-security-noreply@accountprotection.microsoft.com"
            }
          },
          "toRecipients": [
            {
              "emailAddress": {
                "name": "berkayguzel06@outlook.com",
                "address": "berkayguzel06@outlook.com"
              }
            }
          ]
        }
      },
      {
        "json": {
          "access_token": "EwCIBMl6BAAUBKgm8k1UswUNwklmy2v7U/S+1fEAAZW5upOmt3qYUwN+Q8+M2/ebOWDCKUXx4A+cNUb2Vo5+lkau01hnRpbWMPtjAg/2KuuEkTv983mKZpYcgJXUxtqYS+sJGjDRjeFoNs1eQ7zMbzM/0rYOiN9CDZJHHzm/R/Yvx5mCNITAOQ4sv5yoV/bMyLd38D3Srw+d+1yfVQhRGxLFog4Ogmhe10BUIVHw668eElRgFXWejY0QgdWGXtFwrXljpI9Ax0jTgfoUgbjj0riMtnxm7r7tEHUPNPoY+XHxXHkXjCU4ybDhEcZMjflPhHl81iO7E6pVq5FewGhg85LzHIXwocL7QA51vE8j2K8Z/cBp1G1874TxK9XozZcQZgAAEIbqX4dpFNQVu1+OZlB0B5lQA1MPwK5Bfxh7KX/YI+dT+qStLt/Y7XGJXL/oqg8oCs0wOaGG7XX9TXdZ12DbkkWq6RQt/yV66Ebzk3mPFLRJ507pu5UoFFOQkjo6gMGq9FIef/XAZlnQ8EjIQ6gG9wTEza+7oVoi2b+9Lre/vKfNOKhdy/hy9uuVvgrs8xlffHE+v6/gwE2/mFXigI22CLSHIpZW0LCWAd/PAsC03x6Z5HkQNHtPcBSo8UCz+ViMz6n3XTlr1a2kTFfU9oXeY0YnMtgQlF4VfRfl1Gq+D9UYBvM8ldnppcTvSeUMjqpPH9xw5Dot/hRe7ukTKiRzaHIsGiV+DWIuEq6zedkDgKbJIGYhQBHTks6LXILk3/1Saj7m2sn7CYMWkvHj6O3sWW1u1S2P73/1vm2zBmF5BzFlZoMP1THranLY6BPwAkdkDZtv2bRJMcMsjSkkVQKUWRR03lVk8gGvyWquTBkWJADGEBivCR08+TzJK7jI6K7Rt5iIca2OC4vf8VgRuSOPPVRzudIjoqljt8uCm+9g9NOi/B/aq+tsz2hE7O1oIm0wZwtBvhMADwURyP4YW3cgAJLJR5KvYZxxh8AhqHgBY6d2+ce5L2M5w5S0mxqCQd0F3jKZGjDvfqKFZn3wQx1nEszPpPiDyGUffGo1cQ6NUb53zAen5psYO4mzkcyE1mBWPKWYfvuWCxPzVRBMkQHoGKyL6+cuPxLeD/NnB+HUmUzMn9rvbg/EliwPI188LB4yJpUrT45Qrivd8C9vi1Mb4ebmfhLIGPrIb2hUAaNIi0CxrTxmJXSRQckTtQNqu1dO6IpQWBWXhzyQm7rqN/29PqfvV7/hn9sRfGSoRY3HtTFPQj97r1A9ZxRjj0Tphg969qGZzPmq0+30XeMH7G/d9cEBQAPnapFqZN06CjC0M0jKEKboU+5aK19eL8yUYvTGXkdImchYCjkkPD2CZLp4YGhsVNPhAgdYKOWoJfsLGWRr7JfSZdKajQVCvLlreukgWDzRDSnj8zZ7vXETeGmdtLZMfDTFiTV4mW/3oMIySK/olUP99GZF7yCKRO+PSfgnMOqAMgfLbiZzSx+5s4aWGSq9teEgUaLlMI3ykWa9vHD67jN9yBfHzouu/cnD+MDdm/c1jAM=",
          "user_id": "103d5077-eea1-47af-8d6f-3f4c63d87aba",
          "email": "berkayguzel06@outlook.com",
          "name": "Berkay",
          "last_name": "Güzel",
          "@odata.etag": "W/\"CQAAABYAAACmbAuzjNRkRJHPPR9ftVhgAAEtKXN5\"",
          "id": "AQMkADAwATM0MDAAMS03YjViLTdjNTUALTAwAi0wMAoARgAAA1U4W2Btfe5Ik7wnmiPAttwHAKZsC7OM1GREkc89H1_1WGAAAAIBDAAAAKZsC7OM1GREkc89H1_1WGAAAS0zWOsAAAA=",
          "categories": [],
          "receivedDateTime": "2025-11-25T15:32:45Z",
          "hasAttachments": false,
          "subject": "🧠 This device wiretaps your 'second brain'",
          "bodyPreview": "PLUS: Apple axes jobs, in a rare move  ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ",
          "from": {
            "emailAddress": {
              "name": "The Rundown Tech",
              "address": "crew@technews.therundown.ai"
            }
          },
          "toRecipients": [
            {
              "emailAddress": {
                "name": "berkayguzel06@outlook.com",
                "address": "berkayguzel06@outlook.com"
              }
            }
          ]
        }
      },
      {
        "json": {
          "access_token": "EwCIBMl6BAAUBKgm8k1UswUNwklmy2v7U/S+1fEAAZW5upOmt3qYUwN+Q8+M2/ebOWDCKUXx4A+cNUb2Vo5+lkau01hnRpbWMPtjAg/2KuuEkTv983mKZpYcgJXUxtqYS+sJGjDRjeFoNs1eQ7zMbzM/0rYOiN9CDZJHHzm/R/Yvx5mCNITAOQ4sv5yoV/bMyLd38D3Srw+d+1yfVQhRGxLFog4Ogmhe10BUIVHw668eElRgFXWejY0QgdWGXtFwrXljpI9Ax0jTgfoUgbjj0riMtnxm7r7tEHUPNPoY+XHxXHkXjCU4ybDhEcZMjflPhHl81iO7E6pVq5FewGhg85LzHIXwocL7QA51vE8j2K8Z/cBp1G1874TxK9XozZcQZgAAEIbqX4dpFNQVu1+OZlB0B5lQA1MPwK5Bfxh7KX/YI+dT+qStLt/Y7XGJXL/oqg8oCs0wOaGG7XX9TXdZ12DbkkWq6RQt/yV66Ebzk3mPFLRJ507pu5UoFFOQkjo6gMGq9FIef/XAZlnQ8EjIQ6gG9wTEza+7oVoi2b+9Lre/vKfNOKhdy/hy9uuVvgrs8xlffHE+v6/gwE2/mFXigI22CLSHIpZW0LCWAd/PAsC03x6Z5HkQNHtPcBSo8UCz+ViMz6n3XTlr1a2kTFfU9oXeY0YnMtgQlF4VfRfl1Gq+D9UYBvM8ldnppcTvSeUMjqpPH9xw5Dot/hRe7ukTKiRzaHIsGiV+DWIuEq6zedkDgKbJIGYhQBHTks6LXILk3/1Saj7m2sn7CYMWkvHj6O3sWW1u1S2P73/1vm2zBmF5BzFlZoMP1THranLY6BPwAkdkDZtv2bRJMcMsjSkkVQKUWRR03lVk8gGvyWquTBkWJADGEBivCR08+TzJK7jI6K7Rt5iIca2OC4vf8VgRuSOPPVRzudIjoqljt8uCm+9g9NOi/B/aq+tsz2hE7O1oIm0wZwtBvhMADwURyP4YW3cgAJLJR5KvYZxxh8AhqHgBY6d2+ce5L2M5w5S0mxqCQd0F3jKZGjDvfqKFZn3wQx1nEszPpPiDyGUffGo1cQ6NUb53zAen5psYO4mzkcyE1mBWPKWYfvuWCxPzVRBMkQHoGKyL6+cuPxLeD/NnB+HUmUzMn9rvbg/EliwPI188LB4yJpUrT45Qrivd8C9vi1Mb4ebmfhLIGPrIb2hUAaNIi0CxrTxmJXSRQckTtQNqu1dO6IpQWBWXhzyQm7rqN/29PqfvV7/hn9sRfGSoRY3HtTFPQj97r1A9ZxRjj0Tphg969qGZzPmq0+30XeMH7G/d9cEBQAPnapFqZN06CjC0M0jKEKboU+5aK19eL8yUYvTGXkdImchYCjkkPD2CZLp4YGhsVNPhAgdYKOWoJfsLGWRr7JfSZdKajQVCvLlreukgWDzRDSnj8zZ7vXETeGmdtLZMfDTFiTV4mW/3oMIySK/olUP99GZF7yCKRO+PSfgnMOqAMgfLbiZzSx+5s4aWGSq9teEgUaLlMI3ykWa9vHD67jN9yBfHzouu/cnD+MDdm/c1jAM=",
          "user_id": "103d5077-eea1-47af-8d6f-3f4c63d87aba",
          "email": "berkayguzel06@outlook.com",
          "name": "Berkay",
          "last_name": "Güzel",
          "@odata.etag": "W/\"CQAAABYAAACmbAuzjNRkRJHPPR9ftVhgAAEtKXPt\"",
          "id": "AQMkADAwATM0MDAAMS03YjViLTdjNTUALTAwAi0wMAoARgAAA1U4W2Btfe5Ik7wnmiPAttwHAKZsC7OM1GREkc89H1_1WGAAAAIBDAAAAKZsC7OM1GREkc89H1_1WGAAAS0zWOgAAAA=",
          "categories": [],
          "receivedDateTime": "2025-11-25T17:13:48Z",
          "hasAttachments": false,
          "subject": "Haftalık Proje Toplantısı – 27 Kasım 2025 / 14:00",
          "bodyPreview": "Merhaba,\r\n\r\nBu hafta için proje durum değerlendirme toplantımızı 27 Kasım 2025 Perşembe günü saat 14:00’te gerçekleştireceğiz.\r\n\r\nToplantıda konuşulacak başlıklar:\r\n\r\n  *   Son sprint ilerlemeleri\r\n\r\n  *   Bloklayan maddeler\r\n\r\n  *   Önümüzdeki hafta göre",
          "from": {
            "emailAddress": {
              "name": "Berkay Güzel",
              "address": "berkayguzel43@gmail.com"
            }
          },
          "toRecipients": [
            {
              "emailAddress": {
                "name": "berkayguzel06@outlook.com",
                "address": "berkayguzel06@outlook.com"
              }
            }
          ]
        }
      },
      {
        "json": {
          "access_token": "EwCIBMl6BAAUBKgm8k1UswUNwklmy2v7U/S+1fEAAZW5upOmt3qYUwN+Q8+M2/ebOWDCKUXx4A+cNUb2Vo5+lkau01hnRpbWMPtjAg/2KuuEkTv983mKZpYcgJXUxtqYS+sJGjDRjeFoNs1eQ7zMbzM/0rYOiN9CDZJHHzm/R/Yvx5mCNITAOQ4sv5yoV/bMyLd38D3Srw+d+1yfVQhRGxLFog4Ogmhe10BUIVHw668eElRgFXWejY0QgdWGXtFwrXljpI9Ax0jTgfoUgbjj0riMtnxm7r7tEHUPNPoY+XHxXHkXjCU4ybDhEcZMjflPhHl81iO7E6pVq5FewGhg85LzHIXwocL7QA51vE8j2K8Z/cBp1G1874TxK9XozZcQZgAAEIbqX4dpFNQVu1+OZlB0B5lQA1MPwK5Bfxh7KX/YI+dT+qStLt/Y7XGJXL/oqg8oCs0wOaGG7XX9TXdZ12DbkkWq6RQt/yV66Ebzk3mPFLRJ507pu5UoFFOQkjo6gMGq9FIef/XAZlnQ8EjIQ6gG9wTEza+7oVoi2b+9Lre/vKfNOKhdy/hy9uuVvgrs8xlffHE+v6/gwE2/mFXigI22CLSHIpZW0LCWAd/PAsC03x6Z5HkQNHtPcBSo8UCz+ViMz6n3XTlr1a2kTFfU9oXeY0YnMtgQlF4VfRfl1Gq+D9UYBvM8ldnppcTvSeUMjqpPH9xw5Dot/hRe7ukTKiRzaHIsGiV+DWIuEq6zedkDgKbJIGYhQBHTks6LXILk3/1Saj7m2sn7CYMWkvHj6O3sWW1u1S2P73/1vm2zBmF5BzFlZoMP1THranLY6BPwAkdkDZtv2bRJMcMsjSkkVQKUWRR03lVk8gGvyWquTBkWJADGEBivCR08+TzJK7jI6K7Rt5iIca2OC4vf8VgRuSOPPVRzudIjoqljt8uCm+9g9NOi/B/aq+tsz2hE7O1oIm0wZwtBvhMADwURyP4YW3cgAJLJR5KvYZxxh8AhqHgBY6d2+ce5L2M5w5S0mxqCQd0F3jKZGjDvfqKFZn3wQx1nEszPpPiDyGUffGo1cQ6NUb53zAen5psYO4mzkcyE1mBWPKWYfvuWCxPzVRBMkQHoGKyL6+cuPxLeD/NnB+HUmUzMn9rvbg/EliwPI188LB4yJpUrT45Qrivd8C9vi1Mb4ebmfhLIGPrIb2hUAaNIi0CxrTxmJXSRQckTtQNqu1dO6IpQWBWXhzyQm7rqN/29PqfvV7/hn9sRfGSoRY3HtTFPQj97r1A9ZxRjj0Tphg969qGZzPmq0+30XeMH7G/d9cEBQAPnapFqZN06CjC0M0jKEKboU+5aK19eL8yUYvTGXkdImchYCjkkPD2CZLp4YGhsVNPhAgdYKOWoJfsLGWRr7JfSZdKajQVCvLlreukgWDzRDSnj8zZ7vXETeGmdtLZMfDTFiTV4mW/3oMIySK/olUP99GZF7yCKRO+PSfgnMOqAMgfLbiZzSx+5s4aWGSq9teEgUaLlMI3ykWa9vHD67jN9yBfHzouu/cnD+MDdm/c1jAM=",
          "user_id": "103d5077-eea1-47af-8d6f-3f4c63d87aba",
          "email": "berkayguzel06@outlook.com",
          "name": "Berkay",
          "last_name": "Güzel",
          "@odata.etag": "W/\"CQAAABYAAACmbAuzjNRkRJHPPR9ftVhgAAEtKXPl\"",
          "id": "AQMkADAwATM0MDAAMS03YjViLTdjNTUALTAwAi0wMAoARgAAA1U4W2Btfe5Ik7wnmiPAttwHAKZsC7OM1GREkc89H1_1WGAAAAIBDAAAAKZsC7OM1GREkc89H1_1WGAAAS0zWOYAAAA=",
          "categories": [],
          "receivedDateTime": "2025-11-25T17:14:09Z",
          "hasAttachments": false,
          "subject": "Hatırlatma: Dashboard Revizyonu İçin Son Teslim Tarihi – 29 Kasım",
          "bodyPreview": "Selam,\r\n\r\nDashboard revizyonu için son teslim tarihi 29 Kasım 2025 olarak belirlenmişti.\r\nAşağıdaki maddelerin güncellenmesi gerekiyor:\r\n\r\n  *   Yeni grafik bileşeninin eklenmesi\r\n\r\n  *   API response optimizasyonu\r\n\r\n  *   Hatalı tooltip davranışının düz",
          "from": {
            "emailAddress": {
              "name": "Berkay Güzel",
              "address": "berkayguzel43@gmail.com"
            }
          },
          "toRecipients": [
            {
              "emailAddress": {
                "name": "berkayguzel06@outlook.com",
                "address": "berkayguzel06@outlook.com"
              }
            }
          ]
        }
      },
      {
        "json": {
          "access_token": "EwCIBMl6BAAUBKgm8k1UswUNwklmy2v7U/S+1fEAAZW5upOmt3qYUwN+Q8+M2/ebOWDCKUXx4A+cNUb2Vo5+lkau01hnRpbWMPtjAg/2KuuEkTv983mKZpYcgJXUxtqYS+sJGjDRjeFoNs1eQ7zMbzM/0rYOiN9CDZJHHzm/R/Yvx5mCNITAOQ4sv5yoV/bMyLd38D3Srw+d+1yfVQhRGxLFog4Ogmhe10BUIVHw668eElRgFXWejY0QgdWGXtFwrXljpI9Ax0jTgfoUgbjj0riMtnxm7r7tEHUPNPoY+XHxXHkXjCU4ybDhEcZMjflPhHl81iO7E6pVq5FewGhg85LzHIXwocL7QA51vE8j2K8Z/cBp1G1874TxK9XozZcQZgAAEIbqX4dpFNQVu1+OZlB0B5lQA1MPwK5Bfxh7KX/YI+dT+qStLt/Y7XGJXL/oqg8oCs0wOaGG7XX9TXdZ12DbkkWq6RQt/yV66Ebzk3mPFLRJ507pu5UoFFOQkjo6gMGq9FIef/XAZlnQ8EjIQ6gG9wTEza+7oVoi2b+9Lre/vKfNOKhdy/hy9uuVvgrs8xlffHE+v6/gwE2/mFXigI22CLSHIpZW0LCWAd/PAsC03x6Z5HkQNHtPcBSo8UCz+ViMz6n3XTlr1a2kTFfU9oXeY0YnMtgQlF4VfRfl1Gq+D9UYBvM8ldnppcTvSeUMjqpPH9xw5Dot/hRe7ukTKiRzaHIsGiV+DWIuEq6zedkDgKbJIGYhQBHTks6LXILk3/1Saj7m2sn7CYMWkvHj6O3sWW1u1S2P73/1vm2zBmF5BzFlZoMP1THranLY6BPwAkdkDZtv2bRJMcMsjSkkVQKUWRR03lVk8gGvyWquTBkWJADGEBivCR08+TzJK7jI6K7Rt5iIca2OC4vf8VgRuSOPPVRzudIjoqljt8uCm+9g9NOi/B/aq+tsz2hE7O1oIm0wZwtBvhMADwURyP4YW3cgAJLJR5KvYZxxh8AhqHgBY6d2+ce5L2M5w5S0mxqCQd0F3jKZGjDvfqKFZn3wQx1nEszPpPiDyGUffGo1cQ6NUb53zAen5psYO4mzkcyE1mBWPKWYfvuWCxPzVRBMkQHoGKyL6+cuPxLeD/NnB+HUmUzMn9rvbg/EliwPI188LB4yJpUrT45Qrivd8C9vi1Mb4ebmfhLIGPrIb2hUAaNIi0CxrTxmJXSRQckTtQNqu1dO6IpQWBWXhzyQm7rqN/29PqfvV7/hn9sRfGSoRY3HtTFPQj97r1A9ZxRjj0Tphg969qGZzPmq0+30XeMH7G/d9cEBQAPnapFqZN06CjC0M0jKEKboU+5aK19eL8yUYvTGXkdImchYCjkkPD2CZLp4YGhsVNPhAgdYKOWoJfsLGWRr7JfSZdKajQVCvLlreukgWDzRDSnj8zZ7vXETeGmdtLZMfDTFiTV4mW/3oMIySK/olUP99GZF7yCKRO+PSfgnMOqAMgfLbiZzSx+5s4aWGSq9teEgUaLlMI3ykWa9vHD67jN9yBfHzouu/cnD+MDdm/c1jAM=",
          "user_id": "103d5077-eea1-47af-8d6f-3f4c63d87aba",
          "email": "berkayguzel06@outlook.com",
          "name": "Berkay",
          "last_name": "Güzel",
          "@odata.etag": "W/\"CQAAABYAAACmbAuzjNRkRJHPPR9ftVhgAAEtKXPX\"",
          "id": "AQMkADAwATM0MDAAMS03YjViLTdjNTUALTAwAi0wMAoARgAAA1U4W2Btfe5Ik7wnmiPAttwHAKZsC7OM1GREkc89H1_1WGAAAAIBDAAAAKZsC7OM1GREkc89H1_1WGAAAS0zWPEAAAA=",
          "categories": [],
          "receivedDateTime": "2025-11-25T17:14:52Z",
          "hasAttachments": true,
          "subject": "İnceleme İçin Gereken Dokümanlar (Ek Mevcut)",
          "bodyPreview": "Merhaba,\r\n\r\nBahsettiğimiz süreç analiziyle ilgili dokümanları ekte paylaşıyorum. (attachment sen ekleyeceksin)\r\n\r\nİnceledikten sonra:\r\n\r\n  *   Eksik gördüğün noktaları işaretleyebilir\r\n\r\n  *   Revizyon önerilerini yazabilir\r\n\r\n  *   Onayladığın versiyonu ",
          "from": {
            "emailAddress": {
              "name": "Berkay Güzel",
              "address": "berkayguzel43@gmail.com"
            }
          },
          "toRecipients": [
            {
              "emailAddress": {
                "name": "berkayguzel06@outlook.com",
                "address": "berkayguzel06@outlook.com"
              }
            }
          ]
        }
      },
      {
        "json": {
          "access_token": "EwCIBMl6BAAUBKgm8k1UswUNwklmy2v7U/S+1fEAAZW5upOmt3qYUwN+Q8+M2/ebOWDCKUXx4A+cNUb2Vo5+lkau01hnRpbWMPtjAg/2KuuEkTv983mKZpYcgJXUxtqYS+sJGjDRjeFoNs1eQ7zMbzM/0rYOiN9CDZJHHzm/R/Yvx5mCNITAOQ4sv5yoV/bMyLd38D3Srw+d+1yfVQhRGxLFog4Ogmhe10BUIVHw668eElRgFXWejY0QgdWGXtFwrXljpI9Ax0jTgfoUgbjj0riMtnxm7r7tEHUPNPoY+XHxXHkXjCU4ybDhEcZMjflPhHl81iO7E6pVq5FewGhg85LzHIXwocL7QA51vE8j2K8Z/cBp1G1874TxK9XozZcQZgAAEIbqX4dpFNQVu1+OZlB0B5lQA1MPwK5Bfxh7KX/YI+dT+qStLt/Y7XGJXL/oqg8oCs0wOaGG7XX9TXdZ12DbkkWq6RQt/yV66Ebzk3mPFLRJ507pu5UoFFOQkjo6gMGq9FIef/XAZlnQ8EjIQ6gG9wTEza+7oVoi2b+9Lre/vKfNOKhdy/hy9uuVvgrs8xlffHE+v6/gwE2/mFXigI22CLSHIpZW0LCWAd/PAsC03x6Z5HkQNHtPcBSo8UCz+ViMz6n3XTlr1a2kTFfU9oXeY0YnMtgQlF4VfRfl1Gq+D9UYBvM8ldnppcTvSeUMjqpPH9xw5Dot/hRe7ukTKiRzaHIsGiV+DWIuEq6zedkDgKbJIGYhQBHTks6LXILk3/1Saj7m2sn7CYMWkvHj6O3sWW1u1S2P73/1vm2zBmF5BzFlZoMP1THranLY6BPwAkdkDZtv2bRJMcMsjSkkVQKUWRR03lVk8gGvyWquTBkWJADGEBivCR08+TzJK7jI6K7Rt5iIca2OC4vf8VgRuSOPPVRzudIjoqljt8uCm+9g9NOi/B/aq+tsz2hE7O1oIm0wZwtBvhMADwURyP4YW3cgAJLJR5KvYZxxh8AhqHgBY6d2+ce5L2M5w5S0mxqCQd0F3jKZGjDvfqKFZn3wQx1nEszPpPiDyGUffGo1cQ6NUb53zAen5psYO4mzkcyE1mBWPKWYfvuWCxPzVRBMkQHoGKyL6+cuPxLeD/NnB+HUmUzMn9rvbg/EliwPI188LB4yJpUrT45Qrivd8C9vi1Mb4ebmfhLIGPrIb2hUAaNIi0CxrTxmJXSRQckTtQNqu1dO6IpQWBWXhzyQm7rqN/29PqfvV7/hn9sRfGSoRY3HtTFPQj97r1A9ZxRjj0Tphg969qGZzPmq0+30XeMH7G/d9cEBQAPnapFqZN06CjC0M0jKEKboU+5aK19eL8yUYvTGXkdImchYCjkkPD2CZLp4YGhsVNPhAgdYKOWoJfsLGWRr7JfSZdKajQVCvLlreukgWDzRDSnj8zZ7vXETeGmdtLZMfDTFiTV4mW/3oMIySK/olUP99GZF7yCKRO+PSfgnMOqAMgfLbiZzSx+5s4aWGSq9teEgUaLlMI3ykWa9vHD67jN9yBfHzouu/cnD+MDdm/c1jAM=",
          "user_id": "103d5077-eea1-47af-8d6f-3f4c63d87aba",
          "email": "berkayguzel06@outlook.com",
          "name": "Berkay",
          "last_name": "Güzel",
          "@odata.etag": "W/\"CQAAABYAAACmbAuzjNRkRJHPPR9ftVhgAAEtKXPO\"",
          "id": "AQMkADAwATM0MDAAMS03YjViLTdjNTUALTAwAi0wMAoARgAAA1U4W2Btfe5Ik7wnmiPAttwHAKZsC7OM1GREkc89H1_1WGAAAAIBDAAAAKZsC7OM1GREkc89H1_1WGAAAS0zWN0AAAA=",
          "categories": [],
          "receivedDateTime": "2025-11-25T17:15:19Z",
          "hasAttachments": false,
          "subject": "Bugünkü Toplantı Sonrası Aksiyon Listesi",
          "bodyPreview": "Merhaba,\r\n\r\nBugünkü toplantıdan çıkan aksiyonları aşağıya ekledim:\r\n\r\nAksiyonlar:\r\n\r\n  1.  API rate limit konfigürasyonunun yeniden düzenlenmesi\r\n\r\n  2.  Yeni kullanıcı onboarding ekranı için taslak oluşturulması\r\n\r\n  3.  Log analizi tarafında hata oranı ",
          "from": {
            "emailAddress": {
              "name": "Berkay Güzel",
              "address": "berkayguzel43@gmail.com"
            }
          },
          "toRecipients": [
            {
              "emailAddress": {
                "name": "berkayguzel06@outlook.com",
                "address": "berkayguzel06@outlook.com"
              }
            }
          ]
        }
      },
      {
        "json": {
          "access_token": "EwCIBMl6BAAUBKgm8k1UswUNwklmy2v7U/S+1fEAAZW5upOmt3qYUwN+Q8+M2/ebOWDCKUXx4A+cNUb2Vo5+lkau01hnRpbWMPtjAg/2KuuEkTv983mKZpYcgJXUxtqYS+sJGjDRjeFoNs1eQ7zMbzM/0rYOiN9CDZJHHzm/R/Yvx5mCNITAOQ4sv5yoV/bMyLd38D3Srw+d+1yfVQhRGxLFog4Ogmhe10BUIVHw668eElRgFXWejY0QgdWGXtFwrXljpI9Ax0jTgfoUgbjj0riMtnxm7r7tEHUPNPoY+XHxXHkXjCU4ybDhEcZMjflPhHl81iO7E6pVq5FewGhg85LzHIXwocL7QA51vE8j2K8Z/cBp1G1874TxK9XozZcQZgAAEIbqX4dpFNQVu1+OZlB0B5lQA1MPwK5Bfxh7KX/YI+dT+qStLt/Y7XGJXL/oqg8oCs0wOaGG7XX9TXdZ12DbkkWq6RQt/yV66Ebzk3mPFLRJ507pu5UoFFOQkjo6gMGq9FIef/XAZlnQ8EjIQ6gG9wTEza+7oVoi2b+9Lre/vKfNOKhdy/hy9uuVvgrs8xlffHE+v6/gwE2/mFXigI22CLSHIpZW0LCWAd/PAsC03x6Z5HkQNHtPcBSo8UCz+ViMz6n3XTlr1a2kTFfU9oXeY0YnMtgQlF4VfRfl1Gq+D9UYBvM8ldnppcTvSeUMjqpPH9xw5Dot/hRe7ukTKiRzaHIsGiV+DWIuEq6zedkDgKbJIGYhQBHTks6LXILk3/1Saj7m2sn7CYMWkvHj6O3sWW1u1S2P73/1vm2zBmF5BzFlZoMP1THranLY6BPwAkdkDZtv2bRJMcMsjSkkVQKUWRR03lVk8gGvyWquTBkWJADGEBivCR08+TzJK7jI6K7Rt5iIca2OC4vf8VgRuSOPPVRzudIjoqljt8uCm+9g9NOi/B/aq+tsz2hE7O1oIm0wZwtBvhMADwURyP4YW3cgAJLJR5KvYZxxh8AhqHgBY6d2+ce5L2M5w5S0mxqCQd0F3jKZGjDvfqKFZn3wQx1nEszPpPiDyGUffGo1cQ6NUb53zAen5psYO4mzkcyE1mBWPKWYfvuWCxPzVRBMkQHoGKyL6+cuPxLeD/NnB+HUmUzMn9rvbg/EliwPI188LB4yJpUrT45Qrivd8C9vi1Mb4ebmfhLIGPrIb2hUAaNIi0CxrTxmJXSRQckTtQNqu1dO6IpQWBWXhzyQm7rqN/29PqfvV7/hn9sRfGSoRY3HtTFPQj97r1A9ZxRjj0Tphg969qGZzPmq0+30XeMH7G/d9cEBQAPnapFqZN06CjC0M0jKEKboU+5aK19eL8yUYvTGXkdImchYCjkkPD2CZLp4YGhsVNPhAgdYKOWoJfsLGWRr7JfSZdKajQVCvLlreukgWDzRDSnj8zZ7vXETeGmdtLZMfDTFiTV4mW/3oMIySK/olUP99GZF7yCKRO+PSfgnMOqAMgfLbiZzSx+5s4aWGSq9teEgUaLlMI3ykWa9vHD67jN9yBfHzouu/cnD+MDdm/c1jAM=",
          "user_id": "103d5077-eea1-47af-8d6f-3f4c63d87aba",
          "email": "berkayguzel06@outlook.com",
          "name": "Berkay",
          "last_name": "Güzel",
          "@odata.etag": "W/\"CQAAABYAAACmbAuzjNRkRJHPPR9ftVhgAAEtKXPC\"",
          "id": "AQMkADAwATM0MDAAMS03YjViLTdjNTUALTAwAi0wMAoARgAAA1U4W2Btfe5Ik7wnmiPAttwHAKZsC7OM1GREkc89H1_1WGAAAAIBDAAAAKZsC7OM1GREkc89H1_1WGAAAS0zWPAAAAA=",
          "categories": [],
          "receivedDateTime": "2025-11-25T17:15:32Z",
          "hasAttachments": false,
          "subject": "Entegrasyon Sürecine İlişkin Onay Talebi",
          "bodyPreview": "Selam,\r\n\r\nAkinon tarafındaki entegrasyon için hazırlanan yeni yapılandırma dosyalarını test ortamına aktarmadan önce onayını talep ediyorum.\r\n\r\nKontrol etmeni istediğim noktalar:\r\n\r\n  *   Endpoint doğruluk testi\r\n\r\n  *   Timeout & retry politikaları\r\n\r\n  ",
          "from": {
            "emailAddress": {
              "name": "Berkay Güzel",
              "address": "berkayguzel43@gmail.com"
            }
          },
          "toRecipients": [
            {
              "emailAddress": {
                "name": "berkayguzel06@outlook.com",
                "address": "berkayguzel06@outlook.com"
              }
            }
          ]
        }
      },
      {
        "json": {
          "access_token": "EwCIBMl6BAAUBKgm8k1UswUNwklmy2v7U/S+1fEAAZW5upOmt3qYUwN+Q8+M2/ebOWDCKUXx4A+cNUb2Vo5+lkau01hnRpbWMPtjAg/2KuuEkTv983mKZpYcgJXUxtqYS+sJGjDRjeFoNs1eQ7zMbzM/0rYOiN9CDZJHHzm/R/Yvx5mCNITAOQ4sv5yoV/bMyLd38D3Srw+d+1yfVQhRGxLFog4Ogmhe10BUIVHw668eElRgFXWejY0QgdWGXtFwrXljpI9Ax0jTgfoUgbjj0riMtnxm7r7tEHUPNPoY+XHxXHkXjCU4ybDhEcZMjflPhHl81iO7E6pVq5FewGhg85LzHIXwocL7QA51vE8j2K8Z/cBp1G1874TxK9XozZcQZgAAEIbqX4dpFNQVu1+OZlB0B5lQA1MPwK5Bfxh7KX/YI+dT+qStLt/Y7XGJXL/oqg8oCs0wOaGG7XX9TXdZ12DbkkWq6RQt/yV66Ebzk3mPFLRJ507pu5UoFFOQkjo6gMGq9FIef/XAZlnQ8EjIQ6gG9wTEza+7oVoi2b+9Lre/vKfNOKhdy/hy9uuVvgrs8xlffHE+v6/gwE2/mFXigI22CLSHIpZW0LCWAd/PAsC03x6Z5HkQNHtPcBSo8UCz+ViMz6n3XTlr1a2kTFfU9oXeY0YnMtgQlF4VfRfl1Gq+D9UYBvM8ldnppcTvSeUMjqpPH9xw5Dot/hRe7ukTKiRzaHIsGiV+DWIuEq6zedkDgKbJIGYhQBHTks6LXILk3/1Saj7m2sn7CYMWkvHj6O3sWW1u1S2P73/1vm2zBmF5BzFlZoMP1THranLY6BPwAkdkDZtv2bRJMcMsjSkkVQKUWRR03lVk8gGvyWquTBkWJADGEBivCR08+TzJK7jI6K7Rt5iIca2OC4vf8VgRuSOPPVRzudIjoqljt8uCm+9g9NOi/B/aq+tsz2hE7O1oIm0wZwtBvhMADwURyP4YW3cgAJLJR5KvYZxxh8AhqHgBY6d2+ce5L2M5w5S0mxqCQd0F3jKZGjDvfqKFZn3wQx1nEszPpPiDyGUffGo1cQ6NUb53zAen5psYO4mzkcyE1mBWPKWYfvuWCxPzVRBMkQHoGKyL6+cuPxLeD/NnB+HUmUzMn9rvbg/EliwPI188LB4yJpUrT45Qrivd8C9vi1Mb4ebmfhLIGPrIb2hUAaNIi0CxrTxmJXSRQckTtQNqu1dO6IpQWBWXhzyQm7rqN/29PqfvV7/hn9sRfGSoRY3HtTFPQj97r1A9ZxRjj0Tphg969qGZzPmq0+30XeMH7G/d9cEBQAPnapFqZN06CjC0M0jKEKboU+5aK19eL8yUYvTGXkdImchYCjkkPD2CZLp4YGhsVNPhAgdYKOWoJfsLGWRr7JfSZdKajQVCvLlreukgWDzRDSnj8zZ7vXETeGmdtLZMfDTFiTV4mW/3oMIySK/olUP99GZF7yCKRO+PSfgnMOqAMgfLbiZzSx+5s4aWGSq9teEgUaLlMI3ykWa9vHD67jN9yBfHzouu/cnD+MDdm/c1jAM=",
          "user_id": "103d5077-eea1-47af-8d6f-3f4c63d87aba",
          "email": "berkayguzel06@outlook.com",
          "name": "Berkay",
          "last_name": "Güzel",
          "@odata.etag": "W/\"CQAAABYAAACmbAuzjNRkRJHPPR9ftVhgAAEtKXPL\"",
          "id": "AQMkADAwATM0MDAAMS03YjViLTdjNTUALTAwAi0wMAoARgAAA1U4W2Btfe5Ik7wnmiPAttwHAKZsC7OM1GREkc89H1_1WGAAAAIBDAAAAKZsC7OM1GREkc89H1_1WGAAAS0zWOQAAAA=",
          "categories": [],
          "receivedDateTime": "2025-11-25T17:15:44Z",
          "hasAttachments": false,
          "subject": "Veri Akışı Güncellemesi Hakkında Bilgilendirme",
          "bodyPreview": "Merhaba,\r\n\r\nSon güncelleme ile birlikte veri akışında aşağıdaki değişiklikler yapıldı:\r\n\r\n  *   Order import sürecinde paralelleştirme artırıldı\r\n\r\n  *   Hatalı siparişlerin retry sayısı yükseltildi\r\n\r\n  *   Export işlerinde dosya sıkıştırma aktif hale ge",
          "from": {
            "emailAddress": {
              "name": "Berkay Güzel",
              "address": "berkayguzel43@gmail.com"
            }
          },
          "toRecipients": [
            {
              "emailAddress": {
                "name": "berkayguzel06@outlook.com",
                "address": "berkayguzel06@outlook.com"
              }
            }
          ]
        }
      }
    ]
  },
  "versionId": "dd818b5f-1ed9-4f4c-adff-f1496f4782a6",
  "versionCounter": 105,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-25T07:28:14.722Z",
      "createdAt": "2025-11-25T07:28:14.722Z",
      "role": "workflow:owner",
      "workflowId": "rpTj6NRiVVAvLDLt",
      "projectId": "Ti3JL05CSVUvJj6A",
      "project": {
        "updatedAt": "2025-10-20T20:29:51.468Z",
        "createdAt": "2025-10-20T20:29:10.045Z",
        "id": "Ti3JL05CSVUvJj6A",
        "name": "Berkay Güzel <berkayguzel43@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-20T20:29:10.046Z",
            "createdAt": "2025-10-20T20:29:10.046Z",
            "userId": "63547d7a-5632-4caa-b82b-e1517f572f8f",
            "projectId": "Ti3JL05CSVUvJj6A",
            "user": {
              "updatedAt": "2025-12-01T05:39:44.000Z",
              "createdAt": "2025-10-20T20:29:09.823Z",
              "id": "63547d7a-5632-4caa-b82b-e1517f572f8f",
              "email": "berkayguzel43@gmail.com",
              "firstName": "Berkay",
              "lastName": "Güzel",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-20T20:29:56.564Z",
                "personalization_survey_n8n_version": "1.115.3"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "igqmQcqCfFbzi8Ws",
                "userActivatedAt": 1761636420034,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763316240404
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-01",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-25T07:28:56.435Z",
      "createdAt": "2025-11-25T07:28:56.435Z",
      "id": "uEPVpiLWGIcHIKbE",
      "name": "non-exectuable"
    }
  ]
}