n8n-workflows/start_mail_workflow_categorizing.json
{
  "updatedAt": "2025-12-05T08:59:27.000Z",
  "createdAt": "2025-12-05T06:45:33.863Z",
  "id": "VFVgGLdt8yI8OenM",
  "name": "Start-Mail-Workflow Categorizing",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -608,
        -280
      ],
      "id": "4911dfc5-7029-41cb-9ed1-786a5c9242fa",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "chatId": "-3257168516",
        "text": "=Error in workflow {{ $workflow.name }}\n{{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        64,
        -184
      ],
      "id": "7037cf34-5744-432e-ac38-6a2fe9ecbf33",
      "name": "Error Message",
      "webhookId": "a46dcc34-447c-4226-88ae-6836cc9a396b",
      "credentials": {
        "telegramApi": {
          "id": "xTSQ9buOorLMIRKW",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZvAoMT0NyqWxUSfF",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZvAoMT0NyqWxUSfF",
          "cachedResultName": "Mail Categorization Fetch"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        288,
        -400
      ],
      "id": "6adefa4f-4606-4724-ab8f-77f3654067e8",
      "name": "Call 'Mail Categorization Fetch'"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:5000/api/v1/n8n/workflows/{{$workflow.id}}/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-SERVICE-KEY",
              "value": "jdjJKKFK213123..askna!ak.sakn"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -384,
        -280
      ],
      "id": "0981d6d5-6e25-4937-9fae-f59ddf885e6d",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Yeni çıktıları tutacağımız boş bir dizi\nconst newItems = [];\n\n// Gelen her bir input verisi için döngü (Genellikle 1 tane gelir ama standarttır)\nfor (const item of $input.all()) {\n  const data = item.json;\n  \n  // Ana workflow bilgilerini al\n  const workflow = data.workflow;\n  const users = data.users;\n\n  // Eğer users bir dizi ise, her kullanıcı için ayrı bir satır oluştur\n  if (users && Array.isArray(users)) {\n    for (const user of users) {\n      \n      // Yeni, düzleştirilmiş (flattened) objeyi oluştur\n      const flattenedItem = {\n        // --- Kullanıcı Bilgileri ---\n        id: user.id,\n        name: user.name,\n        last_name: user.lastName,\n        email: user.email,\n        role: user.role,\n        is_active: user.isActive,\n\n        // --- Credentials / Telegram Bilgileri ---\n        // ?. operatörü ile hata almayı engelliyoruz (credentials yoksa null döner)\n        telegram_chat_id: user.credentials?.telegramChatId || null,\n        token_expires_at: user.credentials?.expiresAt || null,\n        access_token: user.credentials?.accessToken || null,\n        // Access token çok uzun olduğu için genelde tabloya koyulmaz ama gerekirse buraya ekleyebilirsin:\n        // access_token: user.credentials?.accessToken\n      };\n\n      // Hazırladığımız bu satırı çıktı dizisine ekle\n      newItems.push({ json: flattenedItem });\n    }\n  }\n}\n\n// Yeni oluşturduğumuz düz listeyi n8n'e geri döndür\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -352
      ],
      "id": "9b1e220a-af06-4583-ae16-9d25825b4c3e",
      "name": "Code in JavaScript",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "79ab2920-bd16-42c8-8789-ffd8a5a415b1",
              "leftValue": "={{ $json.access_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        -400
      ],
      "id": "d0fbb605-c1de-4868-a2a5-e18e89c958bb",
      "name": "If1"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Call 'Mail Categorization Fetch'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "3a873d12-f3ce-4341-b228-d449a8e1c08b",
  "versionCounter": 9,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-05T06:45:33.868Z",
      "createdAt": "2025-12-05T06:45:33.868Z",
      "role": "workflow:owner",
      "workflowId": "VFVgGLdt8yI8OenM",
      "projectId": "Qz4EZoRaJoP60D6r",
      "project": {
        "updatedAt": "2025-03-05T09:02:20.383Z",
        "createdAt": "2025-03-05T08:58:50.174Z",
        "id": "Qz4EZoRaJoP60D6r",
        "name": "Berkay Güzel <berkayguzel43@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-03-05T08:58:50.174Z",
            "createdAt": "2025-03-05T08:58:50.174Z",
            "userId": "fd0dad10-3532-42d3-92d8-22a846fddec9",
            "projectId": "Qz4EZoRaJoP60D6r",
            "user": {
              "updatedAt": "2025-12-05T06:44:21.000Z",
              "createdAt": "2025-03-05T08:58:49.757Z",
              "id": "fd0dad10-3532-42d3-92d8-22a846fddec9",
              "email": "berkayguzel43@gmail.com",
              "firstName": "Berkay",
              "lastName": "Güzel",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-03-05T09:03:26.064Z",
                "personalization_survey_n8n_version": "1.81.4",
                "automationGoalDevops": [
                  "other",
                  "monitoring-alerting",
                  "reporting"
                ],
                "companySize": "personalUser",
                "companyType": "systems-integrator",
                "role": "engineering",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "l5177howJJ0DyiVM",
                "userActivatedAt": 1761210491841,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763717488235
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-12-04T12:59:34.169Z",
      "createdAt": "2025-12-04T12:59:34.169Z",
      "id": "cwpgHJH3sGrarRBq",
      "name": "start"
    }
  ]
}