n8n-workflows/start_mail_workflow.json
{
  "updatedAt": "2025-12-01T08:56:48.000Z",
  "createdAt": "2025-11-21T12:59:01.179Z",
  "id": "Mfcwb9TbJBpZHqye",
  "name": "Start-Mail-Workflow",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -608,
        16
      ],
      "id": "aadbedf4-7d5d-4036-bcc4-68e4570faae1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kNu54ENHUJqxAefV",
          "mode": "list",
          "cachedResultUrl": "/workflow/kNu54ENHUJqxAefV",
          "cachedResultName": "Mail Calendar Integration 2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        288,
        -80
      ],
      "id": "845e7264-9908-4b3d-a51c-135131cd83ef",
      "name": "Mail-Workflow"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -384,
        -128
      ],
      "id": "be1b45e3-67e9-4139-bd5f-39efd1162e00",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "eeGTexNNm3ZWrmrC",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT * FROM input1 LEFT JOIN input2 ON input1.id = input2.user_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -160,
        -80
      ],
      "id": "500369b1-b92c-4b1e-912b-0dbc2dc956f4",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "user_credentials",
          "mode": "list",
          "cachedResultName": "user_credentials"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -384,
        160
      ],
      "id": "32e1b226-3321-4d11-8c1b-56c44a60ab71",
      "name": "Select rows from a table1",
      "credentials": {
        "postgres": {
          "id": "eeGTexNNm3ZWrmrC",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "79ab2920-bd16-42c8-8789-ffd8a5a415b1",
              "leftValue": "={{ $json.access_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        -80
      ],
      "id": "309d2c69-6731-4232-ad5c-cbaf4c0ef236",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "-3257168516",
        "text": "=Error in workflow {{ $workflow.name }}\n{{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -160,
        112
      ],
      "id": "59d041b1-c22a-4824-8a8c-a90b54c392ac",
      "name": "Error Message",
      "webhookId": "334474c1-8a99-4c2e-a320-7e3683e4ea3b",
      "credentials": {
        "telegramApi": {
          "id": "JG4HCYCvUBrFrjrG",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Mail-Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1409d310-e3b5-466a-822c-4c0dff87d577",
  "versionCounter": 38,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-25T07:28:14.730Z",
      "createdAt": "2025-11-25T07:28:14.730Z",
      "role": "workflow:owner",
      "workflowId": "Mfcwb9TbJBpZHqye",
      "projectId": "Ti3JL05CSVUvJj6A",
      "project": {
        "updatedAt": "2025-10-20T20:29:51.468Z",
        "createdAt": "2025-10-20T20:29:10.045Z",
        "id": "Ti3JL05CSVUvJj6A",
        "name": "Berkay Güzel <berkayguzel43@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-20T20:29:10.046Z",
            "createdAt": "2025-10-20T20:29:10.046Z",
            "userId": "63547d7a-5632-4caa-b82b-e1517f572f8f",
            "projectId": "Ti3JL05CSVUvJj6A",
            "user": {
              "updatedAt": "2025-12-04T20:18:03.000Z",
              "createdAt": "2025-10-20T20:29:09.823Z",
              "id": "63547d7a-5632-4caa-b82b-e1517f572f8f",
              "email": "berkayguzel43@gmail.com",
              "firstName": "Berkay",
              "lastName": "Güzel",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-20T20:29:56.564Z",
                "personalization_survey_n8n_version": "1.115.3"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "igqmQcqCfFbzi8Ws",
                "userActivatedAt": 1761636420034,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763316240404
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-25T07:28:56.435Z",
      "createdAt": "2025-11-25T07:28:56.435Z",
      "id": "uEPVpiLWGIcHIKbE",
      "name": "non-exectuable"
    }
  ]
}