n8n-workflows/start_mail_workflow_single_executable.json
{
  "updatedAt": "2025-12-05T06:53:11.000Z",
  "createdAt": "2025-12-05T06:45:34.042Z",
  "id": "5yWDo8zTgRgk7Qt9",
  "name": "Start-Mail-Workflow Single Executable",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kNu54ENHUJqxAefV",
          "mode": "list",
          "cachedResultUrl": "/workflow/kNu54ENHUJqxAefV",
          "cachedResultName": "Mail Calendar Integration 2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        288,
        -96
      ],
      "id": "30a11af0-00dd-44e3-920d-577a24fd8833",
      "name": "Mail-Workflow"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.body.userId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -384,
        -128
      ],
      "id": "f5e634d7-0db8-445f-8509-0c7cfec53fd3",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "lSf8LsoQGg0drmfO",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT * FROM input1 LEFT JOIN input2 ON input1.id = input2.user_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -160,
        -80
      ],
      "id": "cfe4ae20-c366-42b1-bb54-2a74b3cbbf3c",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "user_credentials",
          "mode": "list",
          "cachedResultName": "user_credentials"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.body.userId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -384,
        160
      ],
      "id": "7590dccb-05f4-4de1-b1b8-13016bc400af",
      "name": "Select rows from a table1",
      "credentials": {
        "postgres": {
          "id": "lSf8LsoQGg0drmfO",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "79ab2920-bd16-42c8-8789-ffd8a5a415b1",
              "leftValue": "={{ $json.access_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        -80
      ],
      "id": "9f87fbfd-cf1d-4522-a56b-3142b2ddcf34",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "-3257168516",
        "text": "=Error in workflow {{ $workflow.name }}\n{{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -160,
        112
      ],
      "id": "3fc0b1cc-40ba-4000-b1e0-bf914eea6177",
      "name": "Error Message",
      "webhookId": "dd63614d-1cf0-4b96-9a62-6476a9892e6b",
      "credentials": {
        "telegramApi": {
          "id": "xTSQ9buOorLMIRKW",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "95615c4e-fa92-4242-9aef-dbb1343e5a5c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        16
      ],
      "id": "09a3372f-4814-4afb-a379-e39edb4f3d96",
      "name": "Webhook",
      "webhookId": "95615c4e-fa92-4242-9aef-dbb1343e5a5c"
    }
  ],
  "connections": {
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Mail-Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "41de3d1b-98f1-4514-8439-c7cf750e1ce0",
  "versionCounter": 5,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-05T06:45:34.048Z",
      "createdAt": "2025-12-05T06:45:34.048Z",
      "role": "workflow:owner",
      "workflowId": "5yWDo8zTgRgk7Qt9",
      "projectId": "Qz4EZoRaJoP60D6r",
      "project": {
        "updatedAt": "2025-03-05T09:02:20.383Z",
        "createdAt": "2025-03-05T08:58:50.174Z",
        "id": "Qz4EZoRaJoP60D6r",
        "name": "Berkay Güzel <berkayguzel43@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-03-05T08:58:50.174Z",
            "createdAt": "2025-03-05T08:58:50.174Z",
            "userId": "fd0dad10-3532-42d3-92d8-22a846fddec9",
            "projectId": "Qz4EZoRaJoP60D6r",
            "user": {
              "updatedAt": "2025-12-05T06:44:21.000Z",
              "createdAt": "2025-03-05T08:58:49.757Z",
              "id": "fd0dad10-3532-42d3-92d8-22a846fddec9",
              "email": "berkayguzel43@gmail.com",
              "firstName": "Berkay",
              "lastName": "Güzel",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-03-05T09:03:26.064Z",
                "personalization_survey_n8n_version": "1.81.4",
                "automationGoalDevops": [
                  "other",
                  "monitoring-alerting",
                  "reporting"
                ],
                "companySize": "personalUser",
                "companyType": "systems-integrator",
                "role": "engineering",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "l5177howJJ0DyiVM",
                "userActivatedAt": 1761210491841,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763717488235
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}