n8n-workflows/start_mail_workflow_todo.json
{
  "updatedAt": "2025-12-05T16:32:01.000Z",
  "createdAt": "2025-12-05T16:20:07.486Z",
  "id": "kgpb3gPGTDAR9oB3",
  "name": "Start-Mail-Workflow ToDo",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -608,
        -120
      ],
      "id": "337b1215-9aa8-4342-b5c3-4564daa9f843",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "chatId": "-3257168516",
        "text": "=Error in workflow {{ $workflow.name }}\n{{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        64,
        -24
      ],
      "id": "845774ac-b250-4e45-ab41-0349b1fe9d2e",
      "name": "Error Message",
      "webhookId": "e79f74b9-6b6e-4082-a7d4-b7f707c9c17b",
      "credentials": {
        "telegramApi": {
          "id": "JG4HCYCvUBrFrjrG",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:5000/api/v1/n8n/workflows/{{$workflow.id}}/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-SERVICE-KEY",
              "value": "jdjJKKFK213123..askna!ak.sakn"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -384,
        -120
      ],
      "id": "45bcba56-0496-4a6e-a72a-776385542b79",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Yeni çıktıları tutacağımız boş bir dizi\nconst newItems = [];\n\n// Gelen her bir input verisi için döngü (Genellikle 1 tane gelir ama standarttır)\nfor (const item of $input.all()) {\n  const data = item.json;\n  \n  // Ana workflow bilgilerini al\n  const workflow = data.workflow;\n  const users = data.users;\n\n  // Eğer users bir dizi ise, her kullanıcı için ayrı bir satır oluştur\n  if (users && Array.isArray(users)) {\n    for (const user of users) {\n      \n      // Yeni, düzleştirilmiş (flattened) objeyi oluştur\n      const flattenedItem = {\n        // --- Kullanıcı Bilgileri ---\n        id: user.id,\n        name: user.name,\n        last_name: user.lastName,\n        email: user.email,\n        role: user.role,\n        is_active: user.isActive,\n\n        // --- Credentials / Telegram Bilgileri ---\n        // ?. operatörü ile hata almayı engelliyoruz (credentials yoksa null döner)\n        telegram_chat_id: user.credentials?.telegramChatId || null,\n        token_expires_at: user.credentials?.expiresAt || null,\n        access_token: user.credentials?.accessToken || null,\n        // Access token çok uzun olduğu için genelde tabloya koyulmaz ama gerekirse buraya ekleyebilirsin:\n        // access_token: user.credentials?.accessToken\n      };\n\n      // Hazırladığımız bu satırı çıktı dizisine ekle\n      newItems.push({ json: flattenedItem });\n    }\n  }\n}\n\n// Yeni oluşturduğumuz düz listeyi n8n'e geri döndür\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -192
      ],
      "id": "56a40afa-1249-4af5-92df-d4b96dd1865a",
      "name": "Code in JavaScript",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "79ab2920-bd16-42c8-8789-ffd8a5a415b1",
              "leftValue": "={{ $json.access_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        -240
      ],
      "id": "d96c1cc6-5459-4591-9d9b-7b5632399911",
      "name": "If1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uwFBg2fpc8eIiYLu",
          "mode": "list",
          "cachedResultUrl": "/workflow/uwFBg2fpc8eIiYLu",
          "cachedResultName": "Mail ToDo Fetch"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        288,
        -240
      ],
      "id": "63ecda15-6aa3-44ec-9e3c-8a5d19f2d6e3",
      "name": "Call 'Mail ToDo Fetch'"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Call 'Mail ToDo Fetch'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "200d89bd-b5c9-438f-832a-c062c05b093d",
  "versionCounter": 11,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-05T16:20:07.489Z",
      "createdAt": "2025-12-05T16:20:07.489Z",
      "role": "workflow:owner",
      "workflowId": "kgpb3gPGTDAR9oB3",
      "projectId": "Ti3JL05CSVUvJj6A",
      "project": {
        "updatedAt": "2025-10-20T20:29:51.468Z",
        "createdAt": "2025-10-20T20:29:10.045Z",
        "id": "Ti3JL05CSVUvJj6A",
        "name": "Berkay Güzel <berkayguzel43@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-20T20:29:10.046Z",
            "createdAt": "2025-10-20T20:29:10.046Z",
            "userId": "63547d7a-5632-4caa-b82b-e1517f572f8f",
            "projectId": "Ti3JL05CSVUvJj6A",
            "user": {
              "updatedAt": "2025-12-05T16:18:55.000Z",
              "createdAt": "2025-10-20T20:29:09.823Z",
              "id": "63547d7a-5632-4caa-b82b-e1517f572f8f",
              "email": "berkayguzel43@gmail.com",
              "firstName": "Berkay",
              "lastName": "Güzel",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-20T20:29:56.564Z",
                "personalization_survey_n8n_version": "1.115.3"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "igqmQcqCfFbzi8Ws",
                "userActivatedAt": 1761636420034,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763316240404
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-12-01T06:23:06.670Z",
      "createdAt": "2025-12-01T06:23:06.670Z",
      "id": "0cbLQ4Aipx5LSkSX",
      "name": "todo"
    },
    {
      "updatedAt": "2025-12-05T16:23:23.113Z",
      "createdAt": "2025-12-05T16:23:23.113Z",
      "id": "chdfMY23MzD2QqyT",
      "name": "start"
    },
    {
      "updatedAt": "2025-11-25T07:28:56.435Z",
      "createdAt": "2025-11-25T07:28:56.435Z",
      "id": "uEPVpiLWGIcHIKbE",
      "name": "non-exectuable"
    }
  ]
}