n8n-workflows/todo_single_executable.json
{
  "updatedAt": "2025-12-03T08:36:17.000Z",
  "createdAt": "2025-11-24T12:33:39.686Z",
  "id": "svveFOQKZRrz6g1q",
  "name": "ToDo Single Executable",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  try {\n    const data = item.json.output;\n    const parsed = JSON.parse(data);\n    results.push({ json: parsed });\n  } catch (error) {\n    // Eğer parse edilemezse hata vermeden geç\n    results.push({ json: { error: 'Invalid JSON', original: item.json.output } });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4000,
        248
      ],
      "id": "180ffff9-d414-44d9-bc98-cd4391a32856",
      "name": "Parse ToDo Data",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "80a0e84d-4258-44f5-873c-35bf3f7800c3",
              "leftValue": "={{ $json.due_date }}",
              "rightValue": 70,
              "operator": {
                "type": "dateTime",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2208,
        -352
      ],
      "id": "46137480-3960-4650-b902-bc512e129be2",
      "name": "If4"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"priority_score\": \"<0-100>\",\n  \"subject\": \"<one-sentence summary of the message>\",\n  \"overall_summary\": \"<short justification for the score>\",\n  \"tasks\": [\n    {\n      \"title\": \"<short actionable task>\",\n      \"description\": \"<optional details about what must be done>\",\n      \"due_date\": \"<ISO date if found, otherwise null>\"\n    }\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -4368,
        400
      ],
      "id": "09c9a811-a040-450a-8846-da7ee3839f36",
      "name": "Structured Output Parser4",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Chat:{{ $json.chatInput }}\nFile: {{ $json.filename }}\nFileContent: {{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an advanced task extraction system.\n\nYour ONLY job is:\n- Read the user message and/or attached file content.\n- Extract all actionable tasks a human would need to do.\n- Create as many tasks as needed (zero, one, or many).\n- Output ONLY a JSON object in the required structure.\n\n----------------------------\nTASK EXTRACTION RULES\n----------------------------\nA task is ANY action the user implicitly or explicitly wants done, including:\n- preparing something\n- analyzing a file or content\n- summarizing, classifying, transforming\n- generating a report, proposal, plan\n- organizing or extracting information\n- working on multiple sections of a document\n- multi-step work (each step = separate task)\n\nEach task must:\n- be a single action\n- be concise\n- NOT repeat message text verbatim\n- have a title + description\n- have a due_date if found (ISO format), otherwise null\n\n----------------------------\nUSER CUSTOM INSTRUCTIONS (PRIORITY)\n----------------------------\nThe user has provided specific context or focus for this extraction.\nApply the following instructions to guide HOW you identify tasks or WHAT you prioritize.\nHOWEVER, you must STILL output the result in the strict JSON format defined below.\n\nCustom Prompt:\n\"\"\"\n{{ $json.prompt }}\n\"\"\"\n\n----------------------------\nOUTPUT FORMAT\n----------------------------\n\nReturn JSON ONLY in this structure:\n\n{\n  \"tasks\": [\n    {\n      \"title\": \"<short, clear action>\",\n      \"description\": \"<what needs to be done>\",\n      \"due_date\": \"<ISO date or null>\"\n    }\n  ]\n}\n\nIf no actionable work exists, return:\n{\n  \"tasks\": []\n}\n\nNo extra text. No reasoning. No explanation.\nJSON ONLY."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -4568,
        176
      ],
      "id": "6b36d136-74b8-41fc-9c06-ce0566a18e88",
      "name": "Mail Task App",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "-1003257168516",
        "text": "=Error in workflow {{ $workflow.name }}\n{{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1760,
        -64
      ],
      "id": "22608325-b475-4e1f-a07c-2782ecf96dba",
      "name": "Send a text message",
      "webhookId": "334474c1-8a99-4c2e-a320-7e3683e4ea3b",
      "credentials": {
        "telegramApi": {
          "id": "JG4HCYCvUBrFrjrG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -7312,
        832
      ],
      "id": "1b156b0c-0e4e-497c-bae0-e6bb21d615a9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yohuzcpOTpBCKcFi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -7312,
        1040
      ],
      "id": "1dd763a9-36fe-472e-a740-b20a7a82a7cb",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "yohuzcpOTpBCKcFi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/me/todo/lists/{{ $json.todoListId }}/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.title }}\",\n  \"body\": {\n    \"content\": \"{{ $json.description }}\",\n    \"contentType\": \"text\"\n  },\n  \"dueDateTime\": {\n    \"dateTime\": \"{{ $json.due_date }}\",\n    \"timeZone\": \"Europe/Istanbul\"\n  }\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5,
              "batchInterval": 1500
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1984,
        -448
      ],
      "id": "d04da260-6580-4d6f-ab59-a93d7b4b2a38",
      "name": "Create Tasks",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/me/todo/lists?$filter=displayName eq 'Görevler'&$top=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$json.access_token}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3328,
        -160
      ],
      "id": "706810aa-c72b-4adb-ba82-1a75fbcf2504",
      "name": "Get ToDo Lists",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/me/todo/lists/{{ $json.todoListId }}/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.title }}\",\n  \"body\": {\n    \"content\": \"{{ $json.description }}\",\n    \"contentType\": \"text\"\n  }\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5,
              "batchInterval": 1500
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1984,
        -256
      ],
      "id": "7194f3b3-1ab0-4841-81f0-a5fee7e45398",
      "name": "Create Tasks1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.json.access_token,\n    input1.json.telegram_chat_id,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3776,
        -384
      ],
      "id": "bdc41913-b419-4a71-afb4-c9508a5779ee",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.id,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2880,
        -456
      ],
      "id": "7d93da03-2f74-4596-befc-a37d7ac5c8cf",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// Gelen verinin ilk öğesini (listeyi) al ve dizi olarak döndür.\n// Dizi içinde sadece tek bir liste (görevler listesi) olacak.\nreturn [\n  {\n    json: items[0].json.value[0]\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3104,
        -232
      ],
      "id": "49e1c829-b105-4e5e-9094-bc6dcca65a11",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Gelen verinin ilk öğesini (listeyi) al ve dizi olarak döndür.\n// Dizi içinde sadece tek bir liste (görevler listesi) olacak.\nreturn [\n  {\n    json: items[0]\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4000,
        -384
      ],
      "id": "d9f6d8e5-294f-4f4c-88f2-a70bb0330429",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json[\"input1.json->access_token\"];\n\nreturn [\n  {\n    json: {\n      access_token: token\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3552,
        -160
      ],
      "id": "0bffd112-f15f-4fe9-b419-681a253e53f0",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfor (const item of items) {\n  const task = item.json?.task;\n  \n  if (task && task.due_date) {\n    let originalDateValue = task.due_date;\n    \n    // Değerin \"null\" veya boş dize olmadığını kontrol et\n    if (String(originalDateValue).toLowerCase() !== \"null\" && originalDateValue !== \"\") {\n      try {\n        // Tarihi deneme yanılma ile parse etmeye çalış (Graph API ISO 8601 ister)\n        const dateObject = new Date(originalDateValue);\n        \n        // Eğer geçerli bir tarih nesnesi oluşturulabildiyse\n        if (!isNaN(dateObject)) {\n          // ISO 8601 formatına çevir (örn: 2025-11-21T07:55:16.000Z)\n          task.due_date = dateObject.toISOString();\n        } else {\n          // Geçerli bir tarih değilse, due_date'i temizle veya olduğu gibi bırak\n          // Not: Graph API'ye hatalı format gitmesini engellemek için null'a ayarlamak en güvenlisidir.\n          task.due_date = null;\n        }\n      } catch (e) {\n        // Dönüşüm sırasında bir hata oluşursa (çok nadirdir), due_date'i temizle\n        task.due_date = null;\n        console.error(\"Tarih dönüşüm hatası:\", e);\n      }\n    } else {\n        // Değer 'null' dizesiyse veya boşsa, null olarak ayarla (Graph API için uygun)\n        task.due_date = null;\n    }\n  }\n\n  // İşlenmiş öğeyi (hata olsa bile) çıktı dizisine ekle (\"hatalarda devam etsin\" kuralı)\n  output.push(item);\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2656,
        -456
      ],
      "id": "c7632053-c815-4653-9fc7-e04861d5ab9e",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get Current Time",
        "outputFieldName": "time",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -4496,
        400
      ],
      "id": "0477630c-059c-4243-a37c-ae42083bdbb6",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "453c17e9-4868-4e9b-a5c4-ac847b3039ef",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -7312,
        32
      ],
      "id": "a7d26abe-c08b-4e95-8228-6cd866dbf380",
      "name": "Webhook",
      "webhookId": "453c17e9-4868-4e9b-a5c4-ac847b3039ef"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -7312,
        608
      ],
      "id": "77e94b98-64e7-44c3-89c0-ba204dc49869",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7088,
        608
      ],
      "id": "6421eed0-14f6-422d-bf00-a43c43a4c2d3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.access_token,\n    input1.telegram_chat_id,\n    input1.prompt,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5744,
        -136
      ],
      "id": "7589bbb4-d397-4449-a0da-663c0d9c32ba",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "// Gelen tüm verileri al\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // Gelen JSON içindeki 'body' alanına erişim\n  const inputBody = item.json.body;\n  const inputPrompt = item.json.prompt;\n  const fileData = inputBody.file;\n\n  // Dosya verisi var mı kontrol et\n  if (fileData && fileData.data) {\n    results.push({\n      // JSON: AI'a göndereceğin metin (prompt) ve metadata buraya gelir\n      json: {\n        chatInput: inputBody.chatInput, // Kullanıcının yazdığı mesaj\n        filename: fileData.filename,\n        userId: inputBody.userId,\n        prompt: inputPrompt,\n        timestamp: inputBody.timestamp\n      },\n      // BINARY: n8n'in dosyayı işlemesi için gereken standart format\n      binary: {\n        data: {\n          data: fileData.data, // Gelen veri zaten Base64, direkt atıyoruz\n          mimeType: fileData.mimetype,\n          fileName: fileData.filename,\n          fileExtension: fileData.filename.includes('.') ? fileData.filename.split('.').pop() : 'bin'\n        }\n      }\n    });\n  } else {\n    // Dosya yoksa sadece JSON verisini döndür (Hata almamak için)\n    results.push({\n      json: {\n        chatInput: inputBody.chatInput,\n        userId: inputBody.userId,\n        prompt: inputPrompt,\n        warning: \"No file detected\"\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5520,
        224
      ],
      "id": "f89f8bb4-9730-4da1-a6a0-8a26e3b009d1",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -5072,
        -40
      ],
      "id": "d71aa927-7355-4b55-9520-02ea3c4c82d1",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.text,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -4848,
        176
      ],
      "id": "17c1608a-c1ca-4a19-9763-c419d441359d",
      "name": "Merge3"
    },
    {
      "parameters": {
        "jsCode": "// Gelen veriyi al\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // 1. Ana verideki ID'yi ve Token'ı al\n  const originalId = item.json.id;\n  const accessToken = item.json[\"input1.json->access_token\"];\n  \n  // 2. Task listesini al\n  const tasks = item.json.tasks || [];\n  \n  // 3. Her bir task'i işle\n  for (const task of tasks) {\n    \n    // Temel objeyi oluştur (Due Date HARİÇ)\n    const taskObject = {\n        todoListId: originalId,\n        title: task.title,\n        description: task.description,\n        access_token: accessToken,\n        parent_subject: item.json.subject\n    };\n\n    // KONTROL: \n    // 1. task.due_date var mı?\n    // 2. \"null\" yazısı (string) DEĞİL mi?\n    // 3. Boş tırnak \"\" DEĞİL mi?\n    if (task.due_date && task.due_date !== \"null\" && task.due_date !== \"\") {\n        taskObject.due_date = task.due_date;\n    }\n\n    results.push({\n      json: taskObject\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2432,
        -352
      ],
      "id": "4903612e-9944-48e9-9d2a-a6713e9c082e",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.body.userId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7088,
        -208
      ],
      "id": "6bb9f9b0-776d-4420-b146-7ad7f563e4fc",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "eeGTexNNm3ZWrmrC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT * FROM input1 LEFT JOIN input2 ON input1.id = input2.user_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -6864,
        -208
      ],
      "id": "68e20099-d594-444f-a83b-dacf6a1a5f44",
      "name": "Merge4"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "user_credentials",
          "mode": "list",
          "cachedResultName": "user_credentials"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.body.userId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7088,
        176
      ],
      "id": "59aebf0f-0f5e-4192-a634-a6ee5a383994",
      "name": "Select rows from a table1",
      "credentials": {
        "postgres": {
          "id": "eeGTexNNm3ZWrmrC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "numCtx": 131072
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -4624,
        400
      ],
      "id": "194ff3cd-d92a-4068-8def-561cbf3cce20",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "HYP2LXmMoDsk2iKY",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "numCtx": 131072
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -4288,
        608
      ],
      "id": "ac19e537-8812-4bdd-9f41-635daac22353",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "HYP2LXmMoDsk2iKY",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ed15af07-85e1-405a-b773-94c66df29f04",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5296,
        80
      ],
      "id": "f647ee7c-0a3e-4995-9de4-fcd77fe8286c",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{$input.first().json[\"input1.json->telegram_chat_id\"]}}",
        "text": "New Tasks Added - You can check from your outlook",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1088,
        -496
      ],
      "id": "0478f3cc-da4f-4abd-9639-ac22bcc292e2",
      "name": "Send a text message1",
      "webhookId": "334474c1-8a99-4c2e-a320-7e3683e4ea3b",
      "credentials": {
        "telegramApi": {
          "id": "JG4HCYCvUBrFrjrG",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.*,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1312,
        -496
      ],
      "id": "2325f6ea-0e66-4ac2-9e51-99fbffda0c7f",
      "name": "Merge5"
    },
    {
      "parameters": {
        "jsCode": "// Gelen verinin ilk öğesini (listeyi) al ve dizi olarak döndür.\n// Dizi içinde sadece tek bir liste (görevler listesi) olacak.\nreturn [\n  {\n    json: items[0]\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        -400
      ],
      "id": "e8edcda8-9812-4bcf-a214-092a734f97c7",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1760,
        -400
      ],
      "id": "750e74c4-e7b0-4b5f-aca9-a7227f80aa15",
      "name": "Merge6"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5968,
        -208
      ],
      "id": "ef66de64-81d0-455f-b9ae-6aa03b2a4d49",
      "name": "Merge7"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "workflow_prompts",
          "mode": "list",
          "cachedResultName": "workflow_prompts"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6640,
        -280
      ],
      "id": "1f9da4fe-1160-4de0-9ada-7ae71fd2b441",
      "name": "Select rows from a table2",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "eeGTexNNm3ZWrmrC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "workflows",
          "mode": "list",
          "cachedResultName": "workflows"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.workflow_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6416,
        -352
      ],
      "id": "1ac89646-73ee-4139-9bb8-54a0d19785f2",
      "name": "Select rows from a table3",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "eeGTexNNm3ZWrmrC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n    input1.*,\n    input2.*\nFROM\n    input1\nLEFT JOIN\n    input2\nON input1.id = input2.workflow_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -6192,
        -280
      ],
      "id": "efe6a19c-001e-4dae-8953-fb7a19fee918",
      "name": "Merge8"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO error_logs (user_id, error_message, workflow_name, workflow_id, execution_id, status, metadata)\nVALUES (\n  NULLIF('{{ $json.user_id || $json.id || \"\" }}', '')::uuid,\n  '{{ ($json.error?.message || \"Unknown error\").replace(/'/g, \"''\") }}',\n  '{{ $workflow.name.replace(/'/g, \"''\") }}',\n  '{{ $workflow.id }}',\n  '{{ $execution.id }}',\n  'error',\n  '{{ JSON.stringify($json).replace(/'/g, \"''\") }}'::jsonb\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1536,
        -64
      ],
      "id": "6aac5f89-3f9c-42f2-a700-76986baa9071",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "eeGTexNNm3ZWrmrC",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Parse ToDo Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Create Tasks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Tasks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "Mail Task App",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mail Task App": {
      "main": [
        [
          {
            "node": "Parse ToDo Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Create Tasks": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ToDo Lists": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tasks1": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Get ToDo Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "Mail Task App",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Mail Task App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          },
          {
            "node": "Select rows from a table2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Mail Task App",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Select rows from a table2": {
      "main": [
        [
          {
            "node": "Select rows from a table3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Select rows from a table3": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "content-type": "application/json",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "user-agent": "Python/3.13 aiohttp/3.13.2",
            "content-length": "245"
          },
          "params": {},
          "query": {},
          "body": {
            "chatInput": "yarın saat 18:00 a kadar https://genesis.energy.gov/ sitesine bakıp not almam lazım bunu görev olarak ekler misin\n",
            "userId": "103d5077-eea1-47af-8d6f-3f4c63d87aba",
            "timestamp": "2025-12-01T14:42:30.094331"
          },
          "webhookUrl": "http://localhost:5678/webhook/453c17e9-4868-4e9b-a5c4-ac847b3039ef",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "beeb2f8b-5df2-4426-b26c-e090dbfab6ed",
  "versionCounter": 138,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-25T07:28:14.737Z",
      "createdAt": "2025-11-25T07:28:14.737Z",
      "role": "workflow:owner",
      "workflowId": "svveFOQKZRrz6g1q",
      "projectId": "Ti3JL05CSVUvJj6A",
      "project": {
        "updatedAt": "2025-10-20T20:29:51.468Z",
        "createdAt": "2025-10-20T20:29:10.045Z",
        "id": "Ti3JL05CSVUvJj6A",
        "name": "Berkay Güzel <berkayguzel43@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-20T20:29:10.046Z",
            "createdAt": "2025-10-20T20:29:10.046Z",
            "userId": "63547d7a-5632-4caa-b82b-e1517f572f8f",
            "projectId": "Ti3JL05CSVUvJj6A",
            "user": {
              "updatedAt": "2025-12-04T20:18:03.000Z",
              "createdAt": "2025-10-20T20:29:09.823Z",
              "id": "63547d7a-5632-4caa-b82b-e1517f572f8f",
              "email": "berkayguzel43@gmail.com",
              "firstName": "Berkay",
              "lastName": "Güzel",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-20T20:29:56.564Z",
                "personalization_survey_n8n_version": "1.115.3"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "igqmQcqCfFbzi8Ws",
                "userActivatedAt": 1761636420034,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763316240404
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-24T12:37:07.615Z",
      "createdAt": "2025-11-24T12:37:07.615Z",
      "id": "JltU9W7VB1ZMp5s7",
      "name": "executable"
    },
    {
      "updatedAt": "2025-12-02T08:40:18.627Z",
      "createdAt": "2025-12-02T08:40:18.627Z",
      "id": "NCCf83voH9D7wxJ0",
      "name": "editable"
    },
    {
      "updatedAt": "2025-11-26T15:49:38.868Z",
      "createdAt": "2025-11-26T15:49:38.868Z",
      "id": "QncEhlKLYZxVpjw0",
      "name": "data-input"
    }
  ]
}